a:hover, a:focus > .call-to-action{
    text-decoration: none !important;
};

.call-to-action {
    background: $msu-red;
    color: white;
    margin-bottom: 15px;
    img{margin:0px;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    };


    .call-to-action-caption{
      padding-left:15px;
      padding-right:15px;
      padding-bottom:15px;
      height: 120px;

  };


}
