.newsroom-article-detail {
	padding-top: 50px;
	p {
		margin: 30px 0px;
		line-height: 30px;
		font-weight: 500;
	}
	blockquote {
		font-weight: 700;
		font-style: italic;
		background-color: #eeeeee;
		text-align: center;
		padding: 30px 22px; 
	}
	img {
		width: 100%;
	}
}