.container-fluid {
	&.article-container {
		margin-top: 15px;
		.row {
			.article-item {
				padding-top: 45px;
				padding-bottom: 45px;
				img {
					width: 100%;
				    height: 100%;
				    max-height: 450px;
				    object-fit: cover;
				    object-position: center center;
				}
				h4 {
			    	font-size:18px;
			    	font-weight: 400;
			    	text-transform: uppercase;
			    	letter-spacing: 0.15em;
			    	padding-top: 35px;
			    }
			    h3 {
			    	font-size: 24px;
			    	font-weight: 700;
			    	letter-spacing: none;
			    	color: #00447C;
			    }
			    p {
			    	font-size: 20px;
			    	font-weight: 500;
			    	letter-spacing: none;
		    	}
			}
			.article-cta {
				float: none;
				button{
					font-size: 18px;
					padding: 20px 16px;
					margin-top: 20px;
			        background: $msu-red;
			        color: #ffffff;
			        width: 100%;
			        // max-width: 320px;
			        font-weight: 800;
			        border-radius: 0px;
				}
			}
		}
	}
}