.news-hero {
	margin-bottom: 20px;
	img {
		width: 100%;
		max-height: 1000px;
		object-fit: cover;
		object-position: center center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
		bottom: 70px;
		margin-bottom: -70px;
		.hero-tab {
			letter-spacing: 0.15em;
			background-color: rgba(0,0,0,0.9);
			padding-bottom: 20px ;
			padding-top:10px;
			h1 {
				font-size: 22px !important;
				font-weight: 700;
				// padding: 5px 0px;
			}
			h2 {
				font-size: 14px;
				font-weight: 700;
				padding: 5px 0px;
			}
			h3 {
				font-weight: 400;
				font-size: 14px;
				padding-bottom: 20px;
				margin: 0px;
			}
		}
	}
}
