.homepage-hero {
	img {
		width: 100%;
		// exact height specified on full width image from delivered specs
		max-height: 1258px;
		object-fit: cover;
		object-position: center center;
	}
	.container {
		.hero-tab {
			h3 {

			}
			h2 {

			}
			h4 {

			}
		}
	}
}