body {
  background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABQAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAACAgICAgICAgICAwICAgMEAwICAwQFBAQEBAQFBgUFBQUFBQYGBwcIBwcGCQkKCgkJDAwMDAwMDAwMDAwMDAwMAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABJAEkDAREAAhEBAxEB/8QAgQAAAwEBAQEAAAAAAAAAAAAAAQIDBAAFCQEBAQEAAAAAAAAAAAAAAAAAAAECEAACAQICBwQGBwcFAAAAAAABAgMAESESMUFRYSITBHEyQlKRsdGSIzNicsLScxRUgcHh8UNTY7KToyQ0EQEBAQEBAQAAAAAAAAAAAAAAEQFBITH/2gAMAwEAAhEDEQA/APsVnwkwHfx4batmGyglC+WE3QXJk27Cf3UFHkYwSjhXGQnDUrEb6JU8zgmxB4DfgGGHZvoVaENy5MqkBVYXEQON91AJlvHICLcTaYV/tNuoqiqCiDKjkHTyRo5kdBndU/KxDloLjvcnsGq9EUYgc3BNJA4WAt6KGtWVtsXuUREvADMt3Y8weFbXsd9FQBgPT5jbEsBdFwuu47zRVpVhYSAlOJZTm5a+c76DhGhzMjRkcs4ZcTh276B1QBZcYcrE2utrEndQdMlkAJia7PoJGAjaiKIpvgqAZRe0p/uLvofGGXOIemvCt2STESG2BW2INFO4N2ARblm/qNtH06JHo8W1v9xvvUTxJ5IubIDK3zRgFtoHZRWYyQjpbmaTBb4jbbdQNI0Vj8UEBXwI2k7qCSSQgC5BbKe7h6qBi8YicrpLDEtfXQg9Q0RQZgpu8msa1Iops0VnOVQRbHDRmBoMkphHT9EC0akiTy6wu2iHzdOZFLTKMzyWAEeNsug0GzP0v6gf8fsorpDGJpLSLcSC/G/lOHdomozW/KrZl+WMQz7NeiiEZlu6gr3G0Z9JY6aNBHK4DWuVC6MfbRNDPKI3OQ4ldZG/fQVeSS0YsLkyG3YP40NVL3JPLVrtgLkYW7RRUpCuXp1MEV0El8zkYWHbRHGRM3TqYI7lnNsy7t1Fa+b0/wCnX3l9lE8QmZhJKwDWzg8JQ+E6MKKlISIFupJCDhOTZ/KiHABKkKAbC3ysbtvFCpRnhsAvEtj8saDbUKGi7BkkXKtwwyk8vy9g2UU8gsImGW2VyCQh1LqAoFCuGUALjlJ+FtA3aqJ0k8cmdAMFJkXCMY+lTqodKwk5sGK2XMbWUbN1Dw35g7E9K/dolaG5Bf5ytmIJNzoy2oscywctQJkzC4N82pRuNFBQmaG08ZJEZXE44X10EVVbQ8cR0i99V8MTRKDG6TZZkIDAWuvl/ZRVGLnKoZTwEju+Idu6gZ1YkXUaEPh1W2GiYUpKJcpXBZWF8NB3XopGWUOlo2sAbkAayaDH/wBnySe6fbRl6+RGKYyAsx4RhpBoviLxpmiAmI+I1wWN+4KEOIbydPeVbDlC7H6J2igmkIsDmjawJDBh5qAFRaQcGLXJJAvcDdRTMGtGxMfcwHCdZ3UToyX5iqXitZb4qMSvZRWeSYibqAZIRkkON0Ou19F6IBYZLiWFuEG4K6yTQqfN/wAkHpWiLRxRF1+YSHuoMSAaDuooGKLMo4jaVwLpH5bbqEUSNOd0t8wDGMYolu42u9AsIvDFlJOZWtmVMRmGsXoHPOIYBvGQxCruoDJzvg8RGBuGVcbsdlFPKsoeQjKbMmNhfuncdlE1nKOJZiSLPMwwQi2O6imMaFSxjsCqixQ6r7qA5I/JH7poKJJZkuG0nwNja/0qIRpk4CRbNK/hN+7vagKunP6PE3JXKVQDwttegERBgiLJfLHgTl146C1FBTCRfIuLf4xr+saI6TLeIApe4sM0Y0s2ygvKylpwDGSHW4cp5W3UEGZRIbywgmcnKMhOJ7DjQUxET/HiBVVAF1G061tQDMf1UfvR/dooJ8uP6zeujKDfLH4zfao00Q9/pPqj1NROk6b/AMidgop20n6/2hROKN/R7Y/9Roqc+nqfxV+1RMTl7034hopx3ZuyP1UTGuiv/9k=);
  background-attachment: fixed;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -ms-backface-visibility: hidden;
}

p {
  &.news-home-month {
    color: gray;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  &.news-home-day {
    color: gray;
    font-size: 27px;
    font-weight: bold;
  }
  &.news-home-headline {
    color: #337ab7;
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
  }
  &.news-home-intro {
    color: gray;
  }
  &.event-home-headline {
    color: #337ab7;
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
  }
  &.event-home-date {
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
  }
  &.event-home-intro {
    color: gray;
  }
  &.event-home-date {
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
  }
}

hr {
  border-top: 1px solid #e6e1e1;
  margin-top: 15px;
  margin-bottom: 15px;
}