/* !!!

Homepage Spring 2016
CSS Baked on :
Wednesday 06, April, 2016


!!! */
.darkgray { background: #333; }

.lightgray { background: #bcbaba; }

.white { background: #fff; color: #000; }

.black { background: #000; color: #fff; }

.contentlink { background: #1b557a; }

.rowdyblue { background: #00447c; color: #fff !important; }

.rowdyblue:hover { background: #003663; color: #fff !important; }

.rowdyred { background: #c50f3c; color: #fff !important; }

.rowdyred:hover { background: #ad0d35; color: #fff !important; }

.rowdygray { background: #717073; color: #fff !important; }

.rowdygray:hover { background: #646366; color: #fff !important; }

.turquoise-f { color: red !important; }

.turquoise { background: #1ABC9C; }

.turquoise:hover { background: #17a689; }

.greensea { background: #16A085; color: #fff !important; }

.greensea:hover { background: #138a72; color: #fff !important; }

.emerald { background: #2ECC71; color: #fff !important; }

.emerald:hover { background: #29b765; color: #fff !important; }

.nephritis { background: #27AE60; color: #fff !important; }

.nephritis:hover { background: #295; color: #fff !important; }

.peterriver { background: #3498DB; color: #fff !important; }

.peterriver:hover { background: #258cd1; color: #fff !important; }

.belizehole { background: #2980B9; color: #fff !important; }

.belizehole:hover { background: #2472a4; color: #fff !important; }

.amethyst { background: #9B59B6; color: #fff !important; }

.amethyst:hover { background: #8f4bab; color: #fff !important; }

.wisteria { background: #8E44AD; color: #fff !important; }

.wisteria:hover { background: #7f3d9b; color: #fff !important; }

.wetasphalt { background: #34495E; color: #fff !important; }

.wetasphalt:hover { background: #34495e; color: #fff !important; }

.midnightblue { background: #2C3E50; color: #fff !important; }

.midnightblue:hover { background: #4f6f8f; color: #fff !important; }

.sunflower { background: #F1C40F; color: #fff !important; }

.sunflower:hover { background: #dfb50d; color: #fff !important; }

.orange { background: #F39C12; color: #fff !important; }

.orange:hover { background: #e6910c; color: #fff !important; }

.carrot { background: #E67E22; color: #fff !important; }

.carrot:hover { background: #dc7419; color: #fff !important; }

.pumpkin { background: #D35400; color: #fff !important; }

.pumpkin:hover { background: #fa6400; color: #fff !important; }

.alizarin { background: #E74C3C; color: #fff !important; }

.alizarin:hover { background: #e02e1c; color: #fff !important; }

.pomegranate { background: #C0392B; color: #fff !important; }

.pomegranate:hover { background: #c0392b; color: #fff !important; }

.clouds { background: #ECF0F1; color: #000 !important; }

.clouds:hover { background: #67848b; color: #000 !important; }

.silver { background: #BDC3C7; color: #000 !important; }

.silver:hover { background: #6a757d; color: #000 !important; }

.asbestos { background: #7F8C8D; color: #000 !important; }

.asbestos:hover { background: #6c7879; color: #000 !important; }

.concrete { background: #95A5A6; color: #000 !important; }

.concrete:hover { background: #637576; color: #000 !important; }

.darkgray { background: #333; }

.lightgray { background: #bcbaba; }

.white { background: #fff; color: #000; }

.black { background: #000; color: #fff; }

.contentlink { background: #1b557a; }

.rowdyblue { background: #00447c; color: #fff !important; }

.rowdyblue:hover { background: #003663; color: #fff !important; }

.rowdyred { background: #c50f3c; color: #fff !important; }

.rowdyred:hover { background: #ad0d35; color: #fff !important; }

.rowdygray { background: #717073; color: #fff !important; }

.rowdygray:hover { background: #646366; color: #fff !important; }

/* Toolbar Styles */
.toolbar { z-index: 9999; background: #fff; }

.toolbar .quicktools { font-size: 16px; text-align: left; padding-left: 15px; }

.toolbar a.navbar-brand:hover { color: #003663; }

.toolbar button.navbar-toggle { border: none; color: #d11242; font-size: 25px; margin-right: 5px; }

.toolbar button.navbar-toggle span.icon-bar { color: #fff; }

.toolbar .navbar-collapse .navbar-nav li a { padding-top: 15px; padding-bottom: 10px; }

.toolbar ul li a { color: #003663; padding-left: 7px; padding-right: 6px; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

.toolbar ul li a:hover { background: #ecf0f1; color: #333; }

.toolbar .navbar-collapse .navbar-collapse.collapse .nav.navbar-nav.navbar-right { margin: 0; }

.toolbar li.active a { background: #ecf0f1 !important; color: #333 !important; }

.nav-social { border-bottom: 48px solid #d11242; border-left: 35px solid transparent; border-right: 0px solid transparent; height: 0; }

.nav-social > a > i.fa { color: white; font-size: 18px; padding: 15px 10px; }

.navbar { min-height: 46px; border-radius: 0 !important; margin-bottom: 0; }

.navbar-nav { margin: 0; }

.navbar-default { border: none; }

.navbar-collapse { padding-right: 0; padding-left: 0; }

.navbar-static-top { border-width: 0; }

.navbar-brand { height: 57px; }

.dropdown-menu { padding-left: 10px; padding-right: 10px; }

.caret-up { width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid; display: inline-block; margin-left: 2px; vertical-align: middle; }

@media only screen and (max-width: 320px) { .navbar-brand { height: 53px; } }

@media only screen and (max-width: 767px) { .nav-social { background: #d11242; } }

@media only screen and (min-width: 768px) { .nav-social { border-bottom: 48px solid #d11242; border-left: 35px solid transparent; border-right: 0 solid transparent; height: 0; }
  .navbar .navbar-nav { display: inline-block; float: none; margin-bottom: -2px; }
  .navbar .navbar-nav > .quicktools { display: inline-block; float: none; margin-bottom: -2px; }
  ul.dropdown-menu > li a { padding-top: 0; }
  ul.dropdown-menu > li a { font-family: sans-serif; }
  ul.nav.navbar-nav.navbar-center { list-style: none !important; margin: auto !important; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; float: none; display: inline-block; } }

@media screen and (min-width: 992px) { .toolbar-background { background: #d11242; overflow: hidden; position: relative; }
  .toolbar-background .background { display: block; position: absolute; left: 0px; width: 50%; height: 100%; background-color: white; }
  .toolbar-background .container { background: white; padding-left: 0px; padding-right: 0px; } }

@media only screen and (max-width: 1200px) { .toolbar-background > .container { width: 100%; } }

@media only screen and (min-width: 1200px) { .navbar-collapse { padding-right: 0; padding-left: 0; }
  .nav-social { text-align: right !important; padding-right: 0px; } }

/* mainBlueNavigation Styles */
.mainBlueNavigation { background: #00447c; }

.mainBlueNavigation ul li a { color: #fff !important; }

.mainBlueNavigation .dropdown-menu li a { color: #003663 !important; font-size: 16px; margin-left: 0; text-align: left; padding-top: 10px !important; }

.mainBlueNavigation .dropdown-menu li:hover, .mainBlueNavigation .dropdown-menu li:hover a { background: #003663; color: #fff !important; }

.mainBlueNavigation .nav .open > a, .mainBlueNavigation .nav > li > a:active, .mainBlueNavigation .nav > li > a:focus, .mainBlueNavigation .nav > li > a:hover { background-color: transparent; }

.caret-up { width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid; display: inline-block; margin-left: 2px; vertical-align: middle; }

@media only screen and (max-width: 320px) { .navbar-brand { height: 53px; } }

@media only screen and (min-width: 768px) { .mainBlueNavigation { background: url("media/assets/homepagespring2016/home_headerbg.jpg") no-repeat; background-size: cover; }
  .mainBlueNavigation ul li a { color: #fff !important; font-size: 1.2em; font-weight: 100; font-family: 'Fjalla One', sans-serif; padding-top: 20px !important; padding-bottom: 15px !important; }
  ul.dropdown-menu > li a { padding-top: 0; }
  ul.dropdown-menu > li a { font-family: sans-serif; }
  ul.nav.navbar-nav.navbar-center { list-style: none !important; margin: auto !important; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; float: none; display: inline-block; } }

@media screen and (min-width: 992px) { .mainBlueNavigation ul li a { padding-top: 70px !important; margin: 0 15px 0 10px; } }

@media only screen and (min-width: 1200px) { .mainBlueNavigation ul li a { font-size: 1.5em; } }

/* Carousel Styles */
#slider > a.left.carousel-control, #slider > a.right.carousel-control { color: #fff; }

.carousel-control.right { background: none !important; width: 78px; text-align: left; text-shadow: none !important; }

.carousel-control.left { background: none !important; width: 80px; text-align: right; text-shadow: none !important; }

.carousel-control { opacity: 0.0; }

.fa-inverse { color: #003879 !important; }

.fa-lg { font-size: 1.8em; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img { line-height: 1; margin: auto; width: 100%; }

#carousel-homepage > .carousel-control { opacity: 0.0; -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }

#carousel-homepage:hover > .carousel-control { opacity: 0.5; -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }

.item { overflow: hidden; }

.carousel-caption { position: relative; right: 100%; left: 0; width: 100%; margin-top: 20px; padding: 15px; background: #00447c; color: #fff !important; }

.carousel-caption > h2 { color: #fff !important; font-size: 25px; background: none; border: none; text-align: left; text-shadow: none; font-weight: bold; }

.carousel-caption > h3 { color: #fff !important; font-size: 15px; text-align: left; text-shadow: none; margin-top: 10px; }

.carousel-caption > hr { color: #fff !important; width: 50px; }

.caption-reverse { background: rgba(255, 255, 255, 0.9) !important; color: #003879 !important; text-shadow: none; }

.caption-reverse > h2 { color: #003879 !important; }

.caption-reverse > h3 { color: #003879 !important; }

.caption-reverse > a { color: #003879 !important; }

.caption-readmore { font-size: 18px; color: #fff; text-align: right; }

.caption-readmore > a { color: #fff !important; font-style: italic; }

.caption-reverse { font-size: 18px; color: #003879; text-align: right; text-shadow: none; }

.caption-reverse > .caption-readmore { color: #003879 !important; text-shadow: none; }

.caption-reverse > .caption-readmore hr { border-top: 1px solid #003879 !important; }

.firstheight img { display: none; }

@media only screen and (min-width: 768px) { .carousel-indicators { bottom: 10px; width: 200px; right: 0; left: inherit; }
  .carousel-control { position: absolute; top: 30%; }
  .carousel-caption > h2 { font-size: 32px; }
  .carousel-caption > h3 { font-size: 23px; line-height: 30px; } }

@media screen and (min-width: 992px) { .carousel { margin-bottom: 15px; }
  .calls-to-action > h3 > a { font-size: 1.5em; }
  .carousel-indicators { bottom: 10px; width: 200px; right: 0; left: inherit; }
  .carousel-caption { position: absolute; right: 100%; left: 0; width: 50%; padding: 15px 30px; background: rgba(0, 68, 124, 0.9); } }

.footer { display: block; min-height: 20px; padding: 20px; background: #003663; margin-left: 0; margin-right: 0; }

.footer a, .footer p { color: #fff; font-size: 15px; font-weight: 200; text-align: right; }

.campus-info { border: 0; border-bottom: 1px solid white; margin-bottom: 15px; }

.college-portrait { float: right; }

.footer .fa-2x { font-size: 1.75em; }

.footer .fa { padding: 0px 5px; }

@media only screen and (min-width: 768px) { .campus-info { border: 0; border-right: 1px solid white; border-bottom: 0; margin-bottom: 0; } }

/* Calls to action */
.calls-to-action { padding: 25px; background: url("media/assets/homepagespring2016/calltoactbg.png") no-repeat; background-size: cover; background-color: rgba(52, 152, 219, 0.72); margin-bottom: 15px; }

.calls-to-action > hr { border-top: 1px solid rgba(255, 255, 255, 0.2); margin-top: 15px; margin-bottom: 15px; }

.calls-to-action > h3 > a { color: #F1F0F0; font-weight: 100; font-size: 1em; text-transform: uppercase; font-family: 'Fjalla One', sans-serif; }

@media screen and (max-width: 480px) { .calls-to-action { height: 460px !important; } }

@media screen and (max-width: 767px) { .calls-to-action { height: 446px !important; } }

@media screen and (min-width: 992px) { .calls-to-action > h3 > a { font-size: 1.5em; } }

#layout, #menu, .menu-link { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

#layout { z-index: 9998; padding-left: 200px; left: 0; top: 100px; }

.nav-social { text-align: center !important; padding-right: 0px; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img { line-height: 1; margin: auto; width: 100%; }

.ie8 .img-responsive { display: block; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

.ie8 .navbar-inverse .navbar-brand { color: inherit; }

.ie8 img { display: block; height: auto !important; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

img { max-width: 100%; height: auto; }

.accordion-group { padding: 1em 1em 0.5em; border: 1px solid #e8e8e8; }

.gsc-search-button.gsc-search-button-v2 { width: inherit; height: inherit; }

.promo_date { text-align: right; font-size: small; }

.promo_date + h3 { width: 80%; }

body { background: #E9EDF1; background-attachment: fixed; font-family: Open Sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 20px; color: #333; -webkit-font-smoothing: subpixel-antialiased !important; -ms-backface-visibility: hidden; }

.clickable { cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-family: Open Sans, helvetica, arial, sans-serif; }

h1.hidden { display: none; }

h2 { font-weight: 200; text-align: right; text-transform: uppercase; color: #00529c; font-size: 23pt; width: 100%; margin: 0 0 5px; line-height: 1.3; border-style: none; border-bottom: 1px solid #949fa8; }

h3 { color: #4C4C4D; font-size: 1.8em; }

h4 { color: #3498db; font-size: 18px; font-weight: 500; line-height: 1.3; }

h5 { color: #2c3e50; font-size: 16px; font-weight: 500; }

h6 { color: #e74c3c; font-size: 13px; font-weight: 500; }

.msudenver_logo { padding: 15px; }

.readmore { text-align: right; margin-top: 10px; }

.image_caption { font-size: 12px; line-height: 19px; color: #73787e; }

.well { background: #fff; border: 1px solid #e3e3e3; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-bottom: 20px; padding: 1.2575em; }

.container-fluid { padding-right: 0; padding-left: 0; }

.img-thumbnail, .thumbnail { padding: 0.5em; margin: 1em; }

.btn-primary a { color: #fff; }

.btn-primary a a:hover { text-decoration: none; }

.modal-dialog { padding-top: 12%; }

.nav-social > a > i.fa { color: #fff; font-size: 18px; padding: 15px 10px; }

.custom-search-input { margin-top: 5px; height: 40px; padding: 3px; border: solid 1px #E4E4E4; border-radius: 6px; background-color: #fff; }

.custom-search-input input { border: 0; box-shadow: none; }

.custom-search-input button { margin: 2px 0 0; background: none; box-shadow: none; border: 0; color: #003663; padding: 0 8px 0 10px; border-left: solid 1px #ccc; }

.custom-search-input button:hover { border: 0; box-shadow: none; border-left: solid 1px #ccc; background: none; color: #d11242; }

hr { border-top: 1px solid #e6e1e1; margin-top: 15px; margin-bottom: 15px; }

.navbar-inner { text-align: center; }

.news-events { background: white; padding: 0 25px 15px; margin-bottom: 15px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: #003663; cursor: default; background-color: #fff; border: 0; border-bottom: 3px solid #003663; }

.nav-tabs > li > a { border: 1px solid transparent; border-radius: 0; font-size: 2em; color: gray; text-transform: uppercase; font-family: 'Fjalla One', sans-serif; margin-top: 10px; }

.tab-pane { padding-top: 15px; }

.tab-pane > h4 { text-align: right; text-transform: uppercase; }

.row.news-home-item { margin-bottom: 6px; margin-top: 6px; }

p.news-home-month { color: gray; text-transform: uppercase; margin-bottom: 0; }

p.news-home-day { color: gray; font-size: 27px; font-weight: bold; }

p.news-home-headline { color: #337ab7; font-size: 20px; padding-top: 2px; margin-bottom: 0; }

p.news-home-intro { color: gray; }

p.event-home-headline { color: #337ab7; font-size: 20px; padding-top: 2px; margin-bottom: 0; }

p.event-home-date { color: gray; font-size: 1.2em; font-weight: bold; }

p.event-home-intro { color: gray; }

p.event-home-date { color: gray; font-size: 1.2em; font-weight: bold; }

@media only screen and (min-width: 768px) { #layout { padding: 0; margin: 0 auto; left: 0; }
  #menu { position: relative; left: 0; padding: 0; margin: 0 auto; width: 100%; }
  .header { text-align: left; }
  .navbar .navbar-collapse { text-align: center; } }

@media only screen and (max-width: 1200px) { .msudenver_logo { max-width: 216px; } }
