@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .well {
    background: #fff;
  }
}
html {
  scroll-behavior: smooth;
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
}

body {
  height: 100%;
  font-family: "Gotham A", "Gotham B", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: #00366A;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  margin: 10px 0;
  font-style: italic;
}

h4 {
  color: #00447C;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
}

p.copyright {
  font-size: 16px;
  text-align: right;
}

a {
  color: #092f6b;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
}

a:hover {
  color: #092f6b;
  text-decoration: underline;
  font-weight: 700;
}

.copyright > a {
  color: #00366A;
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: auto;
}

.introduction {
  height: 100vh;
  padding-top: 20vh;
}
.introduction h1 {
  font-size: 3rem;
  color: #00447c;
  text-align: center;
  font-weight: 700;
}

.well {
  background: #fff;
  padding: 25px 30px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.possible-indicator {
  color: #00447c;
  width: 100px;
  height: 100%;
  position: relative;
  top: 10vh;
}

.university-logo {
  width: 200px;
  text-align: center;
  margin-top: 10vh;
  text-align: center !important;
}

.possible-word {
  color: white;
  background: #D11242;
  padding: 0 12px 5px;
  letter-spacing: 3.5px;
}

.possible-word-reversed {
  color: #D11242;
  background: #fff;
  margin-right: 5px;
  padding: 0 12px 5px;
}

.blue-background {
  background-color: #00447c;
}
.blue-background h2 {
  margin: 15px 0;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
.blue-background p {
  color: #fff;
}
.blue-background .btn {
  border: solid 3px #fff;
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0;
  margin: 15px;
}
.blue-background .btn:hover {
  border: solid 3px #00447c;
  padding: 20px;
  color: #00447c;
  font-size: 1.5rem;
  border-radius: 0;
  background: #fff;
}

button, [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

.card-possible {
  background-color: #D11242;
  padding: 50px 25px;
  margin: 15px 0;
  transition: transform 0.4s;
  border: 1px #D11242 solid;
}
.card-possible p {
  color: white;
  transition: transform 0.4s;
}

.card-possible-reversed {
  background-color: #fff;
  padding: 50px 25px;
  margin: 15px 0;
  transition: transform 0.4s;
  border: 1px #D11242 solid;
}
.card-possible-reversed p {
  color: #D11242;
  transition: transform 0.4s;
}
.card-possible-reversed .btn {
  width: 100%;
}

.modal-content {
  background-color: #fffffff7;
  background-clip: padding-box;
  padding: 25px 30px;
  border-radius: 0;
}
.modal-content h3 {
  font-size: 2.2rem;
  font-weight: 700;
}
.modal-content p {
  font-size: 1.2rem;
}
.modal-content .img-thumbnail {
  margin-left: 15px;
}
.modal-content .btn {
  padding: 10px;
}
.modal-content .btn:hover {
  padding: 10px;
}

.btn {
  border: solid 3px #00447c;
  padding: 20px;
  color: #00447c;
  font-size: 1rem;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn:hover {
  border: solid 3px #00447c;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
  border-radius: 0;
  background: #00447c;
}

.brewing-innovation-in-hospitality {
  background: url(" ../media/possible/abby-brewing-bg.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.brewing-innovation-in-hospitality .well {
  background: #ffffffde;
}

.on-the-front-lines-of-cybersecurity {
  background: url(" ../media/possible/AndrewTraver.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.on-the-front-lines-of-cybersecurity .well {
  background: #ffffffde;
}

.health-in-colorado {
  background: url(" ../media/possible/Health-in-colorado.jpg") no-repeat center center;
  height: auto;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.teaching-tomorrows-teachers-section {
  background: url("../media/possible/Teaching-tomorrow-teachers.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.teaching-tomorrows-teachers-section .well {
  background: #ffffffde;
}

.possible-call-to-action {
  background: url("../media/possible/open-house-student.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.possible-call-to-action .well {
  background: #ffffffde;
  padding: 25px 30px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

#master-your-future {
  padding-bottom: 20vh;
  background-color: #D11242;
}
#master-your-future h2, #master-your-future h3 {
  color: white !important;
  margin-bottom: 15px;
}
#master-your-future .copy-swap {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
}
#master-your-future .copy-swap p, #master-your-future .copy-swap a, #master-your-future .copy-swap a:hover {
  color: #00447c;
}

#possible-movie {
  padding-top: 0;
  padding-bottom: 0;
}
#possible-movie .movie-section iframe {
  height: 80vh;
  left: 0;
  top: 0;
  width: 100%;
}

.background-right-copy {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  color: #00366A;
  background-color: #fff;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.footer .possible-footer {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.footer .university-logo-footer {
  width: 260px;
}

.dropdown, .dropdown-menu {
  width: 35rem;
}
.dropdown a, .dropdown-menu a {
  font-size: 1.3rem;
  font-weight: 400;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #00447C;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #00447C;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@keyframes fade-in-logo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fade-in-caret {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes text-fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: text-fade-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-fade-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-in-logo {
  animation: fade-in-logo ease 3s;
  -webkit-animation: fade-in-logo ease 3s;
  -moz-animation: fade-in-logo ease 3s;
  -o-animation: fade-in-logo ease 3s;
  -ms-animation: fade-in-logo ease 3s;
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0s;
}

.fade-in-caret {
  animation: fade-in-caret ease 3s;
  -webkit-animation: fade-in-caret ease 3s;
  -moz-animation: fade-in-caret ease 3s;
  -o-animation: fade-in-caret ease 3s;
  -ms-animation: fade-in-caret ease 3s;
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0s;
}

.navbar {
  display: block;
  background-color: #00447c;
  z-index: 999;
  width: 100%;
}
.navbar h2 {
  margin: 15px 0;
  color: #fff;
}
.navbar p {
  color: #fff;
}

.navbar-fixed-top {
  position: fixed;
  top: 0px;
  display: block;
  background-color: #00447c;
  z-index: 999;
  width: 100%;
}
.navbar-fixed-top h2 {
  margin: 15px 0;
  color: #fff;
}
.navbar-fixed-top p {
  color: #fff;
}

#nav-showing {
  border-left: 4px double #fff;
  border-radius: 0;
}

@media only screen and (min-width: 544px) {
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
  }

  .introduction {
    height: 100vh;
    padding-top: 35vh;
  }

  .possible-word {
    letter-spacing: 1.5px;
    margin-left: -5px;
  }

  .possible-word-reversed {
    margin-left: -2px;
  }

  .possible-indicator {
    top: 15vh;
  }

  .health-in-colorado {
    background: url(" ../media/possible/Health-in-colorado.jpg") no-repeat center center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .teaching-tomorrows-teachers-section {
    background: url("../media/possible/Teaching-tomorrow-teachers.jpg") no-repeat center center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .brewing-innovation-in-hospitality {
    background: url(" ../media/possible/abby-brewing-bg.jpg") no-repeat center center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .on-the-front-lines-of-cybersecurity {
    background: url(" ../media/possible/AndrewTraver.jpg") no-repeat center center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .possible-call-to-action {
    background: url("../media/possible/open-house-student.jpg") no-repeat center center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media only screen and (min-width: 992px) {
  section {
    padding-top: 18vh;
    padding-bottom: 15vh;
    height: auto;
  }

  .introduction h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  p {
    font-size: 1.25rem;
  }

  .possible-indicator {
    top: 10vh;
  }

  .possible-call-to-action .btn {
    border: solid 3px;
    font-size: 1.5rem;
  }
  .possible-call-to-action .btn:hover {
    font-size: 1.5rem;
  }

  .copy-swap {
    margin-top: 35px;
    margin-right: -75px;
    z-index: 1;
    background-color: white;
    position: absolute;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.175);
    padding: 10%;
  }
  .copy-swap p, .copy-swap a, .copy-swap a:hover {
    color: #00447c !important;
  }

  #nav-showing {
    border-left: none;
  }
}

/*# sourceMappingURL=possible.css.map */
