/*
Error: Invalid CSS after "...al-header.scss"": expected "{", was ";"
        on line 34 of development/terminalfour/src/sass/style.scss

29: @import "msu-partials/homepage-news";
30: @import "msu-partials/homepage-at-a-glance";
31: @import "msu-partials/homepage-community";
32: @import "msu-partials/homepage-events";
33: <<<<<<< HEAD
34: @import "msu-partials/global-header.scss";
35: =======
36: @import "msu-partials/footer";
37: >>>>>>> homepage-post50th

Backtrace:
development/terminalfour/src/sass/style.scss:34
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...al-header.scss\"\": expected \"{\", was \";\"\A         on line 34 of development/terminalfour/src/sass/style.scss\A \A 29: @import \"msu-partials/homepage-news\";\A 30: @import \"msu-partials/homepage-at-a-glance\";\A 31: @import \"msu-partials/homepage-community\";\A 32: @import \"msu-partials/homepage-events\";\A 33: <<<<<<< HEAD\A 34: @import \"msu-partials/global-header.scss\";\A 35: =======\A 36: @import \"msu-partials/footer\";\A 37: >>>>>>> homepage-post50th"; }
