/**
    Site-wide footer
**/
footer {
    margin-top: 8px;
    margin-top: torem(8);
    background: url() no-repeat center center;
    -webkit-background-size:  cover;
    -moz-background-size:     cover;
    -o-background-size:       cover;
    background-size:          cover;
    background-position:      center top;
}

/* For the background color gradient in mobile */
@media (max-width: $screen-sm-max) {
    .footer-bg-mob {
        background-color: white;
    }
}

.footer-container {
    @include container-fixed();
    padding-bottom: 48px;

    *:not(.btn) { color: $primaryBlue; }
}
/* Used inbetween html rows in the footer */
.footer-row-hr {
    border-top-width: 2px;
    margin: 0;
}

.footer-nav li {
    margin-bottom: 0;
    padding: 0;
    &:last-of-type {
        a {
            border-bottom: none;
        }
    }
}
.footer-nav a {
    display: block;
    padding: torem(15) 0;
    font-weight: 500;
    font-size: torem(14);
    border-bottom: 1px solid #e3e7ec;
}
/* Footer promos */
.footer-promos-row, .footer-menu-row {
    @include make-row();
    padding-top: 36px;
    padding-bottom: 36px;
    padding-top: torem(36);
    padding-bottom: torem(36);
}
.footer-promos-row {
    padding-bottom: 14px;
    padding-bottom: torem(14);
}
.footer-promo {
    display: block;
    margin-bottom: torem(22);
}
.footer-promo-bg {
    display: block;
    padding: 15% 0;
    background-size: cover;
    background-position: center center;
    text-align: center;
    @include clearfix;
}
.footer-promo-heading,
.footer-promo-text {
    font-family: $font-family-sans-serif;
    font-weight: 500;
    font-size: torem(18);
    line-height: torem(20);
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    min-height: torem(72);
    background-color: rgba($primaryBlue, 0.8);
    display: table;
    width: 100%;
    span {
        display: table-cell;
        vertical-align: middle;
    }
}
.footer-promo-heading {
    text-transform: uppercase;
    span {
        color: white !important;
    }
}
.footer-promo-text {
    display: none;
    background-color: rgba($white, .8);
}
.footer-promo-bg:hover,
.footer-promo-bg:focus,
.footer-promo-bg:active {
    .footer-promo-heading {
        display: none;
    }
    .footer-promo-text {
        display: table;
    }

}
/** Footer links and contacts row **/
.footer-links, .footer-campus-info, .footer-logo {
    @include make-xs-column(12);
    margin-bottom: 16px;
    margin-bottom: torem(16);
}
.footer-campus-info {
    font-weight: 500;
    .fa {
        text-align: center;
    }
    p {
        line-height: torem(40);
    }
}
.footer-links-row {
    @include make-row();
}
.footer-links-col, .social-mobile {
    @include make-xs-column(12);
}
.social-mobile {
    margin-top: 18px;
    margin-top: torem(18);
    &.footer-social { padding: 0 10%; }
}

/* Footer links type elements */
.footer-nav {
    margin-bottom: 0;
    padding: 0 20%;
}
.footer-nav li {
    text-align: center;
}

/* Does the border after each link */
.footer-nav li:after {
    content: " ";
    display: block;
    height: 1px;
    background: $white;
    width: 100%;
    position: relative;
    opacity: 0.2;
    bottom: -12px;
    z-index: 10;
}
.footer-links-col {
    &:nth-child(2) li:last-child:after {
        display: none;
    }
}
.privacy-statement {
    font-size: 12.8px;
    font-size: torem(12.8);
    text-align: center;
    font-weight: 500;
}

.footer-logo {
    text-align: center;

}
.footer-logo-img {
    margin: 0 auto 4rem;
    max-width: 250px;
}

.footer-social {

    margin-top: torem(50);
    li {
        display: inline-block;
        margin-right: torem(30);
    }
    .fa {
        font-size: torem(30);
        -webkit-transition:  color  0.1s     ease-in;
        -moz-transition:     color  0.1s     ease-in;
        -o-transition:       color  0.1s     ease-in;
        transition:          color  0.1s     ease-in;
        color: $msu-red;
        &:hover {
            color: $primaryBlue;
        }
    }
}

/** Footer media queries **/
@media (min-width: $screen-sm-min) {
    .footer-promo {
        @include make-sm-column(4);
    }
    .footer-logo-img {
        max-width: 180px;
    }

    .footer-links-col {
        @include make-sm-column(6);
        li:last-child:after {
            display: none;
        }
    }
    .footer-nav {
         padding: 0;
    }
    .footer-campus-info, .footer-logo {
        @include make-sm-column(6);
        margin-top: 18px;
        margin-top: torem(18);
    }


}
@media (min-width: $screen-md-min) {
    .footer-container {
        padding-bottom: 800px;
        background-image: url(/style-assets/media/placeholder-images/tivoli-image-footer.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .footer-btn:hover, .footer-btn:focus, .footer-btn:active {
        color: $msu-red;
        text-decoration: none;
    }
    .footer-campus-info, .footer-logo {
         margin-top: 0;
    }
}
@media (min-width: $screen-lg-min) {
    footer {
        .homepage-btn { float: right; }
    }
    .footer-container {
        padding-left: percentage(1/$grid-columns) ;
        padding-right: percentage(1/$grid-columns) ;
    }
    .footer-links {
        @include make-lg-column(6);
        li {
            text-align: left;
            &:first-child {padding-top: 0;}
        }
    }
    .footer-campus-info {
        @include make-lg-column(4);
    }
    .footer-logo {
        @include make-lg-column(2);
    }
    .footer-nav {
        padding: 0;
        li:last-child:after {
            display: none;
        }
    }
}
