/* MainHeaderNavigation Styles */
.blue-header {
  // background: #00447c;
  background-image:url(../media/RYOR_bg_extended.png);
}

.navbar .navbar-collapse {
  text-align: center;
}

.toolbar {
  z-index: 9999;
    .navbar-collapse {
  }
  button.navbar-toggle {
    color: #fff;
    font-size: 25px;
  }

  ul a li {
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00447c;
    padding-left: 1.5em;
    padding-right: 1.4em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  ul a li:hover {
    color: #333;
  }
}

.navbar {
  min-height: 46px;
  border-radius: 0!important;
  margin-bottom: 0;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.pushdown-menu {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 0px;
  text-decoration: none;
  text-align: left;
  list-style-type: inherit;
  padding-left: 0.5em;
  text-indent:-0.6em;
  display: none;
  border-right: 1px solid black;
  border-spacing: 10px;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
}

.nav > a > li {
  display: inline;
  line-height: 50px;
  font-weight: 800;
  font-size: 1.0em;
  padding-bottom: 8px;
}
//begin expanding search css
#content-nav {
  background-color: #fff;
  max-height: none;
  transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.175);
}

#content-nav #nav-search-close {
  position: relative;
  top: -78px;
  left: 50em;
  color: #007dc3;
  cursor: pointer;
  font-size: 1.3em;
}

#content-nav .search-input-desktop {
  display: none;
  position: absolute; // was relative
}

#content-nav #search-input div {
  padding-right: 0 !important;
  top: 3px !important;
}

#content-nav #search-input input[type=text] {
  display: inline-block;
  height: 50px;
  width: 32em;
  border: none;
  color: #6E6E6E;
  border: 2px solid #fff;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
}

#content-nav #search-input .search-button {
  display: inline-block;
  padding-left: 3px;
  top: -3.3em;
  left: 26em;
  position: relative;
  height: 2.8em;
  width: 8.0em;
  background-color: #007dc3;
  border-radius: 2;
  letter-spacing: 5px;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 500;
}

#content-nav #search-input .search-button:hover {
  color: #fff;
  background-color: #00447c;
  ::-webkit-input-placeholder {
    color: #fff;
    background-color: #00447c;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: gray;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
  }

  :-ms-input-placeholder {
    color: gray;
  }
}

.search-button {
  height: 35px;
  line-height: 35px;
  display: block;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Gotham A', 'Gotham B';
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #fff;
  border: 0;
}

.search-button:hover {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Gotham A', 'Gotham B';
}

.search-button:focus {
  text-decoration: none;
  color: #FFF;
}

.fa-search {
  color: #007dc3 !important;
  padding-top: 1.3em;
  font-size: 1.2em;
  cursor: pointer;
}

.fa-search-opened {
  color: #717171 !important;
  padding-top: 10px;
  font-size: 1.2em;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 12px;
  top: 0.77em;
  border-radius: 5px 0 0 5px;
  cursor: unset;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style glyph */
.inner-addon .fa-search {
  position: absolute;
  padding: 0.9em 1em 1em 3em;
  pointer-events: none;
}
/* align glyph */
.left-addon .fa-search {
  left: 0.3em;
  top: -0.45em;
}

/* add padding  */
.left-addon input {
  padding-left: 8em;
  width: 101%;
}

/* add back pointer functionality for x-out button  */
.fa-close {
  pointer-events: all !important;
}
//end expanding search css
.apply-button {
  background: #d11242;
  color: white;
  font-size: 1.0em;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 0.3em 0.3em;
  width: 7%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  margin-left: 0.15em;
  margin-right: 1em;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}

.apply-button:hover {
  background: #a60029;
}

.give-visit-buttons {
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
  background: gray;
  margin-right: 0em;
}

.give-visit-buttons:hover {
  background: #424448;
}

.visit-give-mobile {
  background: gray;
  color: white;
  font-size: 1.0em;
  border-radius: 5px 5px 5px 5px;
  margin: 0.25em 0.25em 0em 0em;
  text-align: center;
  width: 99%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
  display: none;
}

.apply-mobile {
  background: #d11242;
  color: white;
  font-size: 1.0em;
  border-radius: 5px 5px 5px 5px;
  margin: 0.25em 0.25em 0.4em 0em;
  text-align: center;
  width: 99%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
  display: none;
}

.msudenver_logo {
  padding: 15px 0px;
  max-height:65px;
}

#search-input #search-text {
  height: 14px;
  border-style: none;
  border-color: inherit;
  border-width: 0;
  width: 207px;
  margin-top: 3px;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0em;
  color: #bcbcbc;
  letter-spacing: 2px;
}

#search-input #autoSuggestResults {
  display: none;
  position: absolute;
  z-index: 2;
  width: 794px;
  margin-left: 15px;
  margin-top: 36px;
  background-color: white;
  border: 1px solid #999;
  box-shadow: 3px 3px 3px #AAA;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Verdana;
  font-size: 8pt;
  color: #999;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.gobutton #searchGoLink.disableGoButton {
  visibility: hidden;
}

.fa-bars {
  background-color: #005fae;
  padding: 24px;
  margin: -17px -30px -16px -16px;
}

.fa-search-mobile {
  color: #fff !important;
  font-size: 20px !important;
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
}

.search-desktop {
  display: none !important;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.nav > a > li:focus, .nav > a > li:hover {
    background-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.pushdown-menu>li>a {
    font-weight: 600;
    font-size: 1.2em;
}
.search-input-mobile {
  display: none;
}

#content-nav {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  letter-spacing: 3px;
  font-weight: 700;
  padding-left: 3px;
  color: #6E6E6E;
  border: none;
  width: 100%;
}

#content-nav-mobile {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  letter-spacing: 5px;
  font-weight: 500;
  padding-left: 3px;
  color: #6E6E6E;
  border: none;
  width: 100%;
  display: none;
}

.fa-search-opened-mobile {
  color: #007dc3 !important;
  padding-top: 10px;
  font-size: 1.2em;
  padding-right: 30px;
  padding-left: 50px;
  padding-bottom: 12px;
  top: 0.0em;
  border-radius: 5px 0 0 5px;
  cursor: unset;
  z-index: 1;
}

.menu-last {
  margin-right: 0em;
  border-right: none !important;
}

.nav > a > li {
  padding-left: 0px;
  padding-top: 3px;
}

.mobile-header {
  cursor: pointer;
}

.faculty-staff-students a {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: -1.0em;
  color: #fff;
  padding-bottom: 0.6em;
  display: none;
}

col-xs-12, .faculty-staff-students {
  text-align: right;
}

.navbar-nav > a > li {
  line-height: 0.1em !important;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.nav > li > a{
  -webkit-transition: font-weight .15s ease;
  -moz-transition: font-weight .15s ease;
  -o-transition: font-weight .15s ease;
  transition: font-weight .15s ease;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #001e36;
    font-weight: 800;
}

.container .pushdown-menu {
  padding-left: 0em !important;
  border-right: none;
}

.navbar-toggle {
  margin-bottom: 0em !important;
  margin-right: 0em !important;
  margin-top: 0em !important;
  padding: 14px 10px !important;
  display: block;
}

#nav-faculty {
  width: auto;
}
#nav-admissions {
  width: auto;
}
#nav-academics {
  width: auto;
}
#nav-campus {
  width: auto;
}
#nav-alumni {
  width: auto;
}
#nav-search {
  width: 1em;
}

@media screen and (max-width: 450px) {
  .fa-search-mobile {
    padding-right: 10px;
    padding-left: 10px;
  }
  .msudenver_logo {
    max-height: 56px;
  }
  .fa-bars {
    padding-left: 10px;
    margin: -16px -30px -16px -10px;
  }
}


@media screen and (max-width: 991px) {

  .navbar-collapse {
    border-top: 5px solid #005fae;
  }
  .navbar .navbar-collapse .search-input-mobile, .navbar .navbar-collapse {
    text-align: left;
    border-right: none;
  }
  #content-nav #search-input input[type="text"] {
    width: 100%;
  }
  #content-nav #nav-search-close {
    left: 70%;
  }
  #content-nav-mobile {
    display: block;
    padding-left: 0px;
    width: 101%;
    text-align: left;
  }
  .left-addon input {
    padding-top: 3px !important;
    padding-bottom: 2px;
  }
  .blue-header {
    border-bottom: 5px solid #005fae;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 0px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7px 0px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 1.8em;
      padding-right: 1.8em;
  }
  .collapse.in{
      display:block !important;
  }

  .apply-button {
    display: none;
  }
  .pushdown-menu {
    margin-top: 0em;
    padding-top: 0em;
    margin-left: 2em;
  }
  .visit-give-mobile, .apply-mobile {
    display: block;
  }
}


@media (min-width: $screen-md-min) {

  body {
    padding-top: 123px;
  }
  .msudenver_logo {
    max-height:100px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -2px;
  }

  .search-desktop {
    display: block !important;
  }
  li.dropdown {
    border-right: 2px solid #4cb4f2;
    font-size: 0.74em;
    margin-top: 10px;
    margin-bottom:7px;
    padding: 5px 0px;
    border-bottom: none;
    margin-right: 0.8em;
  }

  li.dropdown.last {
    border-right: none;
    margin-right: none;
  }

  ul.pushdown-menu > a li {
    padding-top: 0;
  }

  ul.nav.navbar-nav.navbar-center {
    list-style: none;
    margin: auto !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: none;
    display: inline-block;
  }

  .navbar-collapse #wrapper {
    display: none;
  }

  .fa-search-mobile {
    display: none !important;
  }


  .container-dropdown {
    display: none;
  }

  li.dropdown {
    padding: 5px 0px;
    font-size: 1.08em;
  }

  #content-nav #search-input input[type=text] {
    width: 65em;
  }

  #content-nav #nav-search-close {
    top: -84px;
    left: 14em;
  }

  .blue-header {
    height: 10em;
  }
  #content-nav {
    background: linear-gradient(to bottom, #fff 0px,#fff 60px, #ddd 60px);
  }
  .mobile-header {
    border-right: 1px solid #337ab7;
  }
  .container .pushdown-menu {
    border-right: 1px solid #4cb4f2;
  }
  .faculty-staff-students a {
    display: inline-block;
  }
  #nav-faculty {
    width: 11em;
  }
  #nav-admissions {
    width: 12em;
  }
  #nav-academics {
    width: 12em;
  }
  #nav-campus {
    width: 10em;
  }
  #nav-alumni {
    width: 10em;
  }
  #nav-search {
    width: 1em;
  }
  .navbar-toggle {
    display: none;
  }
  .mobile-header > .fa.fa-chevron-down {
    display: none;
  }
  .left-addon .fa-search {
    top: 0em;
  }
  .pushdown-menu {
      height: 27em;
  }
  .fac-staf-stu-mobile {
    display: none;
  }
}

@media (max-width: $screen-xs-max) {



}


.header-container {
    @include container-fixed();
}

@media (min-width: $screen-sm-min) {



}

@media (min-width: $screen-md-min) {
  .navbar-nav > li > a {
      padding-bottom: 8px;
  }
  #content-nav {
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 4em;
  }
  .mobile-header {
    margin-top: 5px;
  }

  #content-nav #nav-search-close {
      top: -3.2em;
      left: 19.2em;
  }
  #nav-faculty {
    width: 11em;
  }
  #nav-admissions {
    width: 14em;
  }
  #nav-academics {
    width: 11em;
  }
  #nav-campus {
    width: 11em;
  }
  #nav-alumni {
    width: 10em;
  }
  #nav-search {
    width: 0em;
  }
  #content-nav #search-input input[type="text"] {
      padding-top: 0.3em;
  }
}

@media (min-width: $screen-lg-min) {
  .header-container {
        padding-left: percentage(1/$grid-columns) ;
        padding-right: percentage(1/$grid-columns) ;
    }
  #content-nav {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 18px;
      padding-right: 6em;
      padding-left: 0em;
  }
.msudenver_logo {
    max-height:150px;
  }
  li.dropdown {
  padding: 5px 0px;
  font-size: 1.33em;
  }
  .fa-search {
  font-size: 1.2em;
  padding-top: 0.9em;
  }
  #content-nav #search-input input[type=text] {
    width: 89em;
  }
  #content-nav #nav-search-close {
      top: -67px;
      left: 12.6em;
  }
  #content-nav #search-input .search-button {
      top: -3.3em;
      left: 17em;
  }


  li .pushdown-menu {
      font-weight: 500;
      font-size: 0.8em;
  }

  #nav-faculty {
    width: 11em;
  }
  #nav-admissions {
    width: 15em;
  }
  #nav-academics {
    width: 12em;
  }
  #nav-campus {
    width: 11em;
  }
  #nav-alumni {
    width: 11em;
  }
  #nav-search {
    width: 0em;
  }
  .apply-button {
    font-size: 1.2em;
    padding: 0.3em 0.3em;
    width: 8%;
    font-weight: 600;
    margin-left: 0.15em;
    margin-right: 0em;
  }
  .pushdown-menu {
      height: 26em;
  }
}

@media only screen and (min-width:1358px) {

  #search-input #search-text {
    font-size: 14px;
  }

  .left-addon .fa-search {
    font-size: 23px;
    top: -0.2em;
  }

  #content-nav #nav-search-close {
    font-size: 20px;
    top: -3.2em;
    left: 19em;
  }

  .fa-search {
    margin-right: 12px;
    padding-top: 0.9em;
  }

  .search-desktop {
    top: 0.3em !important;
  }
  #content-nav #search-input .search-button {
    top: -2.7em;
    height: 30px;
    width: 130px;
    left: 19em;
  }

  .search-button {
    font-size: 14px;
    line-height: 31px;
  }
  #content-nav #search-input input[type=text] {
    width: 97em;
  }

  #nav-faculty {
    width: 13em;
  }
  #nav-admissions {
    width: 17em;
  }
  #nav-academics {
    width: 13em;
  }
  #nav-campus {
    width: 13em;
  }
  #nav-alumni {
    width: 13em;
  }
  #nav-search {
    width: 0em;
  }
  #content-nav{
      padding-right: 4em;
  }
  .pushdown-menu {
      height: 22em;
  }
}

@media only screen and (min-width:1500px) {

  #content-nav #nav-search-close {
    left: 28em;
  }
  #content-nav #search-input .search-button {
    left: 32em;
  }

  #nav-faculty {
    width: 15em;
  }
  #nav-admissions {
    width: 19em;
  }
  #nav-academics {
    width: 15em;
  }
  #nav-campus {
    width: 15em;
  }
  #nav-alumni {
    width: 15em;
  }
  #nav-search {
    width: 0em;
  }
  .apply-button {
    font-size: 1.4em;
    padding: 0.3em 0.3em;
    width: 7%;
    font-weight: 600;
    margin-left: 0.15em;
  }
  .left-addon input {
    padding-left: 9em;
  }
  .left-addon .fa-search {
    left: 1.5em;
  }
}
