/* MainHeaderNavigation Styles */
$bgColor: #ebf1faed;
$white: white;
$primaryBlue: #002855;
$primaryRed: #d11242;
$highlightPrimaryBlue: #7591bc;

.navbar .navbar-collapse {
  text-align: center;
}

.main-site-header {
  background-color: $bgColor;

}
.msudenver_logo, .msudenver_logo_change {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fac-staf-stu-mobile {
 padding-left: 20px !important;
 font-weight: 500;
 line-height: 2.5em;
 a {
   color: $primaryBlue;
 }
}

.additional-links {
  margin: 0;
}
.navbar {
    border: 0;
    margin-bottom: 0;
    border-radius: 0px;
    background: #002855;


  ul li {
    font-family: $font-family-serif;
    color: white;
    // padding-right: .25em;
    // padding-left: .25em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    list-style: none;
  }
  ul li:hover {
    color: #333;
  }
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}



.nav > a > li {
  display: inline;
  line-height: 50px;
  font-weight: 800;
  font-size: 1.0em;
  padding-bottom: 8px;
}

#bs-example-navbar-collapse-1 {
 overflow-y: scroll;
}

.apply-button {
  background: $primaryRed;
  color: $white;
  font-size: 1.0em;
  text-align: center;
  padding: 0.3em 0.3em;
  width: 8%;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  margin-left: 0.15em;
  margin-right: .5em;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}

.apply-button:hover {
  background: darken($primaryRed, 5%);
}

.give-visit-buttons {
  background: gray;
  margin-right: 0em;
  -webkit-transition: background .25s ease;
     -moz-transition: background .25s ease;
       -o-transition: background .25s ease;
          transition: background .25s ease;
}

.give-visit-buttons:hover {
  background: #424448;
}

ul.nav.navbar-nav li .visit-give-mobile {
  background: $gray;
  color: $white;
  font-size: 1.0em;
  margin: 0.75em 0.25em 0em 0em;
  text-align: center;
  width: 99%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
  // display: none;
}

.apply-mobile {
  background: $primaryRed;
  color: white;
  font-size: 1.0em;
  margin: 0.75em 0.25em 0.4em 0em;
  text-align: center;
  width: 99%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
  // display: none;
}

.msudenver_logo {
  margin: 24px 15px;
  height: 50px;
  float: left;
}



.faculty-staff-students a {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: -1.0em;
  color: #fff;
  padding-bottom: 0.2em;
  padding-left: 6px;
  display: none;
}



col-xs-12, .faculty-staff-students {
  text-align: right;
  margin-top: -35px;
}




#nav-faculty {
  width: auto;
}
#nav-admissions {
  width: auto;
}
#nav-academics {
  width: auto;
}
#nav-campus {
  width: auto;
}
#nav-alumni {
  width: auto;
}


// fix anchor tag jump padding from top on A-to-Z page
a[name="A"]:before, a[name="B"]:before, a[name="C"]:before, a[name="D"]:before, a[name="E"]:before, a[name="F"]:before, a[name="G"]:before, a[name="H"]:before, a[name="I"]:before, a[name="J"]:before, a[name="K"]:before, a[name="L"]:before, a[name="M"]:before, a[name="N"]:before, a[name="O"]:before, a[name="P"]:before, a[name="Q"]:before, a[name="R"]:before, a[name="S"]:before, a[name="T"]:before, a[name="U"]:before, a[name="V"]:before, a[name="W"]:before, a[name="X"]:before, a[name="Y"]:before, a[name="Z"]:before {
    content: "";
    display:block;
    height:180px; /* fixed header height*/
    margin:-180px 0 0;
}

@-moz-document url-prefix() {
  a[name="A"], a[name="B"], a[name="C"], a[name="D"], a[name="E"], a[name="F"], a[name="G"], a[name="H"], a[name="I"], a[name="J"], a[name="K"], a[name="L"], a[name="M"], a[name="N"], a[name="O"], a[name="P"], a[name="Q"], a[name="R"], a[name="S"], a[name="T"], a[name="U"], a[name="V"], a[name="W"], a[name="X"], a[name="Y"], a[name="Z"] {
    position: relative;
    border-top: 162px solid transparent; /* navbar height +2 */
    margin: -30px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
a[name="A"]:before, a[name="B"]:before, a[name="C"]:before, a[name="D"]:before, a[name="E"]:before, a[name="F"]:before, a[name="G"]:before, a[name="H"]:before, a[name="I"]:before, a[name="J"]:before, a[name="K"]:before, a[name="L"]:before, a[name="M"]:before, a[name="N"]:before, a[name="O"]:before, a[name="P"]:before, a[name="Q"]:before, a[name="R"]:before, a[name="S"]:before, a[name="T"]:before, a[name="U"]:before, a[name="V"]:before, a[name="W"]:before, a[name="X"]:before, a[name="Y"]:before, a[name="Z"]:before {
    content: "";
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
    border-top: 170px solid #ccc;
  }
}

.hide-pipe {
  display: none;
}

#nav-search {
  position: absolute;
  top: -4.9em;
  right: 4.5em;
}
#nav-search a {
  color: #fff;
  background: #7591bc;
}

.navbar {
  min-height: 0;
}

a.btn.btn-default.visit-give-mobile, a.btn.btn-default.give-mobile, a.btn.btn-default.apply-mobile {
  text-align: center;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse,
div#bs-example-navbar-collapse-1 {
  transition: max-height 500ms cubic-bezier(0.42, 0, 0.58, 1);
  background-color: $bgColor;
}
@media (min-width: $screen-sm-max) {
  div#bs-example-navbar-collapse-1.collapse.navbar-collapse,
  div#bs-example-navbar-collapse-1 {
    background: $primaryBlue;
  }
}
.fa.pull-right {
    margin-left: 0.5em;
    margin-top: 0.1em;
}
#searchModal .modal-content {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

#searchModal .modal-body {
    padding: 0;
}
#searchModal .modal-dialog {
    margin: 0px auto;
}
#searchModal .close, #searchModal .close:hover {
  color: #fff;
  opacity: 1;
  font-size: 15px;
  font-weight: 200;
  line-height: 1;
  text-shadow: none;
  letter-spacing: 2px;
}
#searchModal .modal-header {
    padding: 0;
    border-bottom: none;
}
#searchModal .modal-footer {
    padding: 0;
    text-align: right;
    border-top: none;
}
#searchModal .modal-header .close {
    margin-top: 4em;
}
button.close {
    padding-bottom: 10px;
}
button.close span b {
  font-size: 30px;
}
div.modal-body form button.btn.btn-default {
  position: relative;
  top: -50px;
  float: right;
  padding: 5px 12px;
}
.modal-body>form>.form-group>.form-control {
  border: 0px;
  border-radius: 0;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
button.close b {
  position: relative;
  top: 5px;
}
.submit-desktop {
  position: relative;
  top: -52px;
  float: right;
  padding: 5px 15px;
  color: #00447c !important;
  font-size: 25px !important;
  background: transparent;
  border: none;
}
.search-button-text {
  .search-text {
    display: none;
  }
}

.modal-dialog {
  width: 80%;
}
.form-group {
  background: white;
}
.collapse {
    height: auto !important;
}
span.fa.fa-bars {
  font-size: x-large;
}
.navbar-toggle {
  padding: 17px !important;
}

//action button fixes
.visit-give-mobile {
  background: #555555;
  color: #fff;
  font-size: 1.0em;
  border-radius: 0px;
  margin: 0.75em 0.25em 0em 0em;
  text-align: center;
  width: 99%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  float: right !important;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}

a.btn.btn-default.visit-give-mobile,
a.btn.btn-default.apply-mobile {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  display: block;
  padding: 10px 15px;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primaryBlue;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
a.btn.btn-default.apply-mobile {
  color: $white;
  border-radius: 0;
}

div#searchModal.modal.fade.in {
  top: 0;
}

//end action button fixes

@media (max-width: $screen-sm-max) {
  #nav-admissions {
    padding-left: 0px;
    padding-right: 0px;
  }
  #nav-athletics {
    padding-left: 0px;
    padding-right: 0px;
  }
  .inner-addon .fa-search {
    padding: 0.9em 1em 1em 1em;
  }
  .left-addon input {
    padding-left: 4em;
  }
  .header-container {
    line-height: 2.4em;
  }
  .navbar-toggle {
    display: block !important;
  }
}

//action button fixes
@media (min-width: 768px) {
  a.btn.btn-default.visit-give-mobile,
  a.btn.btn-default.apply-mobile {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
//end action button fixes

@media screen and (max-width: 991px) {
  body{
    padding-top: 79px;
  }
  .navbar-collapse {
    border-top: 5px solid #005fae;
  }
  .navbar .navbar-collapse .search-input-mobile, .navbar .navbar-collapse {
    text-align: left;
    border-right: none;
  }
  #content-nav #search-input input[type="text"] {
    width: 100%;
  }
  #content-nav #nav-search-close {
    left: 70%;
  }
  #content-nav-mobile {
    display: block;
    padding-left: 0px;
    width: 101%;
    text-align: left;
  }
  .left-addon input {
    padding-top: 5px !important;
    padding-bottom: 2px;
  }

  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 0px;
      z-index: 999999;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 0px;
  }

  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 1.8em;
      padding-right: 1.8em;
  }
  .collapse.in{
      display:block !important;
  }

  .apply-button {
    display: none;
  }
  .pushdown-menu {
    margin-top: 0em;
    padding-top: 0em;
    margin-left: 2em;
    padding-left: 1.2em;
  }
  .visit-give-mobile, .apply-mobile {
    display: block;
  }
  .fac-staf-stu-mobile {
    top: unset;
  }
  div[alt^="Asphalt"] {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.175);
  }
  i.fa.fa-angle-down.fa-lg {
    float: right;
  }

  //action button fixes
  a.btn.btn-default.visit-give-mobile,
  a.btn.btn-default.apply-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    display: block;
    color: white;
  }
//end action button fixes


}

@media (min-width: $screen-md-min) {

  body {
    padding-top: 190px;

  }

  .header-container {
      @include container-fixed();
  }
  .msudenver_logo {
    height: 70px;
  }

  .navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.95);
      border: 0px;
      border-bottom: 3px solid $primaryRed;
      border-radius: 0;
  }

  li.dropdown {
    font-size: 0.74em;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 0px;
    border-bottom: none;
    > a {
      transition: background-color .4s ease-in;
    }
    &.open > a,
    a:focus,
    a:hover {
      background: darken($primaryBlue, 5%) !important;
    }
  }

  ul.dropdown-menu li {
    a {
      color: $primaryBlue;
    }
  }

  ul.pushdown-menu > a li {
    padding-top: 0;
  }

  .dropdown-last {
    border-right: none !important;
    margin-right: none !important;
  }

  .navbar-collapse #wrapper {
    display: none;
  }

  .fa-search-mobile {
    display: none !important;
  }


  .container-dropdown {
    display: none;
  }

  ul.nav.navbar-nav li a {
  	padding: 10px 18px;
  }

  #content-nav {
    background: linear-gradient(to bottom, #fff 0px,#fff 70px, #ddd 55px);
  }
  .mobile-header {
    border-right: 1px solid #337ab7;
  }
  .container .pushdown-menu {
    border-right: 1px solid #4cb4f2;
  }
  .faculty-staff-students a {
    display: inline-block;
  }
  .mobile-header > .fa.fa-chevron-down {
    display: none;
  }
  .left-addon .fa-search {
    top: 0em;
  }
  .pushdown-menu {
      height: 29em;
  }

  #content-nav #nav-search-close {
      top: -3.2em;
      left: 18.5em;
  }

  #nav-faculty {
    width: 11em;
  }
  #nav-admissions {
    width: 14em;
  }
  #nav-academics {
    width: 14em;
  }
  #nav-campus {
    width: 11em;
  }
  #nav-alumni {
    width: 12em;
  }

  #content-nav #search-input input[type="text"] {
      padding-top: 0.3em;
  }
  .apply-mobile {
    font-size: 1.2em;
    background: $primaryRed;
    transition: background-color .4s ease-in-out !important;
    &:hover {
      background: #a60029;
      color: #fff;
    }
  }
  .visit-give-mobile {
    background: $white;
    color: $primaryBlue;
    transition: background .25s ease !important;
  }
  .visit-give-mobile:hover {
    background: darken($white, 5%);
    color: #fff;
  }
  a.btn.btn-default.visit-give-mobile, a.btn.btn-default.give-mobile, a.btn.btn-default.apply-mobile {
    text-align: center;
    text-transform: uppercase;
    width: 9% !important;
    top: -110px;
    padding: 0.3em 1.2em !important;
  }
  .visit-give-mobile, .apply-mobile {
    font-size: 1.2em;
  }
  a.btn.btn-default.visit-give-mobile {
      right: 22%;
      padding: 12px 0.1em !important;
  }
  a.btn.btn-default.give-mobile {
      right: 12.8%;
      padding: 12px 0.1em !important;
  }
  a.btn.btn-default.apply-mobile {
      right: 3.56%;
      padding: 12px 0.1em !important;
  }

  a.apply-mobile, a.visit-give-mobile, .fac-staf-stu-mobile {
    position: absolute !important;
  }
  .fac-staf-stu-mobile li, .fac-staf-stu-mobile li.hide-pipe {
    display: inline;
  }
  ul.fac-staf-stu-mobile {
    right: 15%;
    top: -50px;
    a:hover {
      text-decoration: underline;
    }
  }
  ul.fac-staf-stu-mobile li a,
  .fac-staf-stu-mobile li.hide-pipe {
    font-family: 'Gotham A', 'Gotham B', sans-serif;
    font-style: normal !important;
    font-weight: 500 !important;
    letter-spacing: 0px !important;
    color: $primaryBlue !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
  }
  a.dropdown-toggle,
  ul.nav.navbar-nav li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }
  ul.nav.navbar-nav li a {
    color: $white;
  }
  .dropdown-menu > li > a {
    font-size: 0.8em !important;
    color: $primaryBlue !important;
    transition: background-color .4s ease-in, color .4s ease-in;
    &:hover {
      color: $white !important;
    }
  }
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  li#nav-search {
    position: relative;
    top: inherit;
    right: inherit;
    width: 9rem;
    > a {
      text-align: center;
      background: $highlightPrimaryBlue;
      position: absolute;
      border-radius: 0;
      font-weight: 400;
      padding: 20px 1em;
      width: 9rem;
      top: -1px;
      transition: background-color .4s ease-in;
      &:hover {
        background: darken($highlightPrimaryBlue, 5%);
      }
    }
  }
  .fa-search {
    color: #fff;
  }
  .navbar-toggle {
    display: none;
  }
  .search-button-text {
    .search-text {
      display: inline;
    }
  }

  li.collapse.navbar-collapse {
    position: inherit;
  }
  li.dropdown.collapse.navbar-collapse {
    position: relative;
  }
  #bs-example-navbar-collapse-1 {
   overflow: visible;
  }


//action button fixes
  a.btn.btn-default.visit-give-mobile, a.btn.btn-default.apply-mobile {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
//end action button fixes

}
@media (min-width: $screen-lg-min) {
  .header-container, .container-fluid {
        padding-left: percentage(1/$grid-columns) ;
        padding-right: percentage(1/$grid-columns) ;
  }
  #content-nav {
      font-weight: 600;
      font-size: 18px;
  }
  .nav >li * {
  padding: 0px;
  }

  a.btn.btn-default.visit-give-mobile {
      right: 24.3%;
      width: 9% !important;
      top: -132px;
      padding: 12px 1.2em !important;
      margin-right: 20px;
      transition: all 200ms ease-in-out !important;
  }
  a.btn.btn-default.give-mobile {
      right: 14%;
  }
  a.btn.btn-default.apply-mobile {
      right: 5%;
      width: 9% !important;
      top: -132px;
      padding: 12px 1.2em !important;
      transition: all 200ms ease-in-out !important;
  }

  a.dropdown-toggle, ul.nav.navbar-nav li a {
    letter-spacing: 1px;
  }
  .navbar-toggle {
    display: none;
  }
}
.msudenver_logo_change {
  height:50px;
}

.skip-content {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    font-size: x-large;
}

a.skip-content {
  color: white;
  text-decoration: underline;
}

a.skip-content:active, a.skip-content:focus, a.skip-content:hover {
    left: 0;
    top: -90px;
    width: auto;
    height: auto;
    overflow: visible;
    color: #fff;
    font-size: 30px;
    position: relative;
    z-index: 10000;
}
