/* Homepage news items */
$primaryRed: #d11242;
#homepage-news {
    padding-top: 36px;
    padding-top: torem(36, $small-unit);
    padding-bottom: 36px;
    padding-bottom: torem(36, $small-unit);
    background: #f7f7f7;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: $primaryRed;
        left: 0;
        top: 0;
        width: 100%;
        height: 25rem;
    }
    .main-button {
        border-color: $primaryRed;
        a {
            color: $primaryRed;
        }
        &:hover,&:focus,&:active {
            background-color: $primaryRed;
            a {
                color: $white;
            }
        }
    }
    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .feature-text {
      margin-bottom: 0;
    }
    .feature-heading-large {
        color: $white;
    }
}

.home-news-features {
    @include make-xs-column(12);
    img {
        @include img-responsive;
        width: 100%;
    }
}
.news-features {
    @include make-row(0);
    margin-top: 36px;
    margin-top: torem(36, $small-unit);
    margin-bottom: 15px;
}
.news-feature {
    @include make-xs-column(12, 0);
    padding-top: 15px;
    padding-top: torem(15);
    
}

.news-feature-bg {
    padding: 15px;
    padding: torem(15);
    background: rgba(0, 0, 0, 0.5);
    &:hover, &:active, &focus {
        background: rgba(0, 0, 0, 1);
    }
    @include clearfix ;
}
.news-feature-text {
    padding-top: 0;
    h3 {
        font-weight: 400;
        line-height: 22px;
        font-size: 16px;
        color: black;
    }
}

.news-feature-heading {
    line-height: torem(30);
    font-size: torem(22);
    font-weight: 500;
    margin: torem(12) 0 torem(20);
    padding-bottom: torem(20);
    color: black;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 90%;
        height: 2px;
        background-color: $primaryRed;
        left: 0;
        bottom: 0;
    }
}

@media (min-width: $screen-sm-min) {
        .news-feature {
            padding: 0;
            @include make-xs-column(12);
        }
}

@media (min-width: $screen-md-min) {
        .news-feature {
            @include make-xs-column(4);
        }
}

@media (min-width: $screen-lg-min) {
    #homepage-news {
        padding: torem(50, $small-unit) percentage(1/$grid-columns) torem(100, $small-unit);
    }

        .news-feature {
          @include make-xs-column(4);
            margin-left: 0;
            margin-right: 0;
            &:last-child {
                margin: 0;
            }
            margin-bottom: 25px;
        }

    .news-item-heading {
        margin: 20px 0 20px;
        margin: torem(20) 0 torem(20);
    }
}
