/* Homepage base styles */
.homepage-main {
    @include container-fixed();
    margin-top: 50px;
}
.homepage-feature {
    @include make-row();
    padding-top: 36px;
    padding-top: torem(36, $small-unit);
    padding-bottom: 36px;
    padding-bottom: torem(36, $small-unit);
    background-color: $gray-base;
    svg { fill: currentColor; }
    // text-align: center;
    // font-family: 'Gotham A', 'Gotham B';
    // font-weight: 600;
}
.homepage-feature-block {
    @include make-sm-column(12);
}
.feature-heading {
    font-size: 27.2px; //55px @ 12px
    font-size: torem(27.2); //55px @ 12px
    line-height: 1.3;
    margin: 0 0 16px;
    margin: 0 0 torem(16);
    color: #fff;
}
.feature-heading-large {
    font-family: $font-family-sans-serif;
    font-size: 32px;
    font-size: torem(32);
    line-height: 1.3;
    margin: 0 0 16px;
    margin: 0 0 torem(16);
    color: #fff;
    text-transform: uppercase;
}
.feature-heading-sub {
    font-size: 20.8px;
    font-size: torem(20.8);
    line-height: 1.5;
    color: #fff;
}
.feature-text {
    font-size: 24px; //55px @ 12px
    font-size: torem(24); //55px @ 12px
    font-weight: 400;
    margin: 0 0 16px;
    margin: 0 0 torem(16);
    color: #fff;

}
.homepage-btn {
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 20.8px;
    font-size: torem(20.8); //33px @ 14px
    padding: 10px 30px;
    padding: torem(10) torem(30);
    color: $msu-blue;
    background-color: $white;
    text-transform: uppercase;
    border-radius: 11px;
    float: right;
    &:hover, &:active, &:focus {
        color:  $msu-red;
    }
}
.main-button {
    margin-bottom: 0;
}
/* Small button */
@media (max-width: $screen-xs-max) {
    .homepage-btn.homepage-btn__small {
        font-size: 16px;
        font-size: torem(16);
        padding: 10px 20px;
        padding: torem(10) torem(20);
    }
}

@media (max-width: $screen-sm-max) {
    .main-button .fa {
        display: none;
    }

}
@media (min-width: $screen-md-min) {
    .homepage-feature {
        h1 { line-height: 1.6;  }
    }
    .feature-heading {
        font-size: 40px;
        font-size: torem(40, $base-unit);
        margin-bottom: toem(30, $base-unit);
        margin-bottom: torem(30, $base-unit);
    }
    .feature-heading-large {
        font-size: 40px;
        font-size: torem(40, $small-unit);
        line-height: 60;
        margin: 0 0 25px;
        margin: 0 0 torem(25, $small-unit);

    }
    .homepage-btn {
        float: none;
        &:not(.footer-btn) {
            font-family: $font-family-serif;
            font-weight: 700;
            font-size: 30px; //33px @ 14px
            font-size: torem(30, $base-unit); //33px @ 14px
            padding-left: 0;
            padding-right: 0;
            color: $white;
            background-color: transparent;
            &:hover, &:active, &:focus {
                color:  $white;
                text-decoration: underline;
            }
        }
    }
    /* Wraps buttons in the main body area */
    .main-button {
        @include clearfix;
        padding: 10px 0px;
        padding: torem(10) torem(0);
        color: $white;
        text-align: right;
        font-size: 30px; //33px @ 14px
        font-size: torem(30, $base-unit); //33px @ 14px
        .homepage-btn {
            padding: 0;
            line-height: 1;
        }
    }

}

@media (min-width: $screen-lg-min) {
  .homepage-main {
      margin-top: 70px;
  }
}
