//Run your own road feature
#homepage-ryor {
    background: url('../media/RYOR_bg_extended.png') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 8px;
    margin-top: torem(8);
    margin-bottom: toem(8);
    margin-bottom: torem(8);
    padding: 0;
    position: relative;
    .feature-heading { 
        margin: 0 0 toem(10, $small-unit);
        margin: 0 0 torem(10, $small-unit);
    }
    .feature-heading-sub {
        font-size: 25.6;
        font-size: torem(25.6);
        font-weight: 400;
        margin: 0 0 toem(10, $small-unit);
        margin: 0 0 torem(10, $small-unit);
    }
    .feature-text { 
        font-size: 20.8px; 
        font-size: torem(20.8);
        font-weight: 700;
        margin: 0 0 toem(35, $small-unit);
        margin: 0 0 torem(35, $small-unit);
    }
    .feature-heading, .feature-heading-sub, .feature-text {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.77);
        position: relative;
        z-index: 5;
    }
    .homepage-btn:not(.ryor-md-button) {
        position: relative;
        bottom: calc(20px);
        right: calc(15px);
        z-index: 3;
    }
}

.ryor-student-image {
    @include img-responsive ;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 0;
}
/* IMage gradient overlay */
.ryor-student-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* http://colorzilla.com/gradient-editor */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); 
}
.ryor-student {
    padding-top: 32px;
    padding-top: torem(32);
    overflow: hidden;
}
.ryor-student, .ryor-image, .ryor-image-mobile {
    @include make-xs-column(12);   
    z-index: 2;
}
.ryor-image-mobile {
     
    color: $white;
    overflow: visible;
    svg { 
        fill: $white;
        min-height: 200px;
        min-width: 300px;
        position: absolute; 
        top: calc(-20px);
    }
    min-height: 150px;
}
.ryor-image {
     
    color: $white;
    overflow: visible;
    svg { 
        min-height: 200px;
        min-width: 300px;

    }
}


@media (min-width: $screen-md-min) {    
    #homepage-ryor {
        .feature-heading {
            font-size: 40px;
            font-size: toem(40);
            line-height: 1.5;
        }
        .feature-heading-sub {
            font-size: 36px;
            font-size: toem(36);
            line-height: 1.3;
            font-weight: 400;
            margin: 0 0 toem(10, $base-unit);
            margin: 0 0 torem(10, $base-unit);
        }
        .feature-text { 
            font-size: toem(30, $small-unit); 
            font-size: torem(30, $small-unit);
            margin-bottom: 30px;
            margin-bottom: torem(30);
            line-height: 1.2;
        }
        .main-button { 
            text-align: left; 
            padding: 0 25px;
            
        }
    }
    .ryor-image {
        height: 200px;
        width: 100%;
        padding: 0;
        margin: 20px auto;
        width: 41.6666%;
        text-align: center;
        
        svg {
            width: 100%;
            
        }
    }
    .ryor-student {
        @include make-md-column(7, 50px);
        padding-bottom: 2rem;
        
    }
    .ryor-student-image::before { display: none;}
}
