#homepage-second-nav{
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 0px;
// margin-top: torem(8);
// margin-bottom: toem(8);
// margin-bottom: torem(8);
padding: 0;
position: relative;
height: 3em;
color:#fff;
//  font-size:2.5rem;
margin-top:15px;
margin-bottom:15px;
}

.homepage-feature ul, {
  list-style-type: none;
  // display: inline-block;
  display: table;
  width: 100%;
}

.homepage-feature li {
  display: table-cell;
}
