/* Homepage news items */
#homepage-news {
    padding-top: 36px;
    padding-top: torem(36, $small-unit);
    padding-bottom: 36px;
    padding-bottom: torem(36, $small-unit);
    background: url(../media/newsbg_mobile.jpg) no-repeat;
    background-size: cover;
    .feature-text {
        margin-bottom: 0;
    }
    p { color: #fff; }
    .homepage-btn {
        margin: 32px 0 0;
        margin: torem(32) 0 0;
    }
    
}
.home-news-features {
    @include make-xs-column(12);
 
    img { 
        @include img-responsive;
        width: 100%; 
    }
}
.news-features {
    @include make-row(0);
    margin-top: 36px;
    margin-top: torem(36, $small-unit);
}
.news-feature, .news-feature__large { 
    @include make-xs-column(12, 0);    
    padding-top: 15px;
    padding-top: torem(15); 
}
.news-features__small {
    @include make-xs-column(12);
    
}
.news-feature__large {
    padding-top: 0;
    p { 
        font-size: 22px;
        font-size: torem(22);
    }
    

}
.news-features__small-row {
    @include make-row();
}
.news-feature-bg {
    padding: 15px;
    padding: torem(15);
    background: $gray-base;
    @include clearfix ;
}
.news-feature-text {
    padding-top: 0;
}

.news-feature-heading {    
    font-size: 26px;
    font-size: torem(26);
    margin: 12px 0;
    margin: torem(12) 0;
}

@media (min-width: $screen-sm-min) {
    .news-feature__large {
        
         margin-bottom: 1.771479185119575%;
        .news-feature-image, .news-feature-text { float: left;}
        .news-feature-image { 
            width: percentage((7 / $grid-columns));
            padding-right: 7.5px;
        }
        .news-feature-text {
            width: percentage((5 / $grid-columns));
            padding-left: 7.5px;
        }
        
    }
    .news-features__small {
        padding-top: 0;
        .news-feature {
            padding: 0;
            width: 49.01055408970976%; /* 758px - 15px gutter / 2 */
                
            &:first-child {
                margin-right: 0.98944591029024%; /* (15px gutter / 2) / 758px */
               
            }
            &:last-child {
                 margin-left: 0.98944591029024%; /* (15px gutter / 2) / 758px */
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    #homepage-news {
        padding: 50px percentage(1/$grid-columns);
        padding: torem(50, $small-unit) percentage(1/$grid-columns);
        background: url(../media/newsbg.jpg) no-repeat;
        background-size: cover;

        .homepage-btn {
            margin: 25px 0;
            margin: torem(25) 0;
        }
    }
    .news-feature__large {
         @include make-lg-column(7, 25px); 
         @include make-lg-column-push(5);
        .news-feature-image, .news-feature-text { float: none; width: 100%; padding: 0;}
        .news-feature-heading {
            font-size: 40px;
            line-height: 1.1;
            margin: 18px 0 16px;
            margin: torem(18) 0 torem(16);
        }
    }
    .news-features__small {
        @include make-lg-column(5, 50px); 
        @include make-lg-column-pull(7); 
        .news-feature {
            width: 100%;
            margin: 0;
            &:last-child {
                margin: 0;
            }
            margin-bottom: 25px;
        }
    }
    .news-item-heading {
        margin: 20px 0 20px;
        margin: torem(20) 0 torem(20);
    }
}