/* Homepage-feature-caption partial */
#homepage-feature-caption {
    padding: 0;
    
    text-align: right;
    
}
.homepage-feature-caption-img {
    @include img-responsive ;
    width: 100%;
}
.homepage-feature-caption-text {
    @include make-sm-column(12);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-top: torem(16);
    padding-bottom: torem(16);
    background-color: $gray-base;
    text-align: right;
    float: right;
    position: static;
    
}
.homepage-feature-caption-link {
    display: inline-block;
    font-size: 20.8px;
    font-size: torem(20.8);
    text-transform: uppercase;
    color: #fff;  
    float: right;
}
.homepage-feature-caption-link:hover, .homepage-feature-caption-link:focus, .homepage-feature-caption-link:active {
    color: #fff;
} 
.carousel-control {
    display: none;
}
.t4-slide .carousel-control {
    display: block;
    position: absolute;
    width: 2.5rem;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    .fa { 
        display: inline-block;
        color: $white;
        font-size: 2rem;
    }
    &.right {
        .fa { float: left; }
    }
    &.left {
        .fa { float: right;}
    } 
}
@media (min-width: 690px) {
    .t4-slide .carousel-control {
        top: 55%;
    }
}
@media (min-width: $screen-sm-min) {
    .t4-slide .carousel-control {
        width: 3rem;
        .fa { 
            font-size: 3rem;
        }
    }
}


@media (min-width: $screen-md-min) {
    
    .homepage-feature-caption-text {
        width: percentage((9 / $grid-columns));
        float: right;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: auto;
        bottom: auto;
        
        background-color: rgba(0,0,0,0.7);
        .feature-heading { line-height: 1.3 }
        .main-button {padding: 0}
    }
    
    .homepage-feature-caption-link {
        font-size: 25px;
        font-size: torem(25);
    }
    .t4-slide .carousel-control {
         top: 88%;
        transform: translateY(-50%);
        width: 4rem;
    }
}
@media (min-width: $screen-lg-min) {
    .homepage-feature-caption-text {
        
        padding: 50px 15px ;
        padding: torem(50) torem(15) ;
        
    }
}
@media (min-width: 1300px) {
    .homepage-feature-caption-text {
        width: percentage((7 / $grid-columns));
        padding-right: percentage((1 / $grid-columns));
        
        
    }
}


/* End homepage-feature-caption */