/* Homepage-feature-caption partial */
.homepage-feature-caption-item {
    
}
.homepage-feature-caption-text {
    @include make-sm-column(12);
    padding-top: toem(50);
    padding-bottom: toem(50);
    padding-top: torem(50);
    padding-bottom: torem(50);
    background-color: $gray-base;
    text-align: right;
}
.homepage-feature-caption-link {
    display: block;
    text-transform: uppercase;
    color: #fff;  
}
.homepage-feature-caption-link:hover, .homepage-feature-caption-link:focus, .homepage-feature-caption-link:active {
    color: #fff;
} 
/* End homepage-feature-caption partial */

@media (min-width: 767px) {
    .homepage-feature-caption-text {
        position: absolute;
        top: 400px;
        background-color: rgba(0,0,0,0.7);
        min-height: 320px;
    }
    .homepage-feature-caption-link {
        font-size: toem(25);
        font-size: torem(25);
        line-height: 30px;
    }
}