/* Homepage news items */
#homepage-news {
    padding-top: 36px;
    padding-top: torem(36, $small-unit);
    padding-bottom: 36px;
    padding-bottom: torem(36, $small-unit);
    .feature-text {
        margin-bottom: 0;
    }
    p { color: #fff; }
    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

}

.home-news-features {
    @include make-xs-column(12);
    img {
        @include img-responsive;
        width: 100%;
    }
}
.news-features {
    @include make-row(0);
    margin-top: 36px;
    margin-top: torem(36, $small-unit);
    margin-bottom: 15px;
}
.news-feature{
    @include make-xs-column(12, 0);
    padding-top: 15px;
    padding-top: torem(15);
}

.news-feature-bg {
    padding: 15px;
    padding: torem(15);
    background: rgba(0, 0, 0, 0.5);
    &:hover, &:active, &focus {
        background: rgba(0, 0, 0, 1);
    }
    @include clearfix ;
}
.news-feature-text {
    padding-top: 0;
}

.news-feature-heading {
    font-size: 26px;
    font-size: torem(26);
    margin: 12px 0;
    margin: torem(12) 0;
}

@media (min-width: $screen-sm-min) {
        .news-feature {
            padding: 0;
            @include make-xs-column(12);
        }
}

@media (min-width: $screen-md-min) {
        .news-feature {
            @include make-xs-column(4);
        }
}

@media (min-width: $screen-lg-min) {
    #homepage-news {
        padding: 50px percentage(1/$grid-columns) 30px;
        padding: torem(50, $small-unit) percentage(1/$grid-columns) torem(30);

    }

        .news-feature {
          @include make-xs-column(4);
            margin-left: 0;
            margin-right: 0;
            &:last-child {
                margin: 0;
            }
            margin-bottom: 25px;
        }

    .news-item-heading {
        margin: 20px 0 20px;
        margin: torem(20) 0 torem(20);
    }
}
