/* Homepage events */
#homepage-events {
    background-color: $bgColor;
    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}
/* Events grid */
.home-events {
    @include make-xs-column(12);
}
.home-events-row {
    @include make-row(0) ;
    margin-bottom: 25px;
    margin-bottom: torem(25);
}
.home-event {
    @include make-xs-column(12, 0);
    margin-bottom: 15px;
    margin-bottom: torem(15);
    p {
        margin-bottom: 0;
    }
}
/* Event components */
.event-bg {
    padding: 15px;
    padding: torem(15);
    background-color: $gray-base;
    background-color: rgba(0,0,0,0.6);

    &:hover, &:active, &focus {
        background: rgba(0, 0, 0, 1);
    }
}
.home-event-image {
    @include img-responsive;
    width: 100%;
}

.home-event-date, .home-event-title {
    font-size: torem(16);
    line-height: 50px;
    font-weight: 500;
    color: #717073;
    display: inline-block;
    margin-right: torem(50);
}

.home-event-title {
  color: $primaryBlue;
}

@media (min-width: $screen-sm-min) {
    .home-event{
         //@include make-sm-column(6, 15px);
        padding: 0;
        width: 49.01055408970976%; /* 758px - 15px gutter / 2 */
        margin-bottom: 2.316602316602%; /* >= ~15px */

        }
}
@media (min-width: $screen-lg-min) {
    #homepage-events {
        padding: torem(50, $small-unit) percentage(1/$grid-columns) torem(60, $small-unit);
        .homepage-btn { padding-bottom: 0; }
    }
    .home-event{
        width: 50%;
        margin-bottom: torem(25);
    }
}
