/* Homepage base styles */
.homepage-main {
    @include container-fixed();
}
.homepage-feature {
    @include make-row();
    padding-top: torem(36, $small-unit);
    padding-bottom: torem(36, $small-unit);
    background-color: $white;
    font-family: $font-family-sans-serif;
    svg {
      fill: currentColor;
    }
}
.homepage-feature-block {
    @include make-sm-column(12);
}
.feature-heading {
    font-size: torem(50); //55px @ 12px
    line-height: 50px;
    margin: 0 0 torem(50);
    color: $primaryBlue;
}
.feature-heading-large {
    font-family: $font-family-sans-serif;
    font-size: torem(50);
    font-weight: 400;
    line-height: 50px;
    margin: 0 0 torem(60);
    color: $primaryBlue;
}
.feature-heading-sub {
    font-size: 20.8px;
    font-size: torem(20.8);
    line-height: 1.5;
    color: #fff;
}
.feature-text {
    font-size: 24px; //55px @ 12px
    font-size: torem(24); //55px @ 12px
    font-weight: 400;
    margin: 0 0 16px;
    margin: 0 0 torem(16);
    color: #fff;

}
.homepage-btn {
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 20.8px;
    font-size: torem(20.8); //33px @ 14px
    padding: 10px 30px;
    padding: torem(10) torem(30);
    color: $msu-blue;
    background-color: $white;
    text-transform: uppercase;
    border-radius: 11px;
    float: right;
    &:hover, &:active, &:focus {
        color:  $msu-red;
    }
}

.main-button {
    @include clearfix;
    margin-bottom: 0;
    border: 2px solid $primaryBlue;
    padding: torem(32);
    background: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    clear: both;
    display: block;
    transition: background-color .4s ease-in-out;
    &:hover,
    &:active,
    &:focus {
      background-color: $primaryBlue;
      .homepage-btn {
          color: $white;
      }
    }
    .homepage-btn {
        background-color: transparent;
        padding: 0;
        color: $primaryBlue;
        line-height: 1;
        font-size: torem(18);
        font-weight: 700;
        line-height: torem(18);
        transition: color 200ms ease-in-out;
    }
}

/* Small button */
@media (max-width: $screen-xs-max) {
    .homepage-btn.homepage-btn__small {
        font-size: 16px;
        font-size: torem(16);
        padding: 10px 20px;
        padding: torem(10) torem(20);
    }
}

@media (max-width: $screen-sm-max) {


}
@media (min-width: $screen-md-min) {
    .homepage-feature {
        h1 { line-height: torem(50);  }
    }
    .feature-heading,
    .feature-heading-large {
        font-size: torem(50, $base-unit);
        line-height: torem(50);
        margin-bottom: torem(100, $base-unit);
        font-weight: 400;
    }
    .homepage-btn {
        float: none;
        &:not(.footer-btn) {
            font-family: $font-family-serif;
            padding: 0;
            line-height: 1;
            font-size: torem(18);
            font-weight: 700;
            line-height: torem(18);
        }
    }


}

@media (min-width: $screen-lg-min) {
  // .homepage-main {
  //     margin-top: 70px;
  // }
}
