/**
    ===========================================
            Start Bootstrap  v 3.3.7
    ===========================================
**/
@import "../../../lib/bootstrap-sass/assets/stylesheets/bootstrap";
/** -------  End Bootstrap  v 3.3.7 -------- **/

/**
    =================================================
        MSU Denver 2016 custom style declarations
    =================================================
**/

/** SVG fallback for IE 8 **/
.test1 {
  background: test;
}
#denver-city-svg {
  background: blue;
  color: #fff;
}
#denver-city-svg svg {
  color: #fff;
}
/**  Homepage Feature Components michael.mason@terminalfour.com **/
@import "msu-partials/global-header";
@import "msu-partials/msu-utils";
@import "msu-partials/homepage-base";
@import "msu-partials/homepage-second-nav";
@import "msu-partials/homepage-feature-caption";
@import "msu-partials/homepage-ryor";
@import "msu-partials/homepage-news";
@import "msu-partials/homepage-at-a-glance";
@import "msu-partials/homepage-community";
@import "msu-partials/homepage-events";
@import "msu-partials/footer";

/** content types **/
@import "ContentTypes/button-styles";
@import "ContentTypes/variables";
@import "ContentTypes/programs";
@import "ContentTypes/quote-content";
@import "ContentTypes/content";
@import "ContentTypes/navmenu";
@import "ContentTypes/TableStyles";
@import "ContentTypes/tabs";
@import "ContentTypes/well";
// @import "ContentTypes/AdmissionsStyles";
@import "ContentTypes/PresidentMessages";
@import "ContentTypes/HighlightBox";
@import "ContentTypes/CallsToAction";
@import "ContentTypes/ExpertProfiles";
@import "ContentTypes/hero";
@import "ContentTypes/newsroom";
@import "ContentTypes/panel";
@import "ContentTypes/SiteHeader";
@import "ContentTypes/stylestoimport";
@import "ContentTypes/card";
@import "ContentTypes/user-profile";
@import "ContentTypes/user-profile";

/** Admissions Homepage Styles **/
/** Objects **/
@import "admissionsHomepage/buttons.scss";
/** Components **/
@import "admissionsHomepage/homepage-slider.scss";
@import "admissionsHomepage/homepage-apply.scss";
@import "admissionsHomepage/homepage-panels.scss";
@import "admissionsHomepage/homepage-eab.scss";
@import "admissionsHomepage/homepage-resources.scss";
/** Responsive Overrides **/
@import "admissionsHomepage/responsive-overrides.scss";

/** Viewbook Styles **/
@import "viewbook/background-panel.scss";

/** Newsroom Homepage Styles **/

/** Components **/
// @import "newsroomHomepage/newsroom-nav.scss";
/** Responsive Overrides **/
// @import "newsroomHomepage/responsive-overrides.scss";

/** President's page styles **/
@import "msu-partials/president-site";

/** print styles **/
@import "print";
.homepage-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.homepage-container:before,
.homepage-container:after {
  display: table;
  content: "";
}
.homepage-container:after {
  clear: both;
}

@media (min-width: 1200px) {
  .homepage-container {
    width: 1170px !important;
  }
}
@media (min-width: 768px) {
  .homepage-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .homepage-container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .large {
    width: 66% !important;
    text-align: left !important;
  }
}

.homepage-promo {
  display: block;
  margin-bottom: 1.375rem;
}

@media (min-width: 768px) {
  .homepage-promo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .homepage-promo {
    float: left;
    width: 33.3333333333%;
  }
}
.homepage-promo-bg {
  display: block;
  padding: 15% 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.homepage-promo-bg:before,
.homepage-promo-bg:after {
  content: " ";
  display: table;
}
.homepage-promo-bg:after {
  clear: both;
}
.homepage-promo-bg:hover .homepage-promo-heading,
.homepage-promo-bg:focus .homepage-promo-heading,
.homepage-promo-bg:active .homepage-promo-heading {
  display: none;
}
.homepage-promo-bg:hover .homepage-promo-text,
.homepage-promo-bg:focus .homepage-promo-text,
.homepage-promo-bg:active .homepage-promo-text {
  display: table;
  opacity: 1;
}

.homepage-promo-heading,
.homepage-promo-text {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 4.5rem;
  background-color: rgba(113, 112, 115, 0.8);
  display: table;
  width: 100%;
}

.homepage-promo-heading span,
.homepage-promo-text span {
  display: table-cell;
  vertical-align: middle;
}

.homepage-promo-heading {
  text-transform: uppercase;
}
.homepage-promo-heading span {
  color: white !important;
}

.homepage-promo-text {
  display: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.center-panel1 {
  font-size: 3rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}
/** Footer links and contacts row **/

// styles below this need to be removed once everything compiled into one stylesheet
// .content .img-responsive {
//     padding: 0 15px;
// }

// .well img.img-responsive {
//     padding-left: 0px;
// }
