/**
    ===========================================
            Start Bootstrap  v 3.3.7
    ===========================================
**/
@import "../../../lib/bootstrap-sass/assets/stylesheets/bootstrap";
/** -------  End Bootstrap  v 3.3.7 -------- **/


/**
    =================================================
        MSU Denver 2016 custom style declarations
    =================================================
**/

/** SVG fallback for IE 8 **/

#denver-city-svg {
  background: blue;
  color: #fff;
}

#denver-city-svg svg {
  color: #fff;
}

/**  Homepage Feature Components michael.mason@terminalfour.com **/
@import "msu-partials/global-header";
@import "msu-partials/msu-utils";
@import "msu-partials/homepage-base";
@import "msu-partials/homepage-second-nav";
@import "msu-partials/homepage-feature-caption";
@import "msu-partials/homepage-ryor";
@import "msu-partials/homepage-news";
@import "msu-partials/homepage-at-a-glance";
@import "msu-partials/homepage-community";
@import "msu-partials/homepage-events";
@import "msu-partials/footer";

/** content types **/
@import "ContentTypes/button-styles";
@import "ContentTypes/variables";
@import "ContentTypes/programs";
@import "ContentTypes/quote-content";
@import "ContentTypes/content";
@import "ContentTypes/navmenu";
@import "ContentTypes/TableStyles";
@import "ContentTypes/tabs";
@import "ContentTypes/well";
// @import "ContentTypes/AdmissionsStyles";
@import "ContentTypes/PresidentMessages";
@import "ContentTypes/HighlightBox";
@import "ContentTypes/CallsToAction";
@import "ContentTypes/ExpertProfiles";
@import "ContentTypes/hero";
@import "ContentTypes/newsroom";
@import "ContentTypes/panel";
@import "ContentTypes/SiteHeader";
@import "ContentTypes/stylestoimport";
@import "ContentTypes/card";
@import "ContentTypes/user-profile";
@import "ContentTypes/user-profile";
@import "ContentTypes/content-page"

/** Admissions Homepage Styles **/
/** Objects **/
@import "admissionsHomepage/buttons.scss";
/** Components **/
@import "admissionsHomepage/homepage-slider.scss";
@import "admissionsHomepage/homepage-apply.scss";
@import "admissionsHomepage/homepage-panels.scss";
@import "admissionsHomepage/homepage-eab.scss";
@import "admissionsHomepage/homepage-resources.scss";
/** Responsive Overrides **/
@import "admissionsHomepage/responsive-overrides.scss";


/** Viewbook Styles **/
@import "viewbook/background-panel.scss";


/** Newsroom Homepage Styles **/

/** Components **/
// @import "newsroomHomepage/newsroom-nav.scss";
/** Responsive Overrides **/
// @import "newsroomHomepage/responsive-overrides.scss";


/** President's page styles **/
@import "msu-partials/president-site";

/** print styles **/
@import "print";

// styles below this need to be removed once everything compiled into one stylesheet
// .content .img-responsive {
//     padding: 0 15px;
// }

// .well img.img-responsive {
//     padding-left: 0px;
// }
