@import "msudenver-colors.scss";
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .well {
    background: #fff;
  }
}

html {
  scroll-behavior: smooth;
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
}

body {
  height: 100%;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: #00366A;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 700;
  // line-height: 1.9rem;
}

h3 {
  font-size: 1.25rem;
  margin: 10px 0;
  font-style: italic;
}

h4{
  color:$MSUDenver-Blue;
  margin-bottom:15px;
}

p {
  font-size: 1rem;
}

p.copyright {
  font-size: 16px;
  text-align: right;
}
a{
color: #092f6b;
text-decoration: none;
background-color: transparent;
font-weight: 700;
}

a:hover{
color: #092f6b;
text-decoration: underline;
font-weight: 700;
}

.copyright > a {
  color: #00366A;
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: auto;
  // box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.);
}

.introduction {
  height: 100vh;
  padding-top: 20vh;

  h1 {
    font-size: 3rem;
    color: #00447c;
    text-align: center;
    font-weight: 700;
  }
}

.well {
  background: #fff;
  padding: 25px 30px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.possible-indicator {
  color: #00447c;
  // display:block;
  width: 100px;
  height: 100%;
  // margin: 0 auto;
  position: relative;
  top: 10vh;
}

.university-logo {
  width: 200px;
  text-align: center;
  margin-top: 10vh;
  text-align: center!important;
}

.possible-word {
  color: white;
  background: #D11242;
  padding: 0 12px 5px;
  letter-spacing: 3.5px;
}

.possible-word-reversed {
  color: #D11242;
  background: #fff;
  margin-right: 5px;
  padding: 0 12px 5px;
}


.blue-background {
  // padding-top: 15vh;
  background-color: #00447c;
  // padding-bottom: 15vh;
  // height: auto;
  // display: table;
  // position: relative;
  // width: 100%;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  h2 {
    margin: 15px 0;
    color: #fff;
    margin-bottom:30px;
    text-align: center;

  }

  p {
    color: #fff;
  }
  .btn {
    border: solid 3px #fff;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 0;
    margin: 15px;
  }

  .btn:hover {
    border: solid 3px #00447c;
    padding: 20px;
    color: #00447c;
    font-size: 1.5rem;
    border-radius: 0;
    background: #fff;
  }

  }
button, [type="button"],// 1

[type="reset"],
[type="submit"] {
  -webkit-appearance: none; // 2
}

.card-possible {
  // color: white;
  background-color: #D11242;
  padding: 50px 25px;
  margin: 15px 0;
  transition: transform 0.4s;
  border: 1px #D11242 solid;
  // height:20vh;
  p {
    color: white;
    transition: transform 0.4s;
  }
}


.card-possible-reversed {
  // color: white;
  background-color: #fff;
  padding: 50px 25px;
  margin: 15px 0;
  transition: transform 0.4s;
  border: 1px #D11242 solid;
  // height:20vh;
  p {
    color: #D11242;
    transition: transform 0.4s;
  }
  .btn{
    width:100%;
  }
}

// .card-possible:hover {
//   // color: #D11242;
//   background-color: #fff;
//   border: 1px #D11242 solid;
//
//   p {
//     color: #D11242;
//     // transform: scale(1.1);
//   }
// }

#possible-card-1 > .modal-dialog {
  // background: url(../media/possible/Tivoli.jpg) no-repeat center center;
  // height: auto;
}

.modal-content {
  background-color: #fffffff7;
  background-clip: padding-box;
  // margin: 50px;
  padding: 25px 30px;
  border-radius: 0;

  h3 {
    font-size: 2.2rem;
    font-weight: 700;
  }



  p {
    font-size: 1.2rem;
  }

  .img-thumbnail {
    margin-left: 15px;
  }

  .btn {
    padding: 10px;
  }

  .btn:hover {
    padding: 10px;
  }
}

.btn {
  border: solid 3px #00447c;
  padding: 20px;
  color: #00447c;
  font-size: 1rem;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn:hover {
  border: solid 3px #00447c;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
  border-radius: 0;
  background: #00447c;
}

.brewing-innovation-in-hospitality {
  background: url(" ../media/possible/abby-brewing-bg.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .well {
    background: $MSUDenver-white-tranparency;
  }
}

.on-the-front-lines-of-cybersecurity {
  background: url(" ../media/possible/AndrewTraver.jpg") no-repeat center center;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .well {
    background: $MSUDenver-white-tranparency;
  }
}

.health-in-colorado {
  background: url(" ../media/possible/Health-in-colorado.jpg") no-repeat center center;
  height: auto;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.teaching-tomorrows-teachers-section {
  background: url("../media/possible/Teaching-tomorrow-teachers.jpg") no-repeat center center ;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .well {
    background: $MSUDenver-white-tranparency;
  }
}

.possible-call-to-action {
  background: url("../media/possible/open-house-student.jpg") no-repeat center center ;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .well {
    background: $MSUDenver-white-tranparency;
    padding: 25px 30px;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
}

#master-your-future{
  padding-bottom: 20vh;
  background-color: #D11242;
  h2,h3{
    color:white !important;
    margin-bottom: 15px;
  }
  .copy-swap{
    background: white;
    padding:15px;
    margin-bottom: 15px;
    p, a, a:hover{
      color:#00447c;
    }
  }

}

#possible-movie {
  padding-top: 0;
  padding-bottom: 0;
  // background-color: $MSUDenver-Red;

  .movie-section {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}


.background-right-copy {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  color: #00366A;
  background-color: #fff;
  margin-top: 5vh;
  margin-bottom: 5vh;

  .possible-footer {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }

  .university-logo-footer {
    width: 260px;
  }
}


@import "possible-partials/boostrap-overrides.scss";
@import "possible-partials/possible-navigation.scss";
@import "possible-partials/possible-viewport-overrides.scss";
@import "possible-partials/possible-animations.scss";
@import "possible-partials/possible-navbar.scss"
