// @import "ContentTypes/MainHeaderNavigation";
// @import "ContentTypes/variables";
// @import "ContentTypes/content";
// @import "ContentTypes/navmenu";
// @import "ContentTypes/TableStyles";
// @import "ContentTypes/AdmissionsStyles";
// @import "ContentTypes/PresidentMessages";
// @import "ContentTypes/HighlightBox";
// @import "ContentTypes/CallsToAction";
// @import "ContentTypes/ExpertProfiles";
// @import "ContentTypes/hero";
// @import "ContentTypes/newsroom";
// @import "ContentTypes/panel";
@import "ContentTypes/footer"; // @import "ContentTypes/SiteHeader";
@import "ContentTypes/stylestoimport";
// @import "ContentTypes/card";

.promospace {
  margin-top: 30px;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.promospace .promotab1 h3,
.promospace .promotab2 h3,
.promospace .promotab3 h3 {
  color: #00447c;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
  font-size: 1.5rem;
}

.promospace .promotab1 h3:before,
.promospace .promotab2 h3:before,
.promospace .promotab3 h3:before {
  display: none;
}

.promospace .promotab1 a,
.promospace .promotab1 p
 {
  font-size: 14px;
  color: #00447c;
  font-weight: 300;
  padding-bottom: 15px;
  margin: 0 15px;
}

.promospace .promotab2 a,
.promospace .promotab2 p{
  font-size: 14px;
  color: white;
  font-weight: 300;
  padding-bottom: 15px;
  margin: 0 15px;
}
.promospace .promotab3 a,
.promospace .promotab3 p{
  font-size: 14px;
  color: white;
  font-weight: 300;
  padding-bottom: 15px;
  margin: 0 15px;
}

.promospace .promotab1 a:hover,
.promospace .promotab1 p:hover,
.promospace .promotab2 a:hover,
.promospace .promotab2 p:hover,
.promospace .promotab3 a:hover,
.promospace .promotab3 p:hover {
  text-decoration: none;
}

.promo-mobile {
  min-height: 100px;
}

.promotab1 {
  background: rgb(0,55,101);
 
}

.promotab2 {
  background: #d11242;
  color: white;}

.promotab3 {
  background: rgba(112, 122,122,100);
}

.fa-chevron-right {
  color: #ffffff;
  float: right;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 100;
}
@media (min-width: 1200px) {
  .promospace {
    margin-top: 15%;
  }

  .promospace .nav > li {
    margin-top: 0;
  }

  .promospace .nav > li > a:focus,
  .promospace .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0);
  }

  .promospace .row {
    margin-left: 0;
    margin-right: 0;
  }

  .promospace .col-sm-6 {
    padding: 0;
  }

  .promospace .promotab1 {
    background: #ffffff;
    border-top: 3px solid #FFFFFF;
    color: #00447c;
    //border-bottom: 3px solid #d35400;
  }

  .promospace .promotab2 {
    background: rgba(209, 18, 66, 100);
    border-top: 3px solid #FFFFFF;
   // border-bottom: 3px solid #00765f;
  }

  .promospace .promotab3 {
    background: rgba(112, 122,122,100);
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
  }
}

#tabs li a {
  height: 57px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: rgba(0,55,101);
  padding: 5px;
  text-transform: inherit;
  text-decoration: none;
  outline: none;
}

.tab-container {
  height: 189px;
  color: rgb(115, 129, 115);
  border-top: 3px solid;
  border-bottom: 2px solid;
}
// /* footer */
// footer {
//   margin-top: 15px;
//   padding: 10px 0;
// }
// // footer .bg-dark { background: #111111; }
// footer .copyright {
//   margin: 0;
// }
//
// footer .font-alt {
// 
//   letter-spacing: 2px;
//   color: #1f4d69;
// }
//
// footer .footer-social-links {
//   text-align: right;
// }
//
// footer .footer-social-links a {
//   color: #ffffff;
//   display: inline-block;
//   padding: 0 6px;
// }
//
// .footer {
//   padding: 10px;
//   color: white;
// }
//
// a.footer {
//   color: #fff;
// }
//
// .copyright {
//   margin: 0;
// }
//
// .footer-social-links {
//   text-align: right;
//   margin: 10px 0;
//   font-size: 20px;
// }
//
// .footer-social-links a {
//   display: inline-block;
//   padding: 0 6px;
// }

.social-links {
  font-size: 250%;
  letter-spacing: 10px;
}

body.home {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body.home section {
  margin-top: 15px;
}

body.home h1 {
  font-size: 40px;
  font-size: 4rem;
  font-weight: normal;
  line-height: 0.8;
  margin: 0 0 0 40px;
  color: #ffffff;
  font-weight: 700;
}

body.home h2 {
  font-weight: 700;
  font-size: 22px;
  font-size: 2.2rem;
  color: #ffffff;
  margin: 30px 0 -10px;
  position: relative;
  letter-spacing: 1px;
  z-index: 99;
}


body.home h3 {
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 8px 0 0;
  color: #ffffff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}


body.home h4 {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: #fff;
}

// body.home p {
//   font-weight: 400;
//   font-size: 12px;
//   font-size: 1.2rem;
// }
body.home header {
  background-color: #00447c;
}
body.home header .title {
  width: 60%;
  display: inline-block;
  vertical-align: bottom;
}

body.home header .mainLogo {
  max-width: 35%;
}

body.home .navbar-default {
  background: transparent;
  border: none;
}

body.home .navbar-default .navbar-header {
  background: #1f4d69;
}

body.home .navbar-default .navbar-collapse,
body.home .navbar-default .navbar-form {
  background: #1f4d69;
}

body.home .navbar-default .navbar-toggle {
  border: 0;
  margin-right: 0;
}

body.home .navbar-default .navbar-toggle:focus,
body.home .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

body.home .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

body.home .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

body.home .services {
  padding: 0;
  margin: 0;
  width: 100%;
}

body.home .services .services-btn {
  border-radius: 0;
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
 // background: #1f4d69 url("../images/bgGrid.jpg");
 // margin: 5px -1px 10px 0;
  border: 3px solid rgba(255, 255, 255, 100);
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  height: 80px;
  margin-bottom: 10px;
 
}

body.home .services .services-btn:hover {
  background: #1f4d69;
  text-decoration: none;
}

body.home .services a {
  color: #00447c;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

body.home .services a:hover {
  background: #1f4d69;
  text-decoration: none;
}

body.home .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 116px;
}

body.home .content .text-center {
  width: 100%;
}

body.home .content .text-center:hover {
  text-decoration: none;
}

body.home .content .description {
  font-size: 1em;
  font-weight: 300;
}

body.home .newsfeed {
  height: 115px;
  overflow: hidden;
}

body.home .newsfeed h4 {
  margin-top: 0;
  font-weight: 300;
}

body.home .newsfeed p {
  text-transform: none;
}

// body.home .social {
//   padding: 0;
//   margin: 15px 0;
// }

body.home .social .fa-stack {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.social.text-center .fa-facebook,
.social.text-center .fa-flickr,
.social.text-center .fa-instagram,
.social.text-center .fa-twitter,
.social.text-center .fa-youtube {
  background-color: white;
  border-radius: 50px;
  color: #45A8C7;
}

.social.text-center .fa-facebook:hover,
.social.text-center .fa-flickr:hover,
.social.text-center .fa-instagram:hover,
.social.text-center .fa-twitter:hover,
.social.text-center .fa-youtube:hover {
  color: #3e97b3;
}

body.home .calendar {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}

body.home .calendar .title {
  display: block;
  margin: 10px 0;
  width: 100%;
}

body.home .calendar .title .main {
  font-size: 24px;
  font-size: 2.4rem;
}

body.home .calendar .title .semester {
}

body.home .calendar .title .year {
  font-family: "Lato", sans-serif;
  margin-right: 10px;
}

body.home .calendar .title a {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

body.home .calendar .title a:before {
  text-decoration: none;
}

body.home .calendar .day {
  display: inline-block;
  vertical-align: top;
  height: 145px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  background-color: rgba(209, 16, 66, 100) ;
}

body.home .calendar .day:hover {
  background: rgba(30, 74, 101, 0.9);
}

body.home .calendar .day .date {
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
}

body.home .calendar .day .event {
  color: #ffffff;
  display: block;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 10px;
}

body.home .black {
  background-color: black;
  padding: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

body.home .blue {
  background: #2897d1;
  padding: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

body.home .red {
  background:white;
  padding: 10px;
  color: #707070;
  font-weight: 600;
  margin-bottom: 10px;
  border: 3px solid rgba(122, 122, 122, .5);
  //border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.left-column {
  margin-bottom: 5px;
  text-align: center;
}

.middle-column [class*="col-"] {
  padding: 0 2px;
}

.middle-column a {
  font-weight: 200;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: #ffffff;
}

.middle-column a:hover {
  text-decoration: none;
}

.middle-column a .black:hover {
  background: rgba(0, 0, 0, 0.8);
}

.middle-column a .blue:hover {
  background: #227baa;
}

.middle-column a .red:hover {
  background: rgba(191, 31, 23, 0.9);
}

body.home .module-small {
  padding: 70px 0;
}

body.home .module-small.bg-deep {
  background: #1f4d69;
}

body.home .module-small [class*="col-"] {
  padding: 0 15px;
}

.widget {
  margin-bottom: 40px;
}

.widget .widget-title {
  border-bottom: 1px dotted #c2c2c2;
  font-size: 14px;
  padding: 0 0 10px;
  margin: 0 0 15px;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget ul li {
  margin: 0 0 15px;
  font-size: 12px;
  font-size: 1.2rem;
}

.widget .icon-list li a:before {
  color: #666666;
  padding-right: 5px;
}

.widget-posts-image {
  float: left;
  width: 64px;
}

.widget-posts-body {
  margin-left: 74px;
}

// .bg-dark,
// .bg-dark .alt-module-subtitle h5,
// .bg-dark .module-subtitle,
// .bg-dark .module-title,
// .bg-dark-30,
// .bg-dark-30 .alt-module-subtitle h5,
// .bg-dark-30 .module-subtitle,
// .bg-dark-30 .module-title,
// .bg-dark-60,
// .bg-dark-60 .alt-module-subtitle h5,
// .bg-dark-60 .module-subtitle,
// .bg-dark-60 .module-title,
// .bg-dark-90,
// .bg-dark-90 .alt-module-subtitle h5,
// .bg-dark-90 .module-subtitle,
// .bg-dark-90 .module-title {
//   color: #fff;
// }

// .bg-dark {
//   background: #111;
// }
//
// .bg-dark a {
//   color: #e1e1e1;
//   font-size: 12px;
//   font-size: 1.2rem;
// }

.home-section {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover;
}

.hs-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// .mb-10 {
//   margin-bottom: 10px !important;
// }

.hs-title-size-4 {
  letter-spacing: 0.2;
  padding: 50px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  opacity: 0.8;
  background-color: #fff;
}

.hs-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.9;
  background-color: #fff;
}
@media (min-width: 768px) {
  .left-column [class*="col-"] {
    padding: 0;
  }

  .middle-column {
    padding-left: 3px;
  }

  body.home {
   // background: url("https://msudenver.edu/media/studenthub/images/Campus-Background-comp.jpg") bottom;
   background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
  }

  body.home.home .module-small {
    margin-top: 40px;
  }

  body.home nav {
    margin: 0 auto;
  }

  body.home nav ul li {
    display: inline-block;
  }

  body.home nav ul a {
    font-weight: 900;
    font-size: 12px;
    font-size: 1.2rem;
    color: #ffffff;

    margin-right: 12px;
    letter-spacing: 1px;
  }

  body.home .navbar-default {
    text-align: right;
    background: transparent;
  }

  body.home .navbar-default .navbar-collapse {
    background: transparent;
  }

  body.home .navbar-default .navbar-form {
    background: transparent;
    padding-top: 15px;
  }

  body.home .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 30px 5px;
  }

  body.home .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  body.home h1 {
    font-size: 4.5rem;
  }

  body.home h2 {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  body.home h3:before {
    width: 100%;
    display: block;
  }

  body.home .mainLogo {
    margin-top: -70px;
   
  }

  body.home .services {
    width: 90%;
  }

  body.home .calendar .title:before {
    display: inline-block;
    width: 57px;
    height: 57px;
    background: url("../images/sticker.png") no-repeat center bottom;
    content: '';
    vertical-align: bottom;
    margin: 0 15px 0 -20px;
  }

  body.home .left-column,
  body.home .middle-column {
    display: inline-block;
    vertical-align: top;
  }

  body.home .left-column {
    text-align: right;
  }

  body.home .left-column .black {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px;
  }

  body.home .left-column .blue {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px;
  }

  body.home .left-column .red {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
