/**
    ===========================================
            Start Bootstrap  v 3.3.7
    ===========================================
**/
@import "../../../lib/bootstrap-sass/assets/stylesheets/bootstrap";
/** -------  End Bootstrap  v 3.3.7 -------- **/


/**
    =================================================
        MSU Denver 2016 custom style declarations
    =================================================
**/

/** SVG fallback for IE 8 **/
header {
    background-color: #505050;
    text-align: center;
    color: #fff;
}
#denver-city-svg { background: blue; color: #fff; }
#denver-city-svg svg { color: #fff;}
/**  Homepage Feature Components michael.mason@terminalfour.com **/
@import "msu-partials/msu-utils";
@import "msu-partials/homepage-base";
@import "msu-partials/homepage-feature-caption";
@import "msu-partials/homepage-ryor";
@import "msu-partials/homepage-news";
@import "msu-partials/homepage-at-a-glance";
@import "msu-partials/homepage-community";
@import "msu-partials/homepage-events";
@import "msu-partials/global-header.scss";
