#slider > a.left.carousel-control,
#slider > a.right.carousel-control {
    color: #fff;
}

.carousel-control {
    width: 5%;
    font-size: 20px;
    color: #0D2C56;
    opacity: 1;
}
.carousel-control.right {
    background: none!important;
    width: 45px;
    text-align: left;
}
.carousel-control.left {
    background: none!important;
    width: 15px;
    text-align: right;
}

.carousel-inner>.item>img {
    margin: auto;
}

.item {
    overflow: hidden;
}

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right,
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 20%;
    z-index: 10;
    display: inline-block;
    font-size: 35px;
    background: #003879;
    border-radius: 50px;
    color: white;
    opacity: 0.6;
    height: 0.8em;
    width: 0.8em;
    line-height: 0.8;
}
.carousel-caption {
    position: relative;
    right: 100%;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 68, 124, 1);
    color: #fff !important;
}
.carousel-caption > h2 {
    color: #fff !important;
    font-size: 25px;
    background: none;
    border: none;
    text-align: left;
    text-shadow: none;
    font-weight: bold;
}
.carousel-caption > h3 {
    color: #fff !important;
    font-size: 15px;
    text-align: left;
    text-shadow: none;
    margin-top: 10px;
}
.carousel-caption > hr {
    color: #fff !important;
    width: 50px;
}
.caption-reverse {
    background: rgba(255, 255, 255, 0.9) !important;
    color: #003879 !important;
    text-shadow: none;
}
.caption-reverse > h2 {
    color: #003879 !important;
    /*font-size: 40px;*/
    /*background: none;*/
    /*border: none;*/
    /*text-align: left;*/
    /*text-shadow: none;*/
}
.caption-reverse > h3 {
    color: #003879 !important;
    /*font-size: 24px;*/
    /*text-align: left;*/
    /*text-shadow: none;*/
}
.caption-reverse > hr {
    color: #003879 !important;
    width: 50px;
    /*text-shadow: none;*/
}
.caption-reverse > a {
    color: #003879 !important;
}
.caption-readmore {
    font-size: 18px;
    color: #fff;
    text-align: right;
}
.caption-readmore > a {
    color: #fff !important;
    font-style: italic;
}
.caption-reverse {
    font-size: 18px;
    color: #003879;
    text-align: right;
    text-shadow: none;
}
.caption-reverse > .caption-readmore {
    color: #003879 !important;
    text-shadow: none;
}
.firstheight img {
    display: none;
}


@media only screen and (min-width: 768px) {
    .carousel {
        margin-bottom: 15px;
    }
    .carousel-indicators {
        bottom: 10px;
        width: 200px;
        right: 0;
        left: inherit;
    }
    .carousel-control .fa-angle-left,
    .carousel-control .fa-angle-right,
    .carousel-control .fa-chevron-circle-left,
    .carousel-control .fa-chevron-circle-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        position: absolute;
        top: 30%;
    }
    .carousel-caption > h2 {
        font-size: 40px;
    }
    .carousel-caption > h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .msudenver_logo img {
        width: 165px;
        margin: 10px 25px;
    }
    .calls-to-action > h3 > a {
        font-size: 1.5em;
    }
    .carousel-indicators {
        bottom: 10px;
        width: 200px;
        right: 0;
        left: inherit;
    }
    .carousel-caption {
        position: absolute;
        right: 100%;
        left: 0;
        width: 50%;
        padding: 15px 30px;
        background: rgba(0, 68, 124, 0.9);
    }
}
