/* !!!

 RowdyTheRoadRunner
 CSS MIN Baked on :
 Thursday 7, January, 2016

 build :: 0.3.4

!!! */

@import"variables";
// @import"ContentTypes/oldhomepage";
@import"ContentTypes/navmenu";
@import"ContentTypes/TableStyles";
@import"ContentTypes/AdmissionsStyles";
@import"ContentTypes/HighlightBox";
@import"ContentTypes/CallsToAction";
@import"ContentTypes/hero";
@import "toolbar";
@import "footer";
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease
}

@media (max-width: 767px) {
  .header {
    text-align: left
  }

}
@media (min-width: 767px) {
  .header {
    text-align: left
  }
}

.linkcolumn a {
  word-break: break-word
}


.card {
  background: #fff;
  padding: 1em;
  border: 1px solid #d4d4d4;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .175)
}
.story_preview {
  padding: 15px
}
.story_preview:nth-child(odd) {
  background-color: #f0f0f0
}
.story_preview:nth-child(even) {
  background-color: #fff
}
.bannerImage {
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 1.5em
}
.panel-group {
  margin-bottom: 20px;
  border-radius: 0
}
.expert {
  padding: 1.5em;
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}
.newsimage {
  float: right
}
.fb-like-box {
  margin-bottom: 1.5em
}
#fb-root {
  display: none
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100%!important;
  height: 450px
}
.depsocial {
  margin-bottom: 1.5em
}
.custombtn {
  border-radius: 0;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 100!important;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}
.custombtn span {
  color: #FFF
}

.ie8 .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}
.ie8 .navbar-inverse .navbar-brand {
  color: inherit
}
.ie8 img {
  display: block;
  height: auto!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}

.content {
  margin: 0 auto 15px;
  line-height: 1.6em;
  min-width: inherit;
  padding: 1.5em;
  color: #333;
  background: #fff;
  max-width: 1200px
}
.content .img-responsive {
  padding: 0 15px;
}
.content .hero>.img-responsive {
  padding: inherit;
  margin-bottom:30px;
}
.content .nopadding img.img-responsive {
  padding: 0
}
.content img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff
}
.content a {
  color: #248dc1;
  text-decoration: none;
  font-weight: 700
}
.content a:hover {
  color: #003663;
  border-bottom: 1px solid
}
.content .description {
  font-size: 10px
}
.content-subhead {
  margin: 50px 0 20px;
  font-weight: 300;
  color: #888
}
.panel-default {
  border: 1px solid #1b557a
}
.panel-default>.panel-heading {
  background: #1b557a;
  color: #fff;
  font-size: 1.5em;
  border-color: #1b557a
}
.panel-title {
  color: #fff
}
img {
  max-width: 100%;
  height: auto
}
.accordion-group {
  padding: 1em 1em .5em;
  border: 1px solid #e8e8e8
}

.gsc-search-button.gsc-search-button-v2 {
  width: inherit;
  height: inherit
}
.navbar-default {
  border: none
}
#slider>a.left.carousel-control, #slider>a.right.carousel-control {
  color: #fff
}
.promo_date {
  text-align: right;
  font-size: small
}
.promo_date+h3 {
  width: 80%
}
body {
  background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABQAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAACAgICAgICAgICAwICAgMEAwICAwQFBAQEBAQFBgUFBQUFBQYGBwcIBwcGCQkKCgkJDAwMDAwMDAwMDAwMDAwMAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABJAEkDAREAAhEBAxEB/8QAgQAAAwEBAQEAAAAAAAAAAAAAAQIDBAAFCQEBAQEAAAAAAAAAAAAAAAAAAAECEAACAQICBwQGBwcFAAAAAAABAgMAESESMUFRYSITBHEyQlKRsdGSIzNicsLScxRUgcHh8UNTY7KToyQ0EQEBAQEBAQAAAAAAAAAAAAAAEQFBITH/2gAMAwEAAhEDEQA/APsVnwkwHfx4batmGyglC+WE3QXJk27Cf3UFHkYwSjhXGQnDUrEb6JU8zgmxB4DfgGGHZvoVaENy5MqkBVYXEQON91AJlvHICLcTaYV/tNuoqiqCiDKjkHTyRo5kdBndU/KxDloLjvcnsGq9EUYgc3BNJA4WAt6KGtWVtsXuUREvADMt3Y8weFbXsd9FQBgPT5jbEsBdFwuu47zRVpVhYSAlOJZTm5a+c76DhGhzMjRkcs4ZcTh276B1QBZcYcrE2utrEndQdMlkAJia7PoJGAjaiKIpvgqAZRe0p/uLvofGGXOIemvCt2STESG2BW2INFO4N2ARblm/qNtH06JHo8W1v9xvvUTxJ5IubIDK3zRgFtoHZRWYyQjpbmaTBb4jbbdQNI0Vj8UEBXwI2k7qCSSQgC5BbKe7h6qBi8YicrpLDEtfXQg9Q0RQZgpu8msa1Iops0VnOVQRbHDRmBoMkphHT9EC0akiTy6wu2iHzdOZFLTKMzyWAEeNsug0GzP0v6gf8fsorpDGJpLSLcSC/G/lOHdomozW/KrZl+WMQz7NeiiEZlu6gr3G0Z9JY6aNBHK4DWuVC6MfbRNDPKI3OQ4ldZG/fQVeSS0YsLkyG3YP40NVL3JPLVrtgLkYW7RRUpCuXp1MEV0El8zkYWHbRHGRM3TqYI7lnNsy7t1Fa+b0/wCnX3l9lE8QmZhJKwDWzg8JQ+E6MKKlISIFupJCDhOTZ/KiHABKkKAbC3ysbtvFCpRnhsAvEtj8saDbUKGi7BkkXKtwwyk8vy9g2UU8gsImGW2VyCQh1LqAoFCuGUALjlJ+FtA3aqJ0k8cmdAMFJkXCMY+lTqodKwk5sGK2XMbWUbN1Dw35g7E9K/dolaG5Bf5ytmIJNzoy2oscywctQJkzC4N82pRuNFBQmaG08ZJEZXE44X10EVVbQ8cR0i99V8MTRKDG6TZZkIDAWuvl/ZRVGLnKoZTwEju+Idu6gZ1YkXUaEPh1W2GiYUpKJcpXBZWF8NB3XopGWUOlo2sAbkAayaDH/wBnySe6fbRl6+RGKYyAsx4RhpBoviLxpmiAmI+I1wWN+4KEOIbydPeVbDlC7H6J2igmkIsDmjawJDBh5qAFRaQcGLXJJAvcDdRTMGtGxMfcwHCdZ3UToyX5iqXitZb4qMSvZRWeSYibqAZIRkkON0Ou19F6IBYZLiWFuEG4K6yTQqfN/wAkHpWiLRxRF1+YSHuoMSAaDuooGKLMo4jaVwLpH5bbqEUSNOd0t8wDGMYolu42u9AsIvDFlJOZWtmVMRmGsXoHPOIYBvGQxCruoDJzvg8RGBuGVcbsdlFPKsoeQjKbMmNhfuncdlE1nKOJZiSLPMwwQi2O6imMaFSxjsCqixQ6r7qA5I/JH7poKJJZkuG0nwNja/0qIRpk4CRbNK/hN+7vagKunP6PE3JXKVQDwttegERBgiLJfLHgTl146C1FBTCRfIuLf4xr+saI6TLeIApe4sM0Y0s2ygvKylpwDGSHW4cp5W3UEGZRIbywgmcnKMhOJ7DjQUxET/HiBVVAF1G061tQDMf1UfvR/dooJ8uP6zeujKDfLH4zfao00Q9/pPqj1NROk6b/AMidgop20n6/2hROKN/R7Y/9Roqc+nqfxV+1RMTl7034hopx3ZuyP1UTGuiv/9k=);
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased!important;
  -ms-backface-visibility: hidden
}
.clickable {
  cursor: pointer
}
h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans, helvetica, arial, sans-serif
}
h1 {
  padding-left: .5em;
  color: #002856;
  font-size: 2.6em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
font-weight: 600;
color: #00529c;
font-size: 2.2em;
width: 100%;
margin: 0px;
margin-bottom:15px;
line-height: 1.3;
}
h3 {
  color: #4C4C4D;
  font-size: 2.0em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px
}
h4 {
  color: #015FAE;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3;
}
h5 {
  color: #971200;
  font-size: 1.2em;
  font-weight: 600;
}
h6 {
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500
}
.siteheader {
  margin-top: 65px;
  margin-bottom: 20px;
  background-color: #fff;
  padding:5px;
  //border: 1px solid #bdc3c7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  border-bottom: 2px solid #cc2951;
}
@media (max-width: 767px) {
  .siteheader {
    margin-top: 15px;
    text-align: right;
    padding-right: 10px;
  }
  .msudenver_logo {
    text-align:center;
  }
}

.msudenver_logo img {
  width: 195px;
  padding-bottom: 15px;
}

.breadcrumb {
  background-color: #fff;
  border-radius: 0
}
ul.breadcrumb {
  color: #2c3e50
}
ul.breadcrumb a {
  color: #00447c
}
.readmore {
  text-align: right;
  margin-top: 10px
}
.sup {
  font-size: 80%;
  vertical-align: top
}
.sub {
  font-size: 80%;
  vertical-align: bottom
}
.image_caption {
  font-size: 12px;
  line-height: 19px;
  color: #73787e
}
.bordered {
  box-shadow: 0 0 2px #AAA;
  padding: 9px;
  border: 1px solid #ececec
}

.well {
  background: #fff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 1.2575em
}
.nav-header {
  color: #fff
}
.form-control {
  width: 80%
}
.navbar-inverse .navbar-nav>.open {
  background-color: #2c3e50
}
.container-fluid {
  padding-right: 0;
  padding-left: 0
}
.img-thumbnail, .thumbnail {
  padding: .5em;
  margin: 1em
}
.btn-primary a {
  color: #fff
}
.btn-primary a a:hover {
  text-decoration: none
}
.modal-dialog {
  padding-top: 12%
}

#top3>h5 {
  margin-bottom: 0px;
}

/* User Profile */
.contact-info > h4 {
    line-height: 20pt !important;
    font-size: 18pt !important;
    font-weight: 400 !important;
    color: #323e48 !important;
	}


 .contact-info > p {
  line-height: 16pt !important;
  font-size:12pt !important;
  }

  .contact-card > * > .img-circle {
  max-height:145px;

  }

 .contact-card > * >img.img-responsive {
    height: 170px;
  	width: 170px;
    float: right;
    position: relative;
    bottom: 10px;
}

  .contact-info >hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
  .row.card {
    margin: 15px !important;
    margin-right: 15px !important;
    margin-top: 15px;
}

@media (max-width: 767px){
	background-color:#cc2951;
}


.custom-search-input{
    margin-top:5px;
    height:40px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #003663;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background:none;
    color: #d11242;
}

@media (min-width: 767px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -2px;
}

.navbar .navbar-collapse {
    text-align: center;
}
}

hr {
    border-top: 2px solid #e6e1e1;
}



.content p a,
.content ul a {
color: #248dc1 !important;
text-decoration: none !important;
padding-bottom: 0px !important;
border-bottom:  0px solid #248dc1 !important;
transition: all 250ms ease-in-out;
}
.content p a:hover,
.content ul a:hover {
text-decoration: none !important;
padding-bottom: 3px !important;
border-bottom:  2px solid #248dc1 !important;
transition: all 250ms ease-in-out;
}

.btn {
    border-radius: 0;
    margin-bottom: 15px;
    font-weight: 100!important;
    opacity: .80;
    transition: opacity 250ms ease-in-out;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}

.btn:hover {
opacity: 1;
transition: opacity 250ms ease-in-out;
}

.panel {
    border-radius: 0px;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
