/* Toolbar Styles */

.toolbar {
    z-index: 9999;
    background: #fff;
}
.toolbar .quicktools {
    font-size: 16px;
}
.toolbar a.navbar-brand:hover {
    color: #003663;
}
.toolbar button.navbar-toggle {
    border: none;
    color: #d11242;
    font-size: 25px;
    margin-right: 5px;
}
.toolbar button.navbar-toggle span.icon-bar {
    color: #fff;
}
.toolbar .navbar-collapse .navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 10px;
}
.toolbar ul li a {
    color: #003663;
    padding-left: 7px;
    padding-right: 6px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.toolbar ul li a:hover {
    background: #ecf0f1;
    color: #333;
}
.toolbar .navbar-collapse .navbar-collapse.collapse .nav.navbar-nav.navbar-right {
    margin: 0;
}
.toolbar li.active a {
    background: #ecf0f1!important;
    color: #333!important;
}
.nav-social {
    border-bottom: 48px solid #d11242;
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    float: right;
}

  .nav-social>a>i.fa {
    color: white;
    font-size: 18px;
    padding: 15px 10px;
}

.navbar {
    border-radius: 0!important;
    margin-bottom: 0;
}
.navbar-nav {
    margin: 0;
}
.navbar-default {
    border: none;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-static-top {
    border-width: 0;
}
.navbar-brand {
    height: 57px;
}
.dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
}
.mainBlueNavigation {
    background: rgba(0, 68, 124, 1);
}
.mainBlueNavigation ul li a {
    color: #fff !important;
}
.mainBlueNavigation .dropdown-menu li a {
    color: #003663 !important;
    font-size: 16px;
    margin-left: 0;
    text-align: left;
    padding-top: 10px !important;
}
.mainBlueNavigation .dropdown-menu li:hover,
.mainBlueNavigation .dropdown-menu li:hover a {
    background: #003663;
    color: #fff !important;
}
.mainBlueNavigation .nav .open > a,
.mainBlueNavigation .nav > li > a:active,
.mainBlueNavigation .nav > li > a:focus,
.mainBlueNavigation .nav > li > a:hover {
    background-color: transparent;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

@media only screen and (max-width: 320px) {
    .navbar-brand {
        height: 53px;
    }
}
@media only screen and (max-width: 767px) {
    .nav-social {
        background: #d11242;
    }
}
@media only screen and (min-width: 768px) {
    .navbar .navbar-collapse {
        text-align: center;
    }
    .nav-social {
        border-bottom: 48px solid #d11242;
        border-left: 35px solid transparent;
        border-right: 0 solid transparent;
        height: 0;
    }
    .navbar .navbar-nav > .quicktools {
        display: inline-block;
        float: none;
        margin-bottom: -2px;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .mainBlueNavigation {
        background: url("media/assets/homepagespring2016/home_headerbg.jpg") no-repeat;
        // background: url("<t4 type='media' id='106586' formatter='image/path'/>") no-repeat;
        background-size: cover;
    }
    .mainBlueNavigation ul li a {
        color: #fff !important;
        font-size: 1.2em;
        font-weight: 100;
        font-family: 'Fjalla One', sans-serif;
        padding-top: 20px !important;
        padding-bottom: 15px !important;
    }
    ul.dropdown-menu > li a {
        padding-top: 0;
    }
    ul.dropdown-menu > li a {
        font-family: sans-serif;
    }
    ul.nav.navbar-nav.navbar-center {
        list-style: none !important;
        margin: auto !important;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        float: none;
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {
    .mainBlueNavigation ul li a {
        padding-top: 70px !important;
    }
}
@media only screen and (min-width:1200px) {
    .mainBlueNavigation ul li a {
        font-size: 1.5em;
    }
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
