.footer {
  display: block;
  min-height: 20px;
  padding: 20px;
  background: #00447c;
  margin-left: 0;
  margin-right: 0; }

.footer a,
.footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 200; }

.social i {
  word-spacing: 5px; }

.footer hr {
  opacity: 0.25; }

.footer-logo {
  text-align: center;
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%); }

.footer-menu {
  line-height: 0.8; }

.campus-info {
  border: 0;
  border-bottom: 1px solid white;
  margin-bottom: 15px; }
  .campus-info span.fa.fa-map-marker.fa-lg {
    margin-right: 9px; }
  .campus-info span.fa.fa-phone.fa-lg {
    margin-right: 5px; }

.college-portrait {
  float: right; }

.footer .fa-2x {
  font-size: 1.75em; }

.footer .fa {
  padding: 0px 5px; }

div#lhnContainerDone {
  display: none; }

@media only screen and (max-width: 360px) {
  .social i {
    word-spacing: 1px; } }

@media only screen and (max-width: 767px) {
  .footer-menu {
    text-align: center; }
  .desktop-msuinfo-show {
    display: none; }
  .social-non-mobile i {
    display: none; }
  .footer-logo {
    margin-bottom: 20px; } }

@media only screen and (min-width: 768px) {
  .hide-hr {
    display: none; }
  .mobile-msuinfo-show {
    display: none; }
  .social-mobile i {
    display: none; }
  .campus-info {
    padding-top: 25px; }
  .footer-logo {
    -webkit-transform: translate(0%, 1%);
            transform: translate(0%, 1%); } }

@media only screen and (max-width: 1199px) {
  .campus-info {
    border: 0;
    border-bottom: none;
    margin-bottom: 15px; }
  .social-mobile i {
    text-align: center; }
  .footer-logo {
    padding-top: 10px; } }

@media only screen and (min-width: 1200px) {
  .campus-info {
    border: 0;
    border-right: 0px solid white;
    border-bottom: 0;
    margin-bottom: 0; }
  .campus-info {
    padding-top: 0px; }
  .footer-menu {
    padding-left: 3%; } }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease; }

@media (max-width: 767px) {
  .header {
    text-align: left; } }

@media (min-width: 767px) {
  .header {
    text-align: left; } }

.linkcolumn a {
  word-break: break-word; }

.bannerImage {
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 1.5em; }

.expert {
  padding: 1.5em;
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.fb-like-box {
  margin-bottom: 1.5em; }

#fb-root {
  display: none; }

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  height: 450px; }

.depsocial {
  margin-bottom: 1.5em; }

.custombtn {
  border-radius: 0;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 100 !important;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.175); }

.custombtn span {
  color: #FFF; }

.ie8 .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.ie8 .navbar-inverse .navbar-brand {
  color: inherit; }

.ie8 img {
  display: block;
  height: auto !important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

img {
  max-width: 100%;
  height: auto; }

.accordion-group {
  padding: 1em 1em .5em;
  border: 1px solid #e8e8e8; }

.gsc-search-button.gsc-search-button-v2 {
  width: inherit;
  height: inherit; }

.navbar-default {
  border: none; }

#slider > a.left.carousel-control, #slider > a.right.carousel-control {
  color: #fff; }

.promo_date {
  text-align: right;
  font-size: small; }

.promo_date + h3 {
  width: 80%; }

body {
  background: #E9EDF1;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -ms-backface-visibility: hidden; }

.clickable {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Open Sans, helvetica, arial, sans-serif; }

h1 {
  padding-left: .5em;
  color: #002856;
  font-size: 2.6em;
  font-weight: 600;
  text-transform: uppercase; }

h2 {
  font-weight: 600;
  color: #00529c;
  font-size: 2.2em;
  width: 100%;
  margin: 0px;
  margin-bottom: 15px;
  line-height: 1.3; }

h3 {
  color: #4C4C4D;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  color: #015FAE;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3; }

h5 {
  color: #971200;
  font-size: 1.2em;
  font-weight: 600; }

h6 {
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500; }

.msudenver_logo img {
  padding-bottom: 15px;
  padding-top: 25px; }

.breadcrumb {
  background-color: #fff;
  border-radius: 0; }

ul.breadcrumb {
  color: #2c3e50; }

ul.breadcrumb a {
  color: #00447c; }

.readmore {
  text-align: right;
  margin-top: 10px; }

.sup {
  font-size: 80%;
  vertical-align: top; }

.sub {
  font-size: 80%;
  vertical-align: bottom; }

.image_caption {
  font-size: 12px;
  line-height: 19px;
  color: #73787e; }

.bordered {
  box-shadow: 0 0 2px #AAA;
  padding: 9px;
  border: 1px solid #ececec; }

.well {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 1.2575em; }

.nav-header {
  color: #fff; }

.form-control {
  width: 80%; }

.navbar-inverse .navbar-nav > .open {
  background-color: #2c3e50; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.img-thumbnail, .thumbnail {
  padding: .5em;
  margin: 1em; }

.btn-primary a {
  color: #fff; }

.btn-primary a a:hover {
  text-decoration: none; }

.modal-dialog {
  padding-top: 12%; }

/* User Profile */
.contact-info > h4 {
  line-height: 20pt !important;
  font-size: 18pt !important;
  font-weight: 400 !important;
  color: #323e48 !important; }

.contact-info > p {
  line-height: 16pt !important;
  font-size: 12pt !important; }

.contact-card > * > img.img-responsive {
  width: 155px;
  border-radius: 50%;
  padding: 5px;
  display: inline; }

.contact-info > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee; }

.row.card {
  margin: 15px !important;
  margin-right: 15px !important;
  margin-top: 15px; }

@media (max-width: 767px) {
  background-color: #cc2951; }

.custom-search-input {
  margin-top: 5px;
  height: 40px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff; }

.custom-search-input input {
  border: 0;
  box-shadow: none; }

.custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #003663;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc; }

.custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
  background: none;
  color: #d11242; }

hr {
  border-top: 1px solid #e6e1e1;
  margin-top: 15px;
  margin-bottom: 15px; }

.btn {
  border-radius: 0;
  margin-bottom: 15px;
  font-weight: 100 !important;
  opacity: .80;
  transition: opacity 250ms ease-in-out;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.175); }

.btn:hover {
  opacity: 1;
  transition: opacity 250ms ease-in-out; }

.promospace {
  margin-top: 30px;
  position: relative;
  padding: 10px 0;
  overflow: hidden; }

.promospace .promotab1 h3,
.promospace .promotab2 h3,
.promospace .promotab3 h3 {
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
  font-size: 1.5rem; }

.promospace .promotab1 h3:before,
.promospace .promotab2 h3:before,
.promospace .promotab3 h3:before {
  display: none; }

.promospace .promotab1 a,
.promospace .promotab1 p,
.promospace .promotab2 a,
.promospace .promotab2 p,
.promospace .promotab3 a,
.promospace .promotab3 p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
  padding-bottom: 15px;
  margin: 0 15px; }

.promospace .promotab1 a:hover,
.promospace .promotab1 p:hover,
.promospace .promotab2 a:hover,
.promospace .promotab2 p:hover,
.promospace .promotab3 a:hover,
.promospace .promotab3 p:hover {
  text-decoration: none; }

.promo-mobile {
  min-height: 100px; }

.promotab1 {
  background: #e67e22; }

.promotab2 {
  background: #16a085; }

.promotab3 {
  background: #8e44ad; }

.fa-chevron-right {
  color: #ffffff;
  float: right;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 100; }

@media (min-width: 1200px) {
  .promospace {
    margin-top: 15%; }
  .promospace .nav > li {
    margin-top: 0; }
  .promospace .nav > li > a:focus,
  .promospace .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0); }
  .promospace .row {
    margin-left: 0;
    margin-right: 0; }
  .promospace .col-sm-6 {
    padding: 0; }
  .promospace .promotab1 {
    background: rgba(230, 126, 34, 0.75);
    border-top: 3px solid #d35400;
    border-bottom: 3px solid #d35400; }
  .promospace .promotab2 {
    background: rgba(0, 118, 95, 0.75);
    border-top: 3px solid #00765f;
    border-bottom: 3px solid #00765f; }
  .promospace .promotab3 {
    background: rgba(102, 0, 142, 0.75);
    border-top: 3px solid #66008e;
    border-bottom: 3px solid #66008e; } }

#tabs li a {
  height: 57px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  outline: none;
  text-transform: uppercase; }

.tab-container {
  height: 189px;
  color: #fff;
  border-top: 3px solid;
  border-bottom: 2px solid; }

.social-links {
  font-size: 250%;
  letter-spacing: 10px; }

body.home {
  background: url("https://msudenver.edu/media/studenthub/images/Campus-Background-mobile.jpg") bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

body.home section {
  margin-top: 15px; }

body.home h1 {
  font-size: 40px;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.8;
  margin: 0 0 0 40px;
  color: #ffffff;
  font-weight: 700; }

body.home h2 {
  font-weight: 700;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px 0 -10px;
  position: relative;
  letter-spacing: 1px;
  z-index: 99; }

body.home h2:before {
  display: inline-block;
  width: 57px;
  height: 57px;
  background: url("https://msudenver.edu/media/studenthub/images/sticker.png") no-repeat center bottom;
  content: '';
  vertical-align: middle;
  margin-right: 15px; }

body.home h3 {
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 8px 0 0;
  color: #ffffff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45); }

body.home h3:before {
  display: inline-block;
  width: 57px;
  height: 57px;
  background: url("https://msudenver.edu/media/studenthub/images/sticker.png") no-repeat center right;
  content: '';
  text-align: right;
  margin: 0 8px 8px 0;
  vertical-align: middle; }

body.home h4 {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: #fff; }

body.home header .title {
  width: 60%;
  display: inline-block;
  vertical-align: bottom; }

body.home header .mainLogo {
  max-width: 35%; }

body.home .navbar-default {
  background: transparent;
  border: none; }

body.home .navbar-default .navbar-header {
  background: #1f4d69; }

body.home .navbar-default .navbar-collapse,
body.home .navbar-default .navbar-form {
  background: #1f4d69; }

body.home .navbar-default .navbar-toggle {
  border: 0;
  margin-right: 0; }

body.home .navbar-default .navbar-toggle:focus,
body.home .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

body.home .navbar-default .navbar-nav > li > a {
  color: #ffffff; }

body.home .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

body.home .services {
  padding: 0;
  margin: 0;
  width: 100%; }

body.home .services .services-btn {
  border-radius: 0;
  display: inline-block;
  background: #1f4d69 url("../images/bgGrid.jpg");
  margin: 0 -1px 1px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  height: 80px;
  margin: 0 -13px; }

body.home .services .services-btn:hover {
  background: #1f4d69;
  text-decoration: none; }

body.home .services a {
  color: #ffffff;
  font-weight: 200;
  padding: 20px 0;
  text-align: center;
  display: block;
  font-size: 18px;
  font-size: 1.8rem; }

body.home .services a:hover {
  background: #1f4d69;
  text-decoration: none; }

body.home .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 116px; }

body.home .content .text-center {
  width: 100%; }

body.home .content .text-center:hover {
  text-decoration: none; }

body.home .content .description {
  font-size: 1em;
  font-weight: 300; }

body.home .newsfeed {
  height: 115px;
  overflow: hidden; }

body.home .newsfeed h4 {
  margin-top: 0;
  font-weight: 300; }

body.home .newsfeed p {
  text-transform: none; }

body.home .social .fa-stack {
  margin-left: 2.5%;
  margin-right: 2.5%; }

.social.text-center .fa-facebook,
.social.text-center .fa-flickr,
.social.text-center .fa-instagram,
.social.text-center .fa-twitter,
.social.text-center .fa-youtube {
  background-color: white;
  border-radius: 50px;
  color: #45A8C7; }

.social.text-center .fa-facebook:hover,
.social.text-center .fa-flickr:hover,
.social.text-center .fa-instagram:hover,
.social.text-center .fa-twitter:hover,
.social.text-center .fa-youtube:hover {
  color: #3e97b3; }

body.home .calendar {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem; }

body.home .calendar .title {
  display: block;
  margin: 10px 0;
  width: 100%; }

body.home .calendar .title .main {
  font-size: 24px;
  font-size: 2.4rem; }

body.home .calendar .title .semester {
  text-transform: uppercase; }

body.home .calendar .title .year {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-right: 10px; }

body.home .calendar .title a {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline; }

body.home .calendar .title a:before {
  text-decoration: none; }

body.home .calendar .day {
  display: inline-block;
  vertical-align: top;
  height: 145px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  background-color: rgba(30, 74, 101, 0.72); }

body.home .calendar .day:hover {
  background: rgba(30, 74, 101, 0.9); }

body.home .calendar .day .date {
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400; }

body.home .calendar .day .event {
  color: #ffffff;
  display: block;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 10px; }

body.home .black {
  background: rgba(43, 43, 43, 0.8);
  padding: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

body.home .blue {
  background: #2897d1;
  padding: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

body.home .red {
  background: rgba(226, 35, 26, 0.9);
  padding: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

.left-column {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase; }

.middle-column [class*="col-"] {
  padding: 0 2px; }

.middle-column a {
  font-weight: 200;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: #ffffff; }

.middle-column a:hover {
  text-decoration: none; }

.middle-column a .black:hover {
  background: rgba(0, 0, 0, 0.8); }

.middle-column a .blue:hover {
  background: #227baa; }

.middle-column a .red:hover {
  background: rgba(191, 31, 23, 0.9); }

body.home .module-small {
  padding: 70px 0; }

body.home .module-small.bg-deep {
  background: #1f4d69; }

body.home .module-small [class*="col-"] {
  padding: 0 15px; }

.widget {
  margin-bottom: 40px; }

.widget .widget-title {
  border-bottom: 1px dotted #c2c2c2;
  font-size: 14px;
  padding: 0 0 10px;
  margin: 0 0 15px; }

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.widget ul li {
  margin: 0 0 15px;
  font-size: 12px;
  font-size: 1.2rem; }

.widget .icon-list li a:before {
  color: #666666;
  padding-right: 5px; }

.widget-posts-image {
  float: left;
  width: 64px; }

.widget-posts-body {
  margin-left: 74px; }

.home-section {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover; }

.hs-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.hs-title-size-4 {
  letter-spacing: 0.2;
  padding: 50px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  opacity: 0.8;
  background-color: #fff; }

.hs-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.9;
  background-color: #fff; }

@media (min-width: 768px) {
  .left-column [class*="col-"] {
    padding: 0; }
  .middle-column {
    padding-left: 3px; }
  body.home {
    background: url("https://msudenver.edu/media/studenthub/images/Campus-Background-comp.jpg") bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; }
  body.home.home .module-small {
    margin-top: 40px; }
  body.home nav {
    margin: 0 auto; }
  body.home nav ul li {
    display: inline-block; }
  body.home nav ul a {
    font-weight: 900;
    font-size: 12px;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 12px;
    letter-spacing: 1px; }
  body.home .navbar-default {
    text-align: right;
    background: transparent; }
  body.home .navbar-default .navbar-collapse {
    background: transparent; }
  body.home .navbar-default .navbar-form {
    background: transparent;
    padding-top: 15px; }
  body.home .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 30px 5px; }
  body.home .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    text-decoration: underline; }
  body.home h1 {
    font-size: 4.5rem; }
  body.home h2 {
    margin-left: -8px; }
  body.home h3:before {
    width: 100%;
    display: block; }
  body.home .mainLogo {
    margin-top: -70px; }
  body.home .services {
    width: 90%; }
  body.home .calendar .title:before {
    display: inline-block;
    width: 57px;
    height: 57px;
    background: url("../images/sticker.png") no-repeat center bottom;
    content: '';
    vertical-align: bottom;
    margin: 0 15px 0 -20px; }
  body.home .left-column,
  body.home .middle-column {
    display: inline-block;
    vertical-align: top; }
  body.home .left-column {
    text-align: right; }
  body.home .left-column .black {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px; }
  body.home .left-column .blue {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px; }
  body.home .left-column .red {
    min-height: 115px;
    margin-left: -15px;
    margin-right: -15px; } }
