/* MainHeaderNavigation Styles */
body {
  padding-top: 65px;
}

.blue-header {
  background: #00447c;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inner {
  text-align: center;
}

.toolbar {
  z-index: 9999;
    .navbar-collapse {
    background: #fff;
  }
  button.navbar-toggle {
    border: none;
    color: #fff;
    font-size: 25px;
    margin-right: 5px;
  }
  button.navbar-toggle span.icon-bar {
    color: #fff;
  }
  ul li a {
    color: #00447c;
    padding-left: 7px;
    padding-right: 6px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  ul li a:hover {
    color: #333;
  }
  navbar-collapse .navbar-collapse.collapse .nav.navbar-nav.navbar-right {
    margin: 0;
  }
  li.active a {
    background: #ecf0f1!important;
    color: #333!important;
  }

}

.navbar {
  min-height: 46px;
  border-radius: 0!important;
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0;
}

.navbar-default {
  border: none;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar-static-top {
  border-width: 0;
}

.dropdown-menu {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}

li.dropdown {
  color: #00447c;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  cursor: pointer;
  border-bottom: 2px solid #4cb4f2;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
}

li.dropdown.last {
  border-right: none;
}

.nav > li > a {
  display: inline;
  line-height: 30px;
}
//begin expanding search css
#content-nav {
  margin-top: 0;
  // height: 40px;
  margin-bottom: 10px; //    background-color: #00447c;
}

#content-nav #wrapper li {
  padding-left: 0;
  border-bottom: 2px solid #4cb4f2;
  margin: 5px 0 -5px;
  font-weight: bold;
}

.container-dropdown {
  margin: 0 40px 0 50px;
}

i.fa.fa-chevron-down.pull-right.chevron-pulldown {
  color: #007dc3;
  padding: 2px 0 0;
}

#search-input {
  padding-top: 4px;
}

#content-nav #wrapper #nav-search div {
  border: none;
}

#content-nav #wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-table;
  // width: 985px;
}

#content-nav #wrapper ul li {
  float: left;
  padding: 0;
  // height: 40px;
  color: #FFF;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}

#content-nav #wrapper ul li:hover {
  position: relative;
  left: -1px;
  background-color: #E9EDF1;
  color: #00447c;
  cursor: pointer;
}

#content-nav #wrapper ul li.active-section {
  position: relative;
  left: -1px;
  background-color: #ebd0f5; //    color: #9c5fb5;
  cursor: pointer;
}

#content-nav #wrapper ul li.active-nav {
  position: relative;
  left: -1px;
  background-color: #f7f2f9; //    color: #9c5fb5;
}

#content-nav #wrapper ul li a {
  display: block;
  padding: 0 20px;
  // color: #FFF;
  text-decoration: none;
  border-bottom: 0 solid #4cb4f2;
}

#content-nav #wrapper ul li div {
  padding: 0 14px;
  border-right: 1px solid #e6d6ed;
  height: 20px;
  line-height: 1.3em;
  position: relative;
  top: 10px;
}

#content-nav #nav-search-close {
  position: relative;
  top: -46px;
  left: 23.5em;
  color: #007dc3;
  cursor: pointer;
  font-size: 1.3em;
}

#content-nav #search-input {
  display: none;
  position: absolute; // was relative
}

#content-nav #search-input div {
  padding-right: 0 !important;
  top: 3px !important;
}

#content-nav #search-input input[type=text] {
  display: inline-block;
  height: 55px;
  width: 32em;
  /* was 900px */
  border: none;
  color: #6E6E6E;
  border: 2px solid #fff;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
}

#content-nav #search-input .button {
  display: inline-block;
  padding-left: 3px;
  top: -4.2em;
  left: 36em;
  /*was 808px */
  position: relative;
  height: 2.8em;
  width: 8.0em;
  background-color: #d8d9da; //    color: #9c5fb5;
  border-radius: 2;
  letter-spacing: 5px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

#content-nav #search-input .button:hover {
  color: #cdadd9;
}

::-webkit-input-placeholder {
  color: gray;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: gray;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

// .container {width: 985px;}

.button {
  height: 35px;
  line-height: 35px;
  display: block;
  border-radius: 4px; //    background-color: #9c5fb5;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #FFF;
  border: 0;
}

.button:hover {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Open Sans';
}

.button:focus {
  text-decoration: none;
  color: #FFF;
}

.glyphicon-search {
  color: #007dc3 !important;
  padding-top: 1.6em;
  font-size: 1.2em;
  cursor: pointer;
}

.glyphicon-opened {
  color: #717171 !important;
  padding-top: 10px;
  font-size: 1.2em;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 12px;
  top: 1.0em;
  // background-color: #E9EDF1;
  border-radius: 5px 0 0 5px;
  cursor: unset;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align glyph */
.left-addon .glyphicon {
  left: 10px;
}

.right-addon .glyphicon {
  right: 0;
}
/* add padding  */
.left-addon input {
  padding-left: 70px;
}

.right-addon input {
  padding-right: 30px;
}
/* add back pointer functionality for x-out button  */
.glyphicon-remove {
  pointer-events: all !important;
}
//end expanding search css
.apply-button {
  background: #d11242;
  color: white;
  font-size: 26px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 20px 15px;
  width: 13%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  float: right;
  display: none;
}

.msudenver_logo {
  padding: 15px 0px;
  // max-width:90%;
  max-height:65px;
}

.custom-search-input {
  margin-top: 5px;
  height: 40px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

.custom-search-input input {
  border: 0;
  box-shadow: none;
}

.custom-search-input button {
  margin: 2px 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #003663;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

.custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
  background: none;
  color: #d11242;
}

#search-input #search-text {
  height: 14px;
  border-style: none;
  border-color: inherit;
  border-width: 0;
  width: 207px;
  margin-top: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  color: #bcbcbc;
  letter-spacing: 2px;
}

#search-input #autoSuggestResults {
  display: none;
  position: absolute;
  z-index: 2;
  width: 794px;
  margin-left: 15px;
  margin-top: 36px;
  background-color: white;
  border: 1px solid #999;
  box-shadow: 3px 3px 3px #AAA;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Verdana;
  font-size: 8pt;
  color: #999;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#autoSuggestResults .autoSuggestResult {
  padding: 3px 19px 3px 11px;
  cursor: default;
}

#autoSuggestResults .autoSuggestResultMouseOver {
  background-color: #EEE;
}

.gobutton #searchGoLink.disableGoButton {
  color: #919195 !important;
  /*cursor: default !important;*/
}

.fa-bars {
  background-color: #005fae;
  padding: 20px;
  margin: -16px -30px -16px -16px;
}

.glyphicon-search-mobile {
  color: #fff !important;
  padding: 0;
  font-size: 20px !important;
  margin-top: 19px;
}

.quicktools {
  border-bottom: 2px solid #4cb4f2;
}

.chevron-pulldown {
  cursor: pointer;
}

.col-xs-9,
.navbar-header {
  padding-left: 0;
}

.toolbar ul li a {
  transition: none;
}

.search-desktop {
  display: none;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu>li>a {
    font-weight: 700;
}

@media screen and (max-width: 410px) {
  .navbar-collapse {
    border-top: 5px solid #005fae;
  }
}

@media only screen and (min-width: 768px) {
  .msudenver_logo {
    max-height:100px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -2px;
  }

  .navbar .navbar-nav > .quicktools {
    display: inline-block;
    float: none;
    margin-bottom: -2px;
  }
  .search-desktop {
    display: block;
  }
  li.dropdown {
    border-right: 2px solid #4cb4f2;
    font-size: 0.75em;
    margin-top: 15px;
    padding: 5px 0px;
    border-bottom: none;
  }

  li.dropdown.last {
    border-right: none;
  }
  ul.dropdown-menu > li a {
    padding-top: 0;
  }

  ul.nav.navbar-nav.navbar-center {
    list-style: none !important;
    margin: auto !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: none;
    display: inline-block;
  }

  .navbar-collapse #wrapper {
    display: none;
  }

  .glyphicon-search-mobile {
    display: none;
  }

  .container-dropdown {
    display: none;
  }

  .chevron-pulldown {
    display: none;
  }

  body {
    padding-top: 215px;
  }
  .dropdown-menu {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 992px) {
  li.dropdown {
    padding: 5px 0px;
    font-size: 1.08em;
  }

  #content-nav #search-input input[type=text] {
    width: 65em;
  }

  // .apply-button {
  //   width: 14%;
  //   margin-bottom: 20px;
  // }
}

@media only screen and (min-width:1200px) {
  .msudenver_logo {
    max-height:150px;
  }
  li.dropdown {
  padding: 5px 0px;
  font-size: 1.33em;
  }
  .glyphicon-search {
  padding-top: 26px;
  font-size: 1.2em;
  }
  #content-nav #search-input input[type=text] {
    width: 89em;
  }
}

@media only screen and (min-width:1358px) {
  #search-input #search-text {
    font-size: 14px;
  }

  .left-addon .glyphicon {
    font-size: 23px;
    top: 14px;
  }

  #content-nav #nav-search-close {
    font-size: 20px;
  }

  .glyphicon-search {
    font-size: 1.4em;
    top: 5px;
    margin-right: 12px;
    padding-top: 22px;
  }

  #content-nav #search-input .button {
    top: -50px;
    height: 30px;
    width: 130px;
    left: 34em;
  }

  .button {
    font-size: 14px;
    line-height: 31px;
  }
  #content-nav #search-input input[type=text] {
    width: 80.5em;
  }
}
