/* Panel Styles */

.panel {
    border-radius: 0;
}
.panel-heading {
    border-radius: 0;
}
.panel-default > .panel-heading {
    background: #00447C;
    color: #fff;
    font-size: 1.5em;
    border-color: #00447C;
}
.panel-title {
    color: #fff;
}
.panel-group {
  margin-bottom: 20px;
  border-radius: 0
}

.panel-danger>.panel-heading {
    background: #d63647;
    color: white;
    font-size: 1.75em;
    font-weight: 100;
    border-color: #df1300;
}

.panel-danger {
    border: 1px solid #d63647;
}
