.action-btns {
  border-radius: 15px;
  text-align: center;
  margin-bottom: .5em;
  padding: 1.25em;
  font-size: 1.75em;
  color: #fff;
}

.action-btns-container {
  margin: 0em 1em 0em 1em;
}

.actionHeader.events {
    background-color: #000000;
}

.tool {
  position: relative;
  margin: 0 auto;
  padding: 1.1em 0.5em 1.3em 0.5em;
  font-size: 1.2em;
  background-color: #fff;
  color: #00447c;
  text-align: left;
  border-bottom: 1px solid #00447c;
  transition: .5s;
  white-space: nowrap;
}

.tool:hover {
  background-color: #00447c;
  color: #fff;
}

.tool:after {
  content: "\f105";
  font-family: FontAwesome;
}

.tool-one {
  border-top: 1px solid #00447c;
  margin-top: 0.7em;
}

.tool-last {
  margin-bottom: 1em;
}

.info-section {
  padding: 13px 0 13px 0;
  height: 20em;
  margin-bottom: 0.5em;
}

.info-box {
  width: 100%;
  color: #003a6e;
  height: 33%;
  z-index: 100;
  line-height: 1.5em;
  margin: 0em 0em 0.5em 0em;
  font-size: 150%;
  background: #e5e5e5;
  display: table;
}
.info-box:hover {
  color: #00447c;
  border: 1px solid #00447c;
  background-color: #ecf0f1;
}

.infocenter {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}

.admissions-deadlines-container {
  padding: 5px 8px 30px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.admissions-deadlines {
  font-size: 1.65em;
  margin-bottom: 15px;
  display: block;
  padding: .5em 5px;
  text-align: center;
  line-height: 1em;
  color: #fff;
}

#content .row {
  margin: 0;
}

.panel{
  padding: 0;
}

@media screen and (min-width: 992px) {
  .action-btns-container {
    margin: 0em;
  }
}

@media screen and (min-width: 1200px) {
  .info-box {
    width: 96%;
  }

  .panel{
    padding: 0 15px 0 15px;
  }
}
