.ThreeCornerBox {
  position: relative;
  border-radius: 15px;
  transition: .5s;
  margin-bottom: 1em;
  z-index: 101;
  color: #fff;
}

.ThreeCornerBox:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.action-one, .action-two, .action-three {
  width: 100%;
  color: #fff;
  z-index: 100;
  line-height: 1em;
  text-align: center;
  margin-bottom: .5em;
  padding: 1.25em;
  font-size: 1.75em;
}

.action-one {
  background-color: #d11242;
  margin-top: .5em;
}

.action-two {
  background-color: #00447c;
}

.action-three {
  background-color: #717073;
}

.admissions-deadlines {
    font-size: 1.65em;
    margin-bottom: 15px;
    display: block;
    padding: .5em 5px;
    text-align: center;
    line-height: 1em;
    color: #fff;
}

.actionHeader.events {
    background-color: #000000;
}

.tool {
  position: relative;
  margin: 0 auto;
  padding: 1.3em 0 1.5em;
  height: 80px;
  font-size: 1.2em;
  background-color: #fff;
  color: #00447c;
  text-align: left;
  border-bottom: 1px solid #00447c;
  transition: .5s;
}

.tool:hover {
  background-color: #16a085;
  color: #fff;
}

.tool:after {
  content: "\f105";
  font-family: FontAwesome;
}

.tool-one {
  border-top: 1px solid #00447c;
}

.tool-four {
  margin-bottom: .5em;
}

.info-section .container {
  padding: 0;
}

.info-box {
  width: 100%;
  color: #003a6e;
  padding: 1.5em;
  z-index: 100;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: .5em;
  font-size: 150%;
  background: #e5e5e5;
  vertical-align: middle;
}
.info-box:hover {
  color: #00447c;
  border: 1px solid #00447c;
  background-color: #ecf0f1;
}

.admissions-deadlines-container {
  padding: 5px 8px 30px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.admissions-deadlines {
  font-size: 1.65em;
  margin-bottom: 15px;
  display: block;
  padding: .5em 5px;
  text-align: center;
  line-height: 1em;
  color: #fff;
}
.marginsForIE8Colums {
  margin-left: 30px;
  margin-right: 30px;
}
.ie8 .ThreeCornerBox {
  width: 300px;
}
.ie8 .ThreeCornerBox i {
  display: none;
}
.ie8 .action-one, .ie8 .action-three, .ie8 .action-two {
  width: 400px;
  margin-left: 30px;
  margin-right: 30px;
}
.ie8 .tool-four, .ie8 .tool-one, .ie8 .tool-three, .ie8 .tool-two {
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}
.ie8 .info-box {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
}
.ie8 .col-lg-4 .container #admissions-calendar {
  width: 400px;
  margin-left: 30px;
  margin-right: 30px;
}

.tool-four, .tool-one, .tool-three, .tool-two {
  padding: 1em 0 .5em;
  font-size: 1.5em;
}
