.btn {
    transition: opacity 250ms ease-in-out;
    text-align: left;
    white-space: normal;
    border: 0px solid transparent;
}

.btn:hover {
opacity: 1.5;
transition: opacity 250ms ease-in-out;
}

.btn-primary a {
  color: #fff
}
.btn-primary a a:hover {
  text-decoration: none
}

.custombtn {
  margin-bottom: 15px;
  width: 100%;
  background: #e5e5e5;
  color: #00447c uppercase;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.contact-info button {
	float: left !important;
}

@media screen and (min-width: 768px) {
	.contact-info-mobile {
		display: none;
	}
	.contact-info button {
		float: right !important;
	}
}

.contact-info button {
  float: left !important;
}

@media screen and (min-width: 768px) {
  .contact-info-mobile {
    display: none;
  }

  .contact-info button {
    float: right !important;
  }
}
