.btn {
  transition: opacity 250ms ease-in-out;
  text-align: left;
  white-space: normal;
  border: 0px solid transparent;
  border-radius: 0;
}

.btn:hover {
  opacity: 1.5;
  transition: opacity 250ms ease-in-out;
}

.btn-primary a {
  color: #fff
}

.btn-primary a a:hover {
  text-decoration: none
}

.custombtn {
  margin-bottom: 15px;
  width: 100%;
  background: #e5e5e5;
  color: #00447c uppercase;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

// Original custom-blue-btn
// .custom-blue-btn {
//   margin-bottom: 15px;
//   width: 100%;
//   background-color: #ffffff;
//   color: #002855 !important;
//   border: 2px solid #002855 !important;
//   font-family: 'Gotham A', 'Gotham B', sans-serif;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 25px;
//   text-align: center;
//   padding: 32px 0;
// }

// Original custom-red-btn 
// .custom-red-btn {
//   margin-bottom: 15px;
//   width: 100%;
//   background-color: #ffffff;
//   color: #D11242 !important;
//   border: 2px solid #D11242 !important;
//   font-family: 'Gotham A', 'Gotham B', sans-serif;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 25px;
//   text-align: center;
// }


.custom-blue-btn {
  border-color: #00447c;
  border-width: 2px;
  background: #fff;
  color: #00447c !important;
  float: right;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  // bottom: -65px;
  position: relative;
  text-align: center;
  height: 93px;
  width: 100%;
  margin-bottom: 15px;
}

.custom-red-btn {
  border-color: #D11242;
  border-width: 2px;
  background: #fff;
  color: #D11242 !important;
  float: right;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  // bottom: -65px;
  position: relative;
  text-align: center;
  height: 93px;
  width: 100%;
  margin-bottom: 15px;
}

.custom-red-btn:hover {
  transition: background-color .4s ease-in-out;
  color: #ffffff !important;
  background-color: #DE2554;
  border-color: #D11242;
}



.custom-blue-btn:hover {
  transition: background-color .4s ease-in-out;
  color: #ffffff !important;
  background-color: #00418B;
  border-color: #002855;
}

.custom-grey-btn {
  margin-bottom: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #717073 !important;
  border: 2px solid #717073 !important;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 32px 0;
}

.custom-grey-btn:hover {
  transition: background-color .4s ease-in-out;
  color: #ffffff !important;
  background-color: #969696;
  border-color: #717073;
}

.custom-black-btn {
  margin-bottom: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #000000 !important;
  border: 2px solid #000000 !important;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 32px 0;
}

.custom-black-btn:hover {
  transition: background-color .4s ease-in-out;
  color: #ffffff !important;
  background-color: #393939;
  border-color: #000000;
}

.contact-info button {
  float: left !important;
}

@media screen and (min-width: 768px) {
  .contact-info-mobile {
    display: none;
  }
}

.contact-info button {
  float: left !important;
}

@media screen and (min-width: 768px) {
  .contact-info-mobile {
    display: none;
  }
}
