.btn {
    // border-radius: 0;
    // margin-bottom: 15px;
    // font-weight: 100!important;
    transition: opacity 250ms ease-in-out;
    // box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}

.btn:hover {
opacity: 1.5;
transition: opacity 250ms ease-in-out;
}

.btn-primary a {
  color: #fff
}
.btn-primary a a:hover {
  text-decoration: none
}

.custombtn {
  // border-radius: 0;
  margin-bottom: 15px;
  width: 100%;
  // font-weight: 100!important;
  // box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}
// .custombtn span {
//   color: #FFF
// }
