// STYLES USED FOR THE PAGE CONTENT TYPE
.content {
  // margin: 0 auto 15px;
  line-height: 1.6em;
  // min-width: inherit;
  // padding: 1.5em;
  // color: #333;
  // background: #fff;
  // max-width: 1200px

.img-responsive {
  padding: 0 15px;
}
.hero>.img-responsive {
  padding: inherit;
  margin-bottom:30px;
  width:100%;
}
.nopadding img.img-responsive {
  padding: 0
}
img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff
}

.description {
  font-size: 10px
}
.content-subhead {
  margin: 50px 0 20px;
  font-weight: 300;
  color: #888
}

// .content p a, .content ul a {
// color: #248dc1 !important;
// text-decoration: none !important;
// padding-bottom: 0px !important;
// border-bottom:  0px solid #248dc1 !important;
// transition: all 250ms ease-in-out;
// }
// .content p a:hover,
// .content ul a:hover {
// text-decoration: none !important;
// padding-bottom: 3px !important;
// border-bottom:  2px solid #248dc1 !important;
// transition: all 250ms ease-in-out;
// }

}

<<<<<<< HEAD
.content-inner {
  a {
   color: #007dc3;
   font-weight: 700
 }
  a:hover {
   // color: #003663;
   border-bottom: 1px solid;
   text-decoration: none;
 }
}

.content-inner ul li {
	position: relative;
=======
.content-inner a {
  color: #007dc3;
  font-weight: 700;
}
.content-inner a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

.content-inner ul li {
  position: relative;
>>>>>>> fix-Visit-Give-Apply-Joel
  left: 1em;
}
