// STYLES USED FOR THE PAGE CONTENT TYPE
.content {
  line-height: 1.6em;
.img-responsive {
  padding: 0 15px;
}
.hero>.img-responsive {
  padding: inherit;
  margin-bottom:30px;
  width:100%;
}
.nopadding img.img-responsive {
  padding: 0
}
img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff
}

 a {
  color: #007dc3;
  font-weight: 700
}
 a:hover {
  // color: #003663;
  border-bottom: 0px solid;
  text-decoration: none;
}

.description {
  font-size: 10px
}
.content-subhead {
  margin: 50px 0 20px;
  font-weight: 300;
  color: #888
}

}

.content-inner {

  h2 {
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  width: 100%;
  // margin: 0px;
  margin-bottom: 10px;
  line-height: 22px;
  }
  h3 {
    color: #717073;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 2px
  }
  h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }
  h5 {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
  }
  h6 {
    background-color: #005fae;
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
  }
  a {
    color: #007BC6;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
 }
  a:hover {
   // color: #003663;
   border-bottom: 1px solid;
   text-decoration: none;
  }

ul li {
  position: relative;
  left: 1em;
}

}

.contact-form {
  h2 {
    font-weight: 700;
    font-size: 18px;
    color: #000000
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #717073;
  }
  legend {
    border-bottom: 1px solid #879CBA;

    h4 {
      font-weight: 500;
      font-size: 16px;
      color: #000000;
    }
  }
  .form-control {
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid #CBCBCB;
  }
}
