.expert {
  padding: 1.5em;
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.expert-photo{
float:right;
}

.expert-photo>img.img-responsive {
  max-height: 175px;
}
