.hero {
  position: relative;
  margin-bottom: 30px;
}

.hero p {
  padding: 0 2%;
}
.hero span > :first-child {
  padding-top: 2% !important;
}
.hero span > :last-child {
  padding-bottom: 2% !important;
}

.hero > .img-responsive {
  width: 100%;
}
.hero > .hidden-md > .img-responsive {
  margin-top: 20px;
}

.hero-caption {
  color: #fff;
  right: 0;
  bottom: 0;
  position: static !important;
  background: #000;
  margin: 0;
  font-size: 16.1px;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: auto !important;
  padding: 2%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .hero-caption {
    width: 40%;
    float: right;
    position: absolute !important;
    top: inherit;
    right: 0;
    left: auto;
    bottom: 0 !important;
    padding: 2%;
  }
  .hero p {
    padding: inherit;
  }
  .hero span > :first-child {
    padding-top: inherit;
  }
  .hero span > :last-child {
    padding-bottom: inherit;
  }
}
.homepage-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.homepage-container:before,
.homepage-container:after {
  display: table;
  content: "";
}
.homepage-container:after {
  clear: both;
}

@media (min-width: 1200px) {
  .homepage-container {
    width: 1170px !important;
  }
}
@media (min-width: 768px) {
  .homepage-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .homepage-container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .large {
    width: 66% !important;
    text-align: left !important;
  }
}

.homepage-promo {
  display: block;
  margin-bottom: 1.375rem;
}

@media (min-width: 768px) {
  .homepage-promo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .homepage-promo {
    float: left;
    width: 33.3333333333%;
  }
}
.homepage-promo-bg {
  display: block;
  padding: 15% 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.homepage-promo-bg:before,
.homepage-promo-bg:after {
  content: " ";
  display: table;
}
.homepage-promo-bg:after {
  clear: both;
}
.homepage-promo-bg:hover .homepage-promo-heading,
.homepage-promo-bg:focus .homepage-promo-heading,
.homepage-promo-bg:active .homepage-promo-heading {
  display: none;
}
.homepage-promo-bg:hover .homepage-promo-text,
.homepage-promo-bg:focus .homepage-promo-text,
.homepage-promo-bg:active .homepage-promo-text {
  display: table;
  opacity: 1;
}

.homepage-promo-heading,
.homepage-promo-text {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 4.5rem;
  background-color: rgba(113, 112, 115, 0.8);
  display: table;
  width: 100%;
}

.homepage-promo-heading span,
.homepage-promo-text span {
  display: table-cell;
  vertical-align: middle;
}

.homepage-promo-heading {
  text-transform: uppercase;
}
.homepage-promo-heading span {
  color: white !important;
}

.homepage-promo-text {
  display: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.center-panel1 {
  font-size: 3rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}
