.hero {
  position: relative;
  }

  .hero p {
    padding: 0 2%;
  }
  .hero span > :first-child {
    padding-top: 2% !important;
  }
  .hero span > :last-child {
    padding-bottom: 2% !important;
  }

.hero > .img-responsive {
  margin-bottom: 0px;
  width:100%
}

.hero-caption {
  color: #fff;
  right: 0;
  bottom: 0;
  position: static !important;
  background: #000;
  margin: 0;
  font-size: 16.1px;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: auto !important;
  padding: 2%;
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .hero-caption {
    width: 40%;
    float: right;
    position: absolute !important;
    top: inherit;
    right: 0;
    left: auto;
    bottom: 0 !important;
    padding: 2%;
  }
  .hero p {
    padding: inherit;
  }
  .hero span > :first-child {
    padding-top: inherit;
  }
  .hero span > :last-child {
    padding-bottom: inherit;
  }
}
