.hero {
  position: relative;
  }
.hero-caption p {
   	color: #fff;
    right: 0;
    bottom: 0;
    position: static;
    background: #000;
    margin: 0;
    font-size: 16.1px;
    font-weight: 100;
    padding: 2%;
}
.content .hero > .img-responsive {
  margin-bottom: 0px;
}
.hero-caption h2 {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    margin: 0;
    font-weight: 100;
    padding: 2%;
}

@media (min-width: 1200px) {
  .hero-caption p {
    position: absolute;
  	width: 35%;
    background: rgba(0, 0, 0, .5);
    margin: 0;
  }
  .content .hero > .img-responsive {
    margin-bottom: 0px;
  }
}
