
.HighlightBox {
  color: #000000;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #ffffff;
  position: relative;
  border: 1px solid #869CBB;
}
.HighlightBox .HighlightBox-title {
  color: #717073;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.HighlightBox .HighlightBox-content a {
  color: #000000 !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.HighlightBox .img-responsive {
  margin: auto;
}

.ThreeColumnRight .HighlightBox, .ThreeColumnRight .HighlightBox .HighlightBox-content, .ThreeColumnRight .HighlightBox .HighlightBox-content a, .ThreeColumnRight .HighlightBox .HighlightBox-content a:hover, .ThreeColumnRight .HighlightBox a, .ThreeColumnRight .HighlightBox a:hover, .content .HighlightBox .HighlightBox-content, .content .HighlightBox .HighlightBox-content a, .content .HighlightBox .HighlightBox-content a:hover {
  color: #000000
}
.HighlightBox hr {
  border: 0;
  height: 1px;
  background-color: #717073;
  color: #717073;
}
