
.HighlightBox {
  color: #fff;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #4e5462;
  position: relative;
  // zoom: 1;
  // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  // -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}
.HighlightBox .HighlightBox-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.HighlightBox .HighlightBox-content a {
  color: #fff !important;
  font-size: 1em
}

// .linkcolumn .HighlightBox {
//   margin: 0 0 1em;
//   background: #c0392b;
//   zoom: 1
// }
// .linkcolumn .HighlightBox a {
//   word-break: break-word
// }
// .ThreeColumnRight .HighlightBox {
//   margin: 0 0 1em;
//   background: #16a085
// }
// .ThreeColumnRight .HighlightBox .HighlightBox-title {
//   color: #fff;
//   font-size: 1.5em;
//   text-align: center
// }
.HighlightBox .img-responsive {
  margin: auto;
}
.ThreeColumnRight .HighlightBox, .ThreeColumnRight .HighlightBox .HighlightBox-content, .ThreeColumnRight .HighlightBox .HighlightBox-content a, .ThreeColumnRight .HighlightBox .HighlightBox-content a:hover, .ThreeColumnRight .HighlightBox a, .ThreeColumnRight .HighlightBox a:hover, .content .HighlightBox .HighlightBox-content, .content .HighlightBox .HighlightBox-content a, .content .HighlightBox .HighlightBox-content a:hover {
  color: #fff
}
.HighlightBox hr {
  border: 0;
  height: .059em;
  background-color: #fff;
  color: #fff
}
