#layout, #menu, .menu-link {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out
}
#layout {
  z-index: 9998;
  padding-left: 200px;
  left: 0;
  top: 100px
}

#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  padding-top: 70px;
  top: 0;
  left: 150px;
  bottom: 0;
  z-index: 9998;
  background: #fff;
  color:black;
  -webkit-overflow-scroll: touch
}
#menu a {
  border: none;
  color:black;
  font-size:1.2rem;
  font-weight:700;
  padding: 15px 15px;
  line-height: 1em;
  display: block;
  text-decoration: none;
  -webkit-transition: all .25 ease-in-out;
  -moz-transition: all .25 ease-in-out;
  -o-transition: all .25 ease-in-out;
  transition: all .25 ease-in-out
}
#menu a:hover, .pure-menu li a:focus, #menu .pure-menu li a:hover {
  color: #d11242;
  padding: 15px 5px;
  -webkit-transition: all .25 ease-in-out;
  -moz-transition: all .25 ease-in-out;
  -o-transition: all .25 ease-in-out;
  transition: all .25 ease-in-out
}


#menu .pure-menu, #menu .pure-menu ul {
  border: none;
}


#menu .pure-menu-heading:hover, #menu .pure-menu-selected:hover {

  text-decoration: none
}

.menu-link {
  display: none;
  top: 75px;
  left: 10px;
  background: #002856;
  background: rgba(27, 85, 122, .5);
  width: 4.5em;
  height: auto;
  padding: 2.2em 1.6em
}
.menu-link span {
  position: relative;
  display: block;
  background: #fff;
  color: #fff;
  width: 100%;
  height: .2em
}
.menu-link span:after, .menu-link span:before {
  background: #fff;
  width: 100%;
  height: .2em;
  position: absolute;
  margin-top: -.6em;
  content: " "
}
.menu-link span:after {
  margin-top: .6em
}
.menu-link:focus, .menu-link:hover {
  background: #1b557a
}
.menu-link:focus span, .menu-link:hover span {
  position: relative;
  display: block;
  // background: #fff;
  // color: #fff;
  width: 100%;
  height: .2em
}
.menu-link:focus span:after, .menu-link:focus span:before, .menu-link:hover span:after, .menu-link:hover span:before {
  content: " ";
  background: #fff;
  width: 100%;
  height: .2em;
  position: absolute;
  margin-top: -.6em;

}
.menu-link:focus span:after, .menu-link:hover span:after {
  margin-top: .6em
}

.multilevel-linkul-0 {
   margin-left: -15px;
}

.multilevel-linkul-1 {
    margin-left: -15px;
}

.multilevel-linkul-2 {
    margin-left: -15px;
}

.sidebar-nav {
  margin-bottom: 15px;
  // background: #002856;
    ul li {
      list-style-type: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      // border-width: 100%;
    }

    ul li:last-child {
        border-bottom: none;
    }

    // li a {
    //
    // }

     li a:hover {
      // background: #eeeeee;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      position: relative;
      padding: 10px 15px
    }
}

// .sidebar-nav li:after {
//   -webkit-transition: all .25s ease-in-out;
//   -moz-transition: all .25s ease-in-out;
//   -o-transition: all .25s ease-in-out;
//   transition: all .25s ease-in-out
// }

.currentbranch0 a , .currentbranch1 a, .currentbranch2 a, .currentbranch3 a, .currentbranch4 a {
  color: #d11242 !important;
  font-size: 1.2em;
}

.currentbranch0 a:after, .currentbranch1 a:after, .currentbranch2 a:after, .currentbranch3 a:after, .currentbranch4 a:after  {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    float: right;
    padding-right: 15px;
  }

@media (max-width: $screen-sm-max) {
  #menu {
    overflow-x: scroll;
  }
}

@media (max-width: 991px) {

  #layout {
    position: relative;
    padding-left: 0
  }

  #layout.active {
    position: relative;
    left: 150px
  }
  #layout.active #menu {
    left: 150px;
    width: 70%
  }
  #menu {
    left: 0
  }
  .menu-link {
    position: fixed;
    display: block;
  }
  #layout.active .menu-link {
    left: 70%
  }
}

@media (min-width: 992px) {
  #layout {
    padding: 0;
    margin: 0 auto;
    left: 0
  }
  #menu {
    position: relative;
    left: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%
  }

  #menu a {
    padding: 15px 0px;
    line-height: 1em;
    -webkit-transition: all .25 ease-in-out;
    -moz-transition: all .25 ease-in-out;
    -o-transition: all .25 ease-in-out;
    transition: all .25 ease-in-out
  }

      // #menu a:hover, .pure-menu li a:focus, #menu .pure-menu li a:hover {
      //   color: #d11242;
      //   // line-height: 1em;
      //   // font-size: 2em;
      //   padding: 15px px;
      //   -webkit-transition: all .25 ease-in-out;
      //   -moz-transition: all .25 ease-in-out;
      //   -o-transition: all .25 ease-in-out;
      //   transition: all .25 ease-in-out
      // }
    }
@media (max-width: 992px) {}
