.presidentmessagecontainer {
  padding-bottom: 15px;
}
.presidentsmessage {
  padding: 15px;
}
.messagearea {
  width: 100%;
  height: 100%;
}
.presidentsheader-orange {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-teal {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-blue {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-purple {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-green {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-gray {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-lightgray {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-orangered {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentsheader-pumpkin {
  background: #00447c;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}
.presidentstitle {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  float: left;
  padding-top: 5px;
  font-weight: 400;
}
.messagedate {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  float: right;
}
img.presidentsimg {
  width: 100%;
  height: 100%;
}
.whitearea {
  background: #fff;
  padding: 10px;
  /*                    width: 50%;*/
  /*                    float: right;*/
}
.presidentsquote {
  color: #216c87;
  font-style: italic;
  font-size: 14px;
  padding-top: 5px;
}
hr.style-one {
  height: 3px;
  background: #358ac0;
  margin: 0;
  padding: 0;
}
.readmore {
  padding-top: 0;
  padding-bottom: 10px;
  float: right;
  font-style: italic;
  font-size: 12px;
}
