.filter {
  background-color: #fff;
  padding: 15px;
  margin-bottom:15px;

}
.pageTitle {
  height:200px;
  padding-left: 15px;
  font-size: 3rem;
font-weight:200;

}

section.filter-titles {
    background: #1B557A;
    padding: 5px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

// .btn{
//     text-align: left;
//     font-weight: normal !important;
// width: 100%;
// }

.card-program {
    padding: 1em;
    border: 1px solid #d4d4d4;
    margin-bottom: 15px;
    height: 125px;
    overflow:hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: block;
   -webkit-align-items: center;
   -webkit-box-align: center;
   align-items: center;
   background: #f1f2f5;
   box-shadow: none;
}

.degreeTitle {
color: #1e1e1e;
font-size: 1.6em;
padding-bottom: 0px;
margin-bottom: 15px;
font-weight: 800;
}

.degreeType {
  font-size: 1.2em;
  color: #3A3A3A;
}

//.content {
//background: none !important;
//}

.card-program.Master {
    border-left: 10px solid #717073;
}

.card-program.Bachelor {
    border-left: 10px solid #d11242;
}

.card-program.Minor {
    border-left: 10px solid #00447c;
}

.card-program.Concentration {
    border-left: 10px solid #5191cd;
}

.card-program.Certificate {
    border-left: 10px solid #9cadcd;
}

.card-program.Special.Academic.Program {
    border-left: 10px solid #e68d89;
}

.card-program.Teacher.Licensure {
    border-left: 10px solid #000000;
}

a:focus, a:hover {
    text-decoration: none;
}

#Bachelor:active, #Bachelor.btn-default.focus, #Bachelor.btn-default:focus {
    background-color: rgba(209, 18, 66, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Minor:active, #Minor.btn-default.focus, #Minor.btn-default:focus {
    background-color: rgba(0, 68, 124, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Master:active, #Master.btn-default.focus, #Master.btn-default:focus {
    background-color: rgba(113, 112, 115, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Teacher:active, #Teacher.btn-default.focus, #Teacher.btn-default:focus {
    background-color: rgba(0, 0, 0, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Certificate:active, #Certificate.btn-default.focus, #Certificate.btn-default:focus {
    background-color: rgba(156, 173, 205, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Concentration:active, #Concentration.btn-default.focus, #Concentration.btn-default:focus {
    background-color: rgba(81, 145, 205, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#Special:active, #Special.btn-default.focus, #Special.btn-default:focus {
    background-color: rgba(230, 141, 137, 0.1) !important;
    outline: none;
    outline-offset: -2px;
}

#all.btn-default:focus {
    outline: none;
    outline-offset: -2px;
}

.programtitle {
  color: white;
  font-size: 30pt;
  line-height: 24pt;
}

#programHeader {
   margin-top: 1em;
   margin-bottom: 2em;
}
#programHeader > .col-lg-8,
#programHeader > .col-lg-4 {
 min-height: 100px;
}
#programHeader > .col-lg-8 {
 background: rgb(0, 68, 124);
 border-right: 10px solid #fff;
 padding-top: .75em;
}
#programHeader > .col-lg-4 {
 background: rgb(209, 18, 66);
 border-left: 10px solid #fff;
}
#program-title .page-header {
 padding-bottom: 9px;
 margin: 40px 0 0px;
 border-bottom: 1px solid #eee;
}
#program-title {
 margin-bottom: 1em;
 margin-left: 0px;
}

.content-quote {
margin: 0 auto;
line-height: 1.6em;
min-width: inherit;
padding-left: 1.2575em;
padding-right: 1.2575em;
padding-top: .25em;
padding-bottom: .25em;
color: white;
font-size: 1.25em;
background: rgba(0, 69, 124, 0.56);
background-color: rgba(0, 69, 124, 0.56);
}

//.btn-default:hover {
//    background-color: #EFEFEF;
//}

.btn-academic-programs {
    font-weight: 800 !important;
    text-transform: uppercase;
    text-align: left;
    border: 1px solid #ccc !important;
    width: 100%;
}

.fa.fa-square {
    padding-right: 10px;
}
.shuffle-buttons {
    padding-bottom: 15px !important;
}
.shuffle-button-box {
    padding-left: 0px;
}
.content a:hover {
    border-bottom: none;
}

#Bachelor .fa-square{
    color: #d11242;
}
#Certificate .fa-square{
    color: #9cadcd;
}
#Minor .fa-square{
    color: #00447c;
}
#Concentration .fa-square{
    color: #5191cd;
}
#Master .fa-square{
    color: #717073;
}
#Special .fa-square{
    color: #e68d89;
}
#Teacher .fa-square{
    color: #000000;
}
