.quote p:nth-of-type(1) {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.quote p:nth-of-type(2) {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
}
.content-blockquote {
  margin-left: 13rem;
  padding: 1rem;
  background-color: #FAFAFA;
}
blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  border-left: 5px solid #C7CDD6;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}
