#site-header {
    background: #003a6e;
    margin-bottom: 25px;
    background-size: 100%;
    a {
        &:hover, &:active, &:focus {
            text-decoration: underline;
            font-weight: 700;
        }
    }
.siteheader {
  color: #fff;
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  padding: 0;
}
ul.breadcrumb {
  color: #fff;
  font-family: 'Gotham A', 'Gotham B', Open Sans, helvetica, arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}
ul.breadcrumb a {
  color: #fff;
  font-weight: 700;
}
}

@media (max-width: $screen-md-min) {
  .siteheader {
    // margin-top: 15px;
    text-align: right;
    padding-right: 10px;
  }
}
