#site-header {
    background: url('../media/eventsbg.jpg') ;
    margin-bottom: 25px;
    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
.siteheader {
  color: #fff;
  // border-bottom: 2px solid #cc2951;
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  padding: 0;
}
ul.breadcrumb {
  // color: #fff;
  font-family: 'Gotham A', 'Gotham B', Open Sans, helvetica, arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}
ul.breadcrumb a {
  color: #fff
}

@media (max-width: 767px) {
  .siteheader {
    // margin-top: 15px;
    text-align: right;
    padding-right: 10px;
  }
}
}
