.siteheader {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #cc2951;
}
@media (max-width: 767px) {
  .siteheader {
    margin-top: 15px;
    text-align: right;
    padding-right: 10px;
  }
}
