body {
  // background: #E9EDF1;
  margin-top: 70px;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased!important;
  -ms-backface-visibility: hidden;

}


.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease
}

@media (max-width: 767px) {
  .header {
    text-align: left
  }

}
@media (min-width: 767px) {
  .header {
    text-align: left
  }
}

.linkcolumn a {
  word-break: break-word
}



.bannerImage {
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 1.5em
}


.fb-like-box {
  margin-bottom: 1.5em
}
#fb-root {
  display: none
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100%!important;
  height: 450px
}
.depsocial {
  margin-bottom: 1.5em
}
.custombtn {
  // border-radius: 0;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 100!important;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}
.custombtn span {
  color: #FFF
}

.ie8 .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}
.ie8 .navbar-inverse .navbar-brand {
  color: inherit
}
.ie8 img {
  display: block;
  height: auto!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}

img {
  max-width: 100%;
  height: auto
}
.accordion-group {
  padding: 1em 1em .5em;
  border: 1px solid #e8e8e8
}

.gsc-search-button.gsc-search-button-v2 {
  width: inherit;
  height: inherit
}
.navbar-default {
  border: none
}
#slider>a.left.carousel-control, #slider>a.right.carousel-control {
  color: #fff
}
.promo_date {
  text-align: right;
  font-size: small
}
.promo_date+h3 {
  width: 80%
}

.clickable {
  cursor: pointer
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Open Sans, helvetica, arial, sans-serif;
}
h1 {
  padding-left: .5em;
  color: #002856;
  font-size: 2.6em;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
font-weight: 600;
color: #00529c;
font-size: 2.2em;
width: 100%;
margin: 0px;
margin-bottom:15px;
line-height: 1.3;
}
h3 {
  color: #4C4C4D;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px
}
h4 {
  color: #015FAE;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3;
}
h5 {
  color: #971200;
  font-size: 1.2em;
  font-weight: 600;
}
h6 {
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500
}

.msudenver_logo img {
  padding-bottom: 15px;
  padding-top: 25px;
}

.breadcrumb {
  background-color: #fff;
  border-radius: 0
}
ul.breadcrumb {
  color: #2c3e50
}
ul.breadcrumb a {
  color: #00447c
}
.readmore {
  text-align: right;
  margin-top: 10px
}
.sup {
  font-size: 80%;
  vertical-align: top
}
.sub {
  font-size: 80%;
  vertical-align: bottom
}
.image_caption {
  font-size: 12px;
  line-height: 19px;
  color: #73787e
}
.bordered {
  box-shadow: 0 0 2px #AAA;
  padding: 9px;
  border: 1px solid #ececec
}

.well {
  background: #fff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 1.2575em
}
.nav-header {
  color: #fff
}
.form-control {
  width: 80%
}
.navbar-inverse .navbar-nav>.open {
  background-color: #2c3e50
}
.container-fluid {
  padding-right: 0;
  padding-left: 0
}
.img-thumbnail, .thumbnail {
  padding: .5em;
  margin: 1em
}
.btn-primary a {
  color: #fff
}
.btn-primary a a:hover {
  text-decoration: none
}
.modal-dialog {
  padding-top: 12%
}


@media (max-width: 767px){
	background-color:#cc2951;
}


.custom-search-input{
    margin-top:5px;
    height:40px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #003663;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background:none;
    color: #d11242;
}

hr {
    border-top: 1px solid #e6e1e1;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn {
    border-radius: 0;
    margin-bottom: 15px;
    font-weight: 100!important;
    opacity: .80;
    transition: opacity 250ms ease-in-out;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.175);
}

.btn:hover {
opacity: 1;
transition: opacity 250ms ease-in-out;
}
