/* User Profile */
  .contact-info > h4 {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #002855 !important;

    small {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }
	}

  .contact-info > p {
    line-height: 16pt !important;
    font-size:12pt !important;

    span {
      color: #d11242;
    }

    a {
      font-weight: 400;
      color: #000000;
    }
  }

  .contact-card {
    margin-bottom: 15px;
  }

 .contact-card > * >img.img-responsive {
    width: 155px;
    border-radius: 0;
    padding: 5px;
    display: inline;
 }

  .contact-info >hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #879CBA;
  }

  .contact-info .btn {
    background-color: transparent;
    padding: 0;
    color: #007BC6;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 16px;

    span.fa-chevron-down {
      font-size: 20px;
    }
  }

  .contact-info .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .panel-collapse {
    padding: 0 1rem;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;

      strong {
        font-weight: 700;
      }
    }
  }
