// MSU Denver Colors
.blue {
  background: #007DC3;
}
.lightblue {
  background: #4CB4F2;
}
.gray{
    background: #A7A9AC;
}
.darkgray {
    background: #919195;
}
.lightgray {
    background: #bcbaba;
}
.white {
  background: #fff;
  color: #000
}
.black {
  background: #000;
  color: #fff
}
.contentlink {
  background: #1b557a
}
.rowdyblue {
  background: #00447c;
  color: #fff!important;
  &:hover {
    background: #003663;
  }
}

.rowdyred {
  background: #c50f3c;
  color: #fff!important;
  &:hover {
    background: #ad0d35;
  }
}

.rowdygray {
  background: #717073;
  color: #fff!important;
  &:hover {
    background: #646366;
  }
}
