.navbar {
    padding-top: 15vh;
    background-color: #00447c;
    padding-bottom: 15vh;
    height: auto;
    display: table;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    h2 {
      margin: 15px 0;
      color: #fff;
    }
  
    p {
      color: #fff;
    }
  }