section.admissionsHomepageSlider {
	background-color: #00447C;
	color: #ffffff;
	margin-top: -15px;
	h1, h2, h3, p {
		color: #ffffff;
		font-family: $font-family-sans-serif;
	}
	h1 {
		font-size: 2.25rem;
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		font-size: 1rem;
		font-weight: 500;
	}
	 .carousel-inner {
	 	.item {
	 		img {
	 			width: 100%;
	 		}
	 	}
	 }

	 .carousel-controls {
	 	width: 25%;
	    left: unset;
	    right: 5%;
	    position: absolute;
	    bottom: 30%;
	    z-index: 15;
	    margin-left: -30%;
	    padding-left: 0;
	    list-style: none;
	    text-align: center;
	 	a {
	 		// position: absolute;
	 		// bottom: 20px;
	 		z-index: 15;
	 		display: inline-block;
	 		span {
	 			color: #ffffff;
	 		}
	 	}
	 }

	 .carousel-indicators {
	 	position: initial;
	 	width: 200px;
	 	margin-left: unset;
	 	display: inline-block;
	 	li {
	 		height: 20px;
	 		width: 20px;
	 		margin: 1px 20px;
	 		border: none;
	 		background-color: rgba(255, 255, 255, 0.5);
	 		&.active {
	 			background-color: rgba(255, 255, 255, 1);
	 		}
	 	}
	 }

	 .container.carousel-cta {
	 	width: 100%;
	 	padding-left: 8.3333333333%;
	 	padding-right: 8.3333333333%;
	 	border-top: 15px solid $msu-red;
	 	.details {
	 		padding-top: 10px;
	 		padding-bottom: 20px;
	 	}
	 }
}
