section.admissionsHomepageEAB {
	padding-bottom: 100px;
	font-family: $font-family-sans-serif;
	
	.eab-header {
	    font-family: $font-family-sans-serif;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	word-spacing: 1px;
    	width: 100%;
    	max-width: 440px;
    	font-size: calc(12px + (18 - 12) * ((100vw - 375px) / (991 - 375)));
	}
	.eab-row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.eab-sizing {
		height: 33.75vw;
		border-right: 10px solid white;
	}

	.eab-content {
		background: rgba(255, 255, 255, 0.8);
	    height: 91%;
	    width: 98%;
	    margin-top: 3%;
	    margin-left: 1%; 
	}

	hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 2px solid #00447c;
	    margin: 1em 0;
	    margin-top: 0.5em;
	    padding: 0;
	    width: 80%;
	}

	.eab-description {
		font-weight: 500;
		width: 80%;
	}

	.eab-list {
		font-weight: 700;
		padding-top: 15px;
		padding-left: 20px;
		li {
			padding-bottom: 5px;
		}
	}

	.eab-form {
		width: 100%;
		.eab-cta {
			width: 38%;
		}

		.custom-select {
			font-weight: 700;
			margin-right: 15px;
		    border: none;
		    width: 50%;
		    border-radius: 0px;
		    display: inline-block;
		    color: #5e5e5e;
		    background: #e8e8e8;
		    &:hover {
		    	background: #ececec;
		    }
		}

		.custom-select select {
		    padding: 5px 8px;
		    width: 100%;
		    height: 64px;
		    display: block;
		    border: none;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    -webkit-appearance: none;
		    text-align-last:center;
		    cursor: pointer;
		    &:focus {
		    	online: none;
		    }
		}

	}
}