section.admissionsHomepageEAB {
	.eab-header {
	    font-size: 1.75rem;
	    font-family: $font-family-sans-serif;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	word-spacing: 1px;
    	width: 100%;
    	max-width: 415px;
	}
	.eab-row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.eab-sizing {
		height: 33.75vw;
		border-right: 10px solid white;
	}

	.eab-content {
		background: rgba(255, 255, 255, 0.8);
	    height: 91%;
	    width: 98%;
	    margin-top: 3%;
	    margin-left: 1%; 
	}

	hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 2px solid #00447c;
	    margin: 1em 0;
	    margin-top: 0.5em;
	    padding: 0;
	    width: 80%;
	}

	.eab-description {
		font-family: $font-family-sans-serif;
		font-weight: 500;
		width: 80%;
	}

	.eab-list {
		font-family: $font-family-sans-serif;
		font-weight: 700;
		padding-top: 15px;
		padding-left: 20px;
		li {
			padding-bottom: 5px;
		}
	}

	.eab-form {
		width: 100%;
		.eab-cta {
			width: 38%;
		}
		// .eab-select {
		// 	padding: 10px 7px;
		// 	font-size: 16px;
		// 	color: #00447c;
		// 	border: #00447c solid 5px;
  //   		border-radius: 0px;
  //   		text-align: center;
  //   		width: 45%;
  //   		height: 54px;
		// }

		.custom-select {
			font-family: $font-family-sans-serif;
			font-weight: 700;
			margin-right: 15px;
		    border: none;
		    width: 40%;
		    border-radius: 0px;
		    display: inline-block;
		    color: #5e5e5e;
		    background: #e8e8e8;
		    &:hover {
		    	background: #ececec;
		    }
		  //   span {
				// width: 20%;
		  //   }
		}

		.custom-select select {
		    padding: 5px 8px;
		    width: 100%;
		    height: 64px;
		    // margin-left: auto;
		    // margin-right: auto;
		    display: block;
		    border: none;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    -webkit-appearance: none;
		    text-align-last:center;
		    cursor: pointer;
		}

		.custom-select select:focus {
		    outline: none;
		}
	}

	// .eab-sizing:hover span{
	// 	z-index: 10;
	// 	color: #d11242;
	// 	pointer-events: none;
	// }

	// .overlay {
	//     width:100%;
	//     height: auto;
	//     margin:auto;
	//     text-align: center;
	//     left:0;
	//     top:0;
	//     bottom: 0;
	//     right: 0;
	//     position:absolute;
	//     background:#ffffff;
	//     opacity: 0;
	//     transition: opacity 0.2s ease;
	// }
	// .overlay:hover {
	// 	opacity: 0.9;
	// }

	// .overlay-content {
	// 	position: relative;
	// 	top: 36%;
	// 	p {
	// 		font-size: 18px;
	// 		text-transform: uppercase;
	// 		margin-left: auto;
	// 		margin-right: auto;
	// 		width: 100%;
	// 		max-width: 387px;
	// 		word-spacing: 1px;
 //    		letter-spacing: 1px;
	// 	}
		
	// }
}