.admissionsHomepagePanels {
  .panel-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }

  .panel-sizing {
    height: 33.75vw;
  }

  .panel-sizing:hover span {
    z-index: 10;
    color: #d11242;
    pointer-events: none;
  }

  .overlay {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #ffffff;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .overlay:hover {
    opacity: 0.9;
  }

  .overlay-content {
    position: relative;
    top: 36%;
    p {
      font-family: $font-family-sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 387px;
      word-spacing: 1px;
      letter-spacing: 1px;
    }
  }

  .homepage-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .homepage-container:before,
  .homepage-container:after {
    display: table;
    content: "";
  }
  .homepage-container:after {
    clear: both;
  }

  @media (min-width: 1200px) {
    .homepage-container {
      width: 1170px !important;
    }
  }
  @media (min-width: 768px) {
    .homepage-container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .homepage-container {
      width: 970px;
    }
  }

  @media (min-width: 768px) {
    .large {
      width: 66% !important;
      text-align: left !important;
    }
  }

  .homepage-promo {
    display: block;
    margin-bottom: 1.375rem;
  }

  @media (min-width: 768px) {
    .homepage-promo {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (min-width: 768px) and (min-width: 768px) {
    .homepage-promo {
      float: left;
      width: 33.3333333333%;
    }
  }
  .homepage-promo-bg {
    display: block;
    padding: 15% 0;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .homepage-promo-bg:before,
  .homepage-promo-bg:after {
    content: " ";
    display: table;
  }
  .homepage-promo-bg:after {
    clear: both;
  }
  .homepage-promo-bg:hover .homepage-promo-heading,
  .homepage-promo-bg:focus .homepage-promo-heading,
  .homepage-promo-bg:active .homepage-promo-heading {
    display: none;
  }
  .homepage-promo-bg:hover .homepage-promo-text,
  .homepage-promo-bg:focus .homepage-promo-text,
  .homepage-promo-bg:active .homepage-promo-text {
    display: table;
    opacity: 1;
  }

  .homepage-promo-heading,
  .homepage-promo-text {
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 4.5rem;
    background-color: rgba(113, 112, 115, 0.8);
    display: table;
    width: 100%;
  }

  .homepage-promo-heading span,
  .homepage-promo-text span {
    display: table-cell;
    vertical-align: middle;
  }

  .homepage-promo-heading {
    text-transform: uppercase;
  }
  .homepage-promo-heading span {
    color: white !important;
  }

  .homepage-promo-text {
    display: none;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .center-panel1 {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1.5rem;
    font-weight: 400;
    color: #ffffff;
  }
}
