section.admissionsHomepageResources {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	text-align: center;
	h2.fancy {
		position: relative;
		font-family: $font-family-sans-serif;
		&:before {
			background: #3a3a3a;
			content: "";
			display: block;
			height: 2px;
			position: absolute;
			top: 50%;
			width: 100%;
		}
		&:before {
			left: 0;
		}
		span {
			background: #fff;
			padding: 0 15px;
			position: relative;
			z-index: 1;
		}
	}

	.resources-container {
		background: #3a3a3a;
		border-top: 15px solid $msu-red;
		padding-bottom: 20px;
		.resources-link {
			padding: 15px;
			margin: 5px 0;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
			transition: border-bottom 0.5s ease;
			transition: background 0.5s ease;
			a {
				color: white;
				font-size: 16px;
				font-weight: 500;
				}
				&:hover {
					border-bottom: 2px solid rgba(255, 255, 255, 0.8);
					background-color: rgba(136, 130, 130, 0.21);
			}
		}
	}

}
