section.admissionsHomepageApply {
	.application-outer-col {
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 40px;
	}

	.application-row {
		padding-top: 35px;
	}
	.application-image {
		width: 100%;
	}

	.application-copy {
		padding-top: 30px;
		padding-bottom: 25px;
		font-weight: 500;
	}

	a.application-link {
		font-family: $font-family-sans-serif;
		color: #0f61bd;
		font-size: 16px;
		font-weight: 700;
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover {
			color: #00447c;
		}
		span.pointer {
			font-size: 14px;
		}
	}

}