@media only screen and (max-width: 1345px) {
	.admissionsHomepageApply {
		.application-cta {
			height: 72px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.admissionsHomepageSlider {
		.carousel-controls {
			bottom: 40%;
		}
	}
}

@media only screen and (max-width: 991px) {
	.admissionsHomepageSlider {
		.carousel-controls {
			width: 35%;
			right: 0%;
			bottom: 60%;
		}

		.container.carousel-cta {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.admissionsHomepageApply {
		.application-outer-col {
			padding-bottom: 20px;
			padding-left: 15px;
			padding-right: 15px;
		}
		.application-cta {
			max-width: 395px;
		}
		.application-copy {
			padding-top: 15px;
			padding-bottom: 0px;
		}
	}


 	.admissionsHomepagePanels {
		.panel-sizing {
				 height: 45vw;
		 }
		.overlay-content {
			top: 28%;
		}
	}

	.admissionsHomepageEAB {
		padding-bottom: 50px;

		.eab-header {
			margin-top: 0px;
		}

		.eab-description {
			width: 100%;
		}

		hr {
			margin-bottom: 0.5em;
		}

		.eab-list {
			padding-top: 0px;
		}

		.eab-form {
			.custom-select {
				width: 100%;
				margin-right: 0px;
				margin-bottom: 20px;
			}
			.eab-cta {
				width: 100%;
			}
		}
	}

	.admissionsHomepageResources {
		.resources-container {
			.resources-link {
				p {
					margin: 0 auto;
					width: 80%;
				}
			}
		}
	}

}

@media only screen and (max-width: 767px) {
	section.admissionsHomepageSlider {
		.carousel-controls {
			width: 100%;
			right: 0%;
			bottom: 65%;
		}

		.hero-cta{
			margin-top: 5px;
			margin-bottom: 32px;
		}

	}

	.admissionsHomepageApply {
		.application-row {
			padding-top: 10px;
		}
		.application-outer-col {
			padding-bottom: 30px;
		}
		.application-cta {
			margin-top: 30px;
		}
		.application-image-padding {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.admissionsHomepagePanels {
		.panel-sizing {
			height: 67.535vw;
		}

		.panel-cta {
	        span {
	            position: relative;
	            z-index: 1;
	            font-size: 1em;

	        }
    	}
	}

	section.admissionsHomepageEAB {
		.eab-sizing {
			height: 67.535vw;
			border-right: none;
		}

		.eab-header {
			margin-top: 22px;
			font-size: 24px;
		}

		.eab-list {
			padding-top: 15px;
		}

		.eab-form {
			.custom-select {
				width: 100%;
				margin-right: 0px;
				margin-bottom: 20px;
			}
			.eab-cta {
				width: 100%;
			}
		}
	}
}

/** specific breakpoint media query being used in Exceptional Case **/
@media only screen and (max-width: 385px) {
	section.admissionsHomepageSlider {
		.carousel-controls {
			width: 100%;
			right: 0%;
			bottom: 72%;
		}
}

	.admissionsHomepagePanels {
		.overlay-content {
			top: 10%;
		}
	}
}
