#prechatFields {
  box-shadow: none;
  background: #F4F4F4;
  border: 1px solid #CECECE;
  color: #000;
  width: 530px;
  height: 35px;
}

#preChatContent {
  font-size: 14px;
  color: #000;
}

#preChatStartBot {
  background: #00447C;
  box-shadow: none;
  border-radius: 5px;
  color: #fff;
  width: 175px;
  height: 40px;
  border: 1px solid #093054;
  float: right;
  margin-right: 20px;
}

#preChatCloseTop {
  background: #D11242;
  border: 1px solid #AA0924;
  color: #fff;
  height: 40px;
  width: 115px;
  border-radius: 5px;
  float: right;
  margin: 20px 20px 2px 0;
  text-align: center;
  padding-left: 0px;

}

#preChatTitle {
  background: #fff;
}

#chatTitle {
  background: #fff;
}

#closeTop {
  background: #D11242;
  border: 1px solid #AA0924;
  color: #fff;
  height: 40px;
  width: 115px;
  border-radius: 5px;
  float: right;
  margin: 20px 20px 2px 0;
  text-align: center;
  padding-left: 0px;
}

/*.lhnmsg {
  background: #F4F4F4;
}

.lhnoperator {
  background: #F4F4F4;
}*/

#chatWindowTbl {
  background: #fff;
}

#chatConversation {
  background-color: #F4F4F4;
  border-color: #CECECE;
  height: 255px;
  width: 400px;
}

#message {
  background: #F4F4F4;
  border: 1px solid #CECECE;
  height: 80px;
  width: 400px;
  color: #000;
}

body {
  font-family: 'Open Sans';
  background: #fff;
  border: 1px solid #CECECE;
  color: #000000;
}

form {
  background: #fff;
}
